#desktop {
    display: none;
    /* background: cyan; */
}

#desktop ul {
    list-style: none;
}

#desktop li>.ui.button {
    text-align: left;
    padding: 8px;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 13px;
    position: relative;
}

#desktop li>.ui.button i.icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    font-size: 32px;
}

#desktop #list {
    min-height: 460px;
}
