#login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
}

#login #form {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -110px;
    width: 300px;
    height: 220px;
}

#login label {
    font-weight: normal;
}
