/* Semantic UI upgrade */

#tab > .ui.tiered.menu > .menu, .ui.dropdown .item, .fluid, .fluid > div, .fluid > span, .fluid input {
    width: 100% !important;
}

.menu .item {
    float: left;
}

.fluid .hasDatepicker {
    width: 0 !important;
}

.grouped.inline.fields .field {
    float: left;
}

#header {
    font-family: Ubuntu-R !important;
}

.ui.breadcrumb.small {
    font-size: 11px;
    letter-spacing: -0.4px;
    font-family: Ubuntu-L !important;
}

#tab .item {
    font-family: Ubuntu-L !important;
}

.ui.pagination .hidden-xs>.item:last-child {
    border-right: solid #E8E9E9 1px;
    border-radius: 0;
}

/* End Semantic UI upgrade */

.iconic-button {
    width: 46px; 
    height: 42px
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

#splash-screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3B83C0;
    z-index: 10000;
}

#splash-screen div {
    color: #FFFFFF;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -55px;
    margin-top: -24px;
    font-size: 16px;
    width: 110px;
    font-family: "Ubuntu-R";
}

#splash-screen i {
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
}

#main,
.ui.modal .header,
.ui.modal .page,
.ui.modal .content,
#main .header,
.ui.input input {
    font-family: "Ubuntu-L" !important;
}

#main .ui.button,
.ui.modal .actions .ui.button {
    font-family: "Ubuntu-L";
    font-size: 12px;
}
/* component */

.ui.modal .actions .ui.button {
    width: 64px;
    margin: 0;
}

#overlay {
    background: #000000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    display: none;
    cursor: pointer;
}

#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#splash {
    position: fixed;
    right: 8px;
    top: 48px;
    display: none;
}
/* document */

#header-wrapper {
    background: #3B83C0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#header-wrapper #header {
    margin: 0;
}

#panel {
    position: fixed;
    right: 8px;
    top: 36px;
    display: none;
    background: #FFFFFF;
    border: groove #888888 1px;
}

#panel .divider {
    border-bottom: solid #EBEBEB 1px;
}

#panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#panel a {
    padding: 8px;
    display: block;
    color: #313131;
    font-weight: bold;
    font-size: 12px;
    width: 180px;
}

#panel a:hover {
/*    background: #629CCD;*/
    background: #3195E0;
    color: #FFFFFF;
}

#header-wrapper #bread-crumb {
    background: #D6DCE4;
    height: 32px;
    border-top: solid #FFFFFF 1px;
    border-bottom: solid #BBC0C6 1px;
}

#header-wrapper #bread-crumb .ui.breadcrumb {
    margin: 8px;
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #FFFFFF;
    border-right: solid #888888 1px;
    overflow-y: auto;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu>ul>li>a {
    font-weight: bold;
}

#menu a {
    border-bottom: solid #EBEBEB 1px;
    display: block;
    color: #313131;
    padding: 12px;
    font-size: 13px;
}

#menu a:hover {
/*    background: #3B83C0;*/
    background: #2185D0;
    color: #FFFFFF;
}

#menu a.active {
/*    background: #629CCD;*/
    background: #1E77BB;
    color: #FFFFFF;
}

#menu a .caret {
    float: right;
}

#menu ul li ul {
    display: none;
}

#menu ul li ul li a {
    padding-left: 24px;
}

#menu ul li ul li ul li a {
    padding-left: 48px;
}

#page {
    position: relative;
    padding-top: 72px;
}

#page #button {
    background: #D6DCE4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: groove #F7F7F7 2px;
}

#page #button .ui.menu {
    background: #D6DCE4;
    border-radius: 0px;
}

#page #button .left.menu {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#page #button .left.menu .ui.button {
    width: 67px;
}

#page #button .right.menu a {
    padding: 12px;
	color: #2268C9;
}

#page #button .right.menu .file.outline.pdf.icon {
	color: #BB0706;
}

#page #button .right.menu .file.outline.excel.icon {
	color: #1E6D42;
}

@media screen and (min-width: 801px) {
    #header-wrapper,
    #page,
    #page #button {
        padding-left: 300px;
    }
    #menu {
        width: 300px;
    }
}

@media screen and (max-width: 800px) {
    #menu {
        width: 308px;
        left: -308px;
    }
}

@media screen and (max-width: 769px) {
    .hidden-sm {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    .hidden-xs {
        display: none !important;
    }
}

@media screen and (max-width: 320px) {
    #menu {
        width: 268px;
        left: -268px;
    }
}
