#page {
    padding-bottom: 42px;
}

#page .page {
    margin-top: 38px;
    display: none;
}

#page .page #tab {
    position: fixed;
    left: 0;
    top: 72px;
    width: 100%;
}

@media screen and (min-width: 801px) {
    #page .page #tab {
        padding-left: 300px;
    }
}

#page .page {
    padding: 24px;
}

#page .page .section {
    display: none;
}

#page .page .hover-table {
    margin-top: 8px;
    margin-bottom: 8px;
}

#page .page .hover-table tbody tr {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page .page .hover-table tbody tr:hover {
    background: #F7F7F7;
}

#page .page .section .ui.grid {
    margin: 0 !important;
    padding: 16px !important;
    margin-top: 16px !important;
}

#page .page .section .ui.grid:first-child {
    margin-top: 0px !important;
}

#page .page .section .column,
#page .page .section .row {
    padding: 0 !important;
}

#page .page .section .column {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

#page .page .section .row {
    margin-bottom: 8px !important;
}

#page .page .section .row:last-child {
    margin-bottom: 0px !important;
}

#page #list .ui.stackable.grid {
    padding: 0 !important;
}

#page #list .ui.stackable.grid .column {
    padding: 1px !important;
}

#page .ui.stackable.grid.container {
    margin: 0 !important;
    padding: 0 !important;
}


/* /// Revisi Mei 2020 ///  */

@media only screen and (max-width: 767px) {
    #page .page.mapel_view {
        padding: 0!important;
        padding-left: 8px!important;
        padding-right: 8px!important;
        padding-top: 15px!important;
        padding-bottom: 15px!important;
    }
    .unstackable {
        display: inline-block;
        overflow-x: auto!important;
    }
    /* .unstackable td:last-child {
       
    } */
    .unstackable td {
        border: 1px solid rgba(34, 36, 38, .1);
        border-bottom: none;
        border-left: none;
    }
    .unstackable tr {
        border: 1px solid rgba(34, 36, 38, .1);
        border-bottom: none;
        border-left: none;
    }
    .unstackable th {
        border: 1px solid rgba(34, 36, 38, .1);
        border-bottom: none;
        border-left: none;
    }
    .unstackable tbody tr:last-child td {
        border-bottom: 1px solid rgba(34, 36, 38, .1);
    }
    .ui.table {
        border: none;
    }
    .ui.celled.table tr td:first-child,
    .ui.celled.table tr th:first-child {
        border-left: 1px solid rgba(34, 36, 38, .1);
    }
    /* #page .page .section .ui.grid {
        margin: 0 !important;
        padding: 0 !important;
    }
    #preview {
        width: 767px;
        overflow-x: auto;
    }
    .ui.input input {
        padding: 0;
        padding-bottom: 10px;
        padding-top: 5px;
    } */
    td.active,
    tr.active {
        box-shadow: none;
        border: 2px solid red!important;
    }
    /* View Page */
    .v-JenisDiklat .ui.stackable.grid>.row>.thirteen.wide.column input {
        color: #586069!important;
        padding: 0;
        padding-bottom: 10px;
        padding-top: 5px;
        border: none;
    }
    .v-JenisDiklat .ui.stackable.grid>.row>.thirteen.wide.column {
        border-bottom: 1px solid rgba(34, 36, 38, .15);
    }
    /* .v-JenisDiklat .ui.grid>.stackable.stackable.row>.column,
    .v-JenisDiklat .ui.stackable.grid>.column.grid>.column,
    .v-JenisDiklat .ui.stackable.grid>.column.row>.column,
    .v-JenisDiklat .ui.stackable.grid>.column:not(.row),
    .v-JenisDiklat .ui.stackable.grid>.row>.column,.v-JenisDiklat .ui.stackable.grid>.wide.column, */
    /* .v-JenisDiklat .ui.stackable.grid>.row>.wide.column {
        width: auto!important;
        margin: 0!important;
        box-shadow: none!important;
        padding: 1rem!important;
    } */
    /* .v-JenisDiklat .ui.stackable.grid>.row>.three.wide.column {
        width: 120px!important;
        background: chartreuse;
        padding-top: 10px!important;
    } */
}

#page .page .hover-table tbody tr:hover {
    cursor: pointer;
    background: rgba(34, 36, 38, .11)!important;
    border: none;
}

.act-delete,
.act-detail,
.act-edit,
.act-jadwal,
.act-copy,
.act-simpan {
    width: 40px;
    padding: 6px 15px;
    border-radius: 3px;
    margin: 3px;
    margin-left: 0;
    margin-bottom: 1px;
    outline: none;
    background-color: #EEE;
    border: none;
    color: #555;
    cursor: pointer;
    transition: .2s;
    /* box-shadow: 0em 0em 3em rgba(0, 0, 0, 0); */
    background-color: rgb(89, 95, 114);
    color: rgba(255, 255, 255, .8);
    float: left;
}

.act-delete {
    background-color: #DB2828;
    color: rgba(255, 255, 255, .8);
}

.act-detail,
.act-simpan {
    background-color: #2185D0;
    color: rgba(255, 255, 255, .8);
}

.act-edit {
    background-color: #2185D0;
    color: rgba(255, 255, 255, .8);
}

.act-jadwal {
    background-color: #2185D0;
    color: rgba(255, 255, 255, .8);
}

.act-copy {
    background-color: #2185D0;
    color: rgba(255, 255, 255, .8);
}

#faiz1,
#zea {
    margin-top: 10px;
}

#faiz1 thead th:last-child {
    min-width: 350px!important;
}

#faiz1 tbody td:last-child {
    width: auto!important;
    border-bottom: 1px solid #c0c0c0;
}

#faiz1 thead,
#zea thead {
    background: #36304a;
}

#faiz1 thead tr,
#zea thead tr {
    height: 55px;
    color: #F7F7F7;
}

#faiz1 thead tr th,
#zea thead tr th {
    color: #F7F7F7;
    font-weight: 300;
    min-width: 20px;
}

#zea_filter.dataTables_filter {
    float: none;
    text-align: inherit;
}

#zea_filter.dataTables_filter input {
    margin-left: 0;
    margin-right: 20px;
    width: 96%!important;
}


/* Media Query */

@media only screen and (max-width: 1200px) {
    div.dataTables_wrapper {
        overflow-x: auto;
        padding-bottom: 30px;
    }
}


/* .label_name {
    width: 200px!important;
}

.text_name {
    width: 70%!important;
} */


/* View Input Jadwal */

.page-input-jadwal .ui.input input {
    padding: 0!important;
    border: none;
    border-radius: 0;
}

.page-input-jadwal .ui.disabled.input,
.page-input-jadwal .ui.input input[disabled] {
    opacity: 0.7;
}


/* input:before,
input[disabled]:after {
    content: "  :";
} */

.page-input-jadwal textarea {
    height: auto!important;
    padding: 0!important;
    opacity: 0.7;
    border: none!important;
}

.page-input-jadwal .ui.form textarea:not([rows]) {
    height: auto!important;
    min-height: auto!important;
    max-height: auto!important;
}

.inputjadwaltitle {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #c0c0c0;
    border-top: 2px solid #c0c0c0;
}

.page-input-jadwal .ui.table {
    border-color: #c0c0c0;
    border-top: 1px solid #c0c0c0;
}

.page-input-jadwal .ui.table thead th {
    border-color: #c0c0c0;
    background: #36304a;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.page-input-jadwal .ui.celled.table tr td,
.page-input-jadwal .ui.celled.table tr th {
    border-color: #c0c0c0;
}

.page-input-jadwal .ui.celled.table tbody tr td:first-child,
.page-input-jadwal .ui.celled.table tbody tr td:last-child {
    text-align: center;
}

#preview label.three.wide.column,
#preview label.two.wide.column,
#form label.three.wide.column,
#form label.two.wide.column {
    line-height: 2.7;
}

.page-input-jadwal label.three.wide.column,
.page-input-jadwal label.two.wide.column {
    line-height: normal!important;
}

/* Add Jam set */
.jam-set{
    width: 60px!important;
    padding-right: 0!important;
    margin-right: 0!important;
    padding-left: 5px;
    float: left;    
  }

.jam-set input{
    width: 50px!important;
    padding-right: 0!important;
    margin: 0!important;
    text-align: center;
  }

  .jam-set .fluid{
    width: 60px!important;
    padding-right: 0!important;
    margin: 0!important;
  }
  