/*-==========================================Variables=========================================-*/
@font-face {
  font-family: AvenirMedium;
  src: url(../fonts/Avenir-Medium.ttf);
}

@font-face {
  font-family: AvenirBook;
  src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../fonts/Avenir-Black.ttf);
}

@font-face {
  font-family: AvenirBlackOblique;
  src: url(../fonts/Avenir-BlackOblique.ttf);
}

@font-face {
  font-family: AvenirRoman;
  src: url(../fonts/Avenir-Roman.ttf);
}

@font-face {
  font-family: AvenirHeavy;
  src: url(../fonts/Avenir-Heavy.ttf);
}

.section-contact-us-content {
  padding-left: 10.5%;
  padding-right: 11%;
  padding-bottom: 11%;
}

.section-contact-us-content .wrap-side-content {
  background: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}

.section-contact-us-content .wrap-side-content .left-content {
  padding-bottom: 41px;
}

.section-contact-us-content .wrap-side-content .title-left hr {
  padding: 0;
  margin: 0;
  color: #eea62d;
  background-color: #eea62d;
  height: 1.5px;
  width: 20px;
  margin-bottom: 5px;
}

.section-contact-us-content .wrap-side-content .title-left h4 {
  padding: 0;
  margin: 0;
  color: #595959;
  font: 18px AvenirBook;
}

.section-contact-us-content .wrap-side-content .title-left h3 {
  padding: 0;
  margin: 0;
  color: #595959;
  font: 30px AvenirHeavy;
  margin-bottom: 25px;
}

.section-contact-us-content .wrap-side-content .title-left p {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 14px AvenirBook;
  text-align: justify;
  margin-bottom: 15px;
}

.section-contact-us-content .wrap-side-content .detail-contact hr {
  padding: 0;
  margin: 0;
  color: #eea62d;
  background-color: #eea62d;
  height: 1px;
  width: 20px;
  margin-bottom: 5px;
  margin-top: 35px;
}

.section-contact-us-content .wrap-side-content .detail-contact h4 {
  padding: 0;
  margin: 0;
  color: #595959;
  font: 14px AvenirHeavy;
}

.section-contact-us-content .wrap-side-content .detail-contact p {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 14px AvenirBook;
  text-align: justify;
  line-height: 20px;
}

.section-contact-us-content .wrap-side-content .title-right hr {
  padding: 0;
  margin: 0;
  color: #eea62d;
  background-color: #eea62d;
  height: 1.5px;
  width: 20px;
  margin-bottom: 5px;
}

.section-contact-us-content .wrap-side-content .title-right h4 {
  padding: 0;
  margin: 0;
  color: #595959;
  font: 18px AvenirBook;
}

.section-contact-us-content .wrap-side-content .title-right h3 {
  padding: 0;
  margin: 0;
  color: #595959;
  font: 30px AvenirHeavy;
  margin-bottom: 25px;
}

.section-contact-us-content .wrap-side-content .form-contact {
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.section-contact-us-content .wrap-side-content .form-contact .form-group {
  padding: 0;
  margin: 0;
}

.section-contact-us-content .wrap-side-content .form-contact .form-group input {
  border-radius: 0;
  font: 12px AvenirBook;
  color: #525252;
  margin-bottom: 11px;
}

.section-contact-us-content .wrap-side-content .form-contact .form-group textarea {
  resize: none;
  font: 12px AvenirBook;
  color: #525252;
  margin-bottom: 21px;
}

.section-contact-us-content .wrap-side-content .form-contact .form-control::-webkit-input-placeholder {
  color: #a0a9b6;
}

.section-contact-us-content .wrap-side-content .form-contact .form-control:-moz-placeholder {
  color: #a0a9b6;
}

.section-contact-us-content .wrap-side-content .form-contact .form-control::-moz-placeholder {
  color: #a0a9b6;
}

.section-contact-us-content .wrap-side-content .form-contact .form-control:-ms-input-placeholder {
  color: #a0a9b6;
}

.section-contact-us-content .wrap-side-content .form-contact button {
  font-family: AvenirMedium;
  font-size: 14px;
  width: 100%;
  background-color: #337ab7;
  border-radius: 0px;
  border: none;
  color: #ffffff;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
}

.section-contact-us-content .wrap-side-content .form-contact button:hover {
  opacity: 0.8;
}

.section-contact-us-content .wrap-side-content .form-contact button i {
  padding-left: 10px;
}

.maps {
  position: relative;
  height: 330px;
  border-top: 2px #0c4e99 solid;
}

.maps .maps_image {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0px;
  right: 50%;
  margin-top: -45px;
  margin-right: -45px;
  z-index: 2;
}

.maps #map {
  height: 100%;
}
/*# sourceMappingURL=contact-us.css.map */