/*-==========================================Variables=========================================-*/
@font-face {
  font-family: AvenirMedium;
  src: url(../fonts/Avenir-Medium.ttf);
}

@font-face {
  font-family: AvenirBook;
  src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../fonts/Avenir-Black.ttf);
}

@font-face {
  font-family: AvenirBlackOblique;
  src: url(../fonts/Avenir-BlackOblique.ttf);
}

@font-face {
  font-family: AvenirRoman;
  src: url(../fonts/Avenir-Roman.ttf);
}

@font-face {
  font-family: AvenirHeavy;
  src: url(../fonts/Avenir-Heavy.ttf);
}

.section-contact-us-content {
  padding-left: 10.5%;
  padding-right: 11%;
}

.section-contact-us-content .wrap-side-content .form-contact {
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.section-contact-us-content .wrap-side-content .form-contact .form-group {
  padding: 0;
  margin: 0;
}

.section-contact-us-content .wrap-side-content .form-contact .form-group input {
  border-radius: 0;
  font: 12px AvenirBook;
  color: #525252;
  margin-bottom: 11px;
}

.section-contact-us-content .wrap-side-content .form-contact .form-group textarea {
  resize: none;
  font: 12px AvenirBook;
  color: #525252;
  margin-bottom: 21px;
}

.section-contact-us-content .wrap-side-content .form-contact .form-control::-webkit-input-placeholder {
  color: #a0a9b6;
}

.section-contact-us-content .wrap-side-content .form-contact .form-control:-moz-placeholder {
  color: #a0a9b6;
}

.section-contact-us-content .wrap-side-content .form-contact .form-control::-moz-placeholder {
  color: #a0a9b6;
}

.section-contact-us-content .wrap-side-content .form-contact .form-control:-ms-input-placeholder {
  color: #a0a9b6;
}

.section-contact-us-content .wrap-side-content .form-contact button {
  font-family: AvenirMedium;
  font-size: 14px;
  width: 100%;
  background-color: #337ab7;
  border-radius: 0px;
  border: none;
  color: #ffffff;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
}

.section-contact-us-content .wrap-side-content .form-contact button:hover {
  opacity: 0.8;
}

.section-contact-us-content .wrap-side-content .form-contact button i {
  padding-left: 10px;
}

.section-contact-us-content .content {
  padding-top: 25px;
  background: #fff;
}

.section-contact-us-content .content .detail-content-ask ul,
.section-contact-us-content .content .detail-content-ask li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-contact-us-content .content .detail-content-ask ul {
  padding-left: 6%;
}

.section-contact-us-content .content .detail-content-ask li {
  border-bottom: 1px dashed #6183b5;
  margin-bottom: 11px;
}

.section-contact-us-content .content .detail-content-ask li:before {
  content: '\f059';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #337ab7;
}

.section-contact-us-content .content .detail-content-ask a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

.section-contact-us-content .content .detail-content-ask a:hover {
  color: #6183b5;
}

h3 {
  margin: 0;
  padding: 0;
  padding-left: 1.5%;
  margin-bottom: 25px;
}

.content-kanan {
  text-align: center;
}

.content-kanan input {
  margin-top: 5px;
}

.content-kanan .widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.content-kanan .widget-area {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  position: relative;
  width: 100%;
}

.content-kanan .status-upload {
  background: none repeat scroll 0 0 #f5f5f5;
  border-radius: 4px;
  float: left;
  width: 100%;
}

.content-kanan .status-upload form {
  float: left;
  width: 100%;
}

.content-kanan .status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize: vertical;
  outline: none;
  border: 1px solid #F2F2F2;
}

.content-kanan .status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
}

.content-kanan .status-upload ul > li {
  float: left;
}

.content-kanan .status-upload ul > li > a {
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
}

.content-kanan .status-upload ul > li > a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff;
}

.content-kanan .status-upload form button {
  border: medium none;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 6px 15px;
}

.content-kanan .dropdown > a > span.green:before {
  border-left-color: #2dcb73;
}

.content-kanan .status-upload form button > i {
  margin-right: 7px;
}

.content-kanan .btn-comment {
  width: 100px !important;
  height: 30px !important;
  padding: 0 !important;
  margin: 0 !important;
  margin: 11px !important;
}

.pertanyaan {
  margin-bottom: 25px;
}

.pertanyaan h4 {
  margin-bottom: 11px;
}

.pertanyaan p {
  font: 16px AvenirRoman;
  margin-top: 15px;
  color: #6183b5;
}

.jawaban {
  margin-bottom: 25px;
  border-bottom: 1px solid #e7e7e7;
}

.jawaban h4 {
  margin-bottom: 11px;
}

.jawaban p {
  font: 14px AvenirRoman;
  margin-bottom: 15px;
}

.balasan {
  margin-bottom: 15px;
}

.balasan h4 {
  margin-bottom: 11px;
}

.balasan p {
  font: 14px AvenirRoman;
  margin-bottom: 15px;
}

.balasan .list-balasan {
  border-bottom: 1px solid #e7e7e7;
}

time {
  font-size: 12px;
  font-weight: 700;
  color: #6183b5;
  float: right;
  margin-bottom: 11px;
  margin-top: 11px;
  padding-right: 15px;
}
/*# sourceMappingURL=faq.css.map */