/*-==========================================Variables=========================================-*/
@font-face {
  font-family: AvenirMedium;
  src: url(../fonts/Avenir-Medium.ttf);
}

@font-face {
  font-family: AvenirBook;
  src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../fonts/Avenir-Black.ttf);
}

@font-face {
  font-family: AvenirBlackOblique;
  src: url(../fonts/Avenir-BlackOblique.ttf);
}

@font-face {
  font-family: AvenirRoman;
  src: url(../fonts/Avenir-Roman.ttf);
}

@font-face {
  font-family: AvenirHeavy;
  src: url(../fonts/Avenir-Heavy.ttf);
}

.section-pendaftaran-content {
  font: 14px AvenirRoman;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 4%;
  padding-bottom: 5%;
}

.section-pendaftaran-content .wrap-side-content {
  background: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}

.section-pendaftaran-content .tinymce-course-title h1,
.section-pendaftaran-content .tinymce-course-title h2,
.section-pendaftaran-content .tinymce-course-title h3,
.section-pendaftaran-content .tinymce-course-title h4,
.section-pendaftaran-content .tinymce-course-title h5,
.section-pendaftaran-content .tinymce-course-title h6,
.section-pendaftaran-content .tinymce-course-title p,
.section-pendaftaran-content .tinymce-course-title span {
  padding: 0;
  margin: 0;
  color: #595959;
  font: 24px AvenirBlack;
  padding-bottom: 45px;
}

.btn-reg {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 7px 0px;
  width: 90px;
  margin-top: 0px;
  margin-right: 3px;
}

.btn-reg:hover {
  opacity: 0.7;
  background: #337ab7;
}

.section-reg {
  font: 14px AvenirRoman;
  position: relative;
  padding-top: 30px;
}

.section-reg .form-contact .form-group input {
  border-radius: 0 !important;
  font: 14px AvenirBook;
  color: #353434;
}

.section-reg .form-contact .form-group textarea {
  resize: none;
  font: 14px AvenirBook;
  color: #353434;
}

.section-reg .form-contact .contact-group {
  margin-bottom: 11px;
}

.section-reg .form-contact .contact-group label {
  padding: 0;
  margin: 0;
  font: 14px AvenirBook !important;
  color: #353434 !important;
  padding-top: 5px !important;
  padding-right: 35px;
}

.section-reg .form-contact .contact-group .selectpicker {
  border-radius: 0px !important;
}

.section-reg .form-contact .contact-group img {
  max-width: 200px;
  margin-bottom: 5px;
  border: 1px solid #e7e7e7;
}

.section-reg .form-contact .btn-default {
  border-radius: 0 !important;
  border-color: rgba(215, 215, 215, 0.8) !important;
  -webkit-box-shadow: 0 1px 1px rgba(18, 83, 156, 0.03) inset, 0 0 2px rgba(18, 83, 156, 0.3) !important;
          box-shadow: 0 1px 1px rgba(18, 83, 156, 0.03) inset, 0 0 2px rgba(18, 83, 156, 0.3) !important;
}

.section-reg .form-contact textarea:focus {
  border-color: rgba(215, 215, 215, 0.8) !important;
  -webkit-box-shadow: 0 1px 1px rgba(18, 83, 156, 0.03) inset, 0 0 2px rgba(18, 83, 156, 0.3) !important;
          box-shadow: 0 1px 1px rgba(18, 83, 156, 0.03) inset, 0 0 2px rgba(18, 83, 156, 0.3) !important;
}

.radio-wrap {
  padding-left: 20px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*.filter-option {color:#999!important}*/
/*# sourceMappingURL=form-pendaftaran.css.map */