.form-cetak-pendaftaran {
  width: 100%;
  font-family: Arial;
  font-size: 14px;
  color: #000000;
}

.form-cetak-pendaftaran .row {
  max-width: 670px;
  margin: 0 auto;
}

.form-cetak-pendaftaran .row .content-fcp {
  border: 1px solid #ddd;
  padding: 15px;
  width: 100%;
}

.form-cetak-pendaftaran .row .content-fcp .fcp-title {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.img-fcp {
  width: 172px;
  height: 227px;
  max-width: 172px;
  max-height: 227px;
  border: 2px solid #eee;
  background: red;
}

/* Clear floats after the columns */
.cp1:after,
.cp2:after,
.cp3:after,
.cp4:after {
  content: "";
  display: table;
  clear: both;
}

.cp100 {
  width: 100%;
}

.cp1 {
  margin-bottom: 15px;
}

.cp1 .cp1-1 {
  float: left;
  width: 35%;
  color: #fff;
}

.cp1 .cp1-2 {
  float: left;
  width: 30%;
}

.cp1 .cp1-3 {
  float: left;
  width: 35%;
}

.cp2 {
  border: 2px solid #000000;
  padding: 24px 20px;
  margin-bottom: 15px;
}

.cp2 .biodata-title {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-decoration: underline;
  text-align: center;
}

.cp2 .cp1-1 {
  width: 100%;
  color: #000000;
}

.cp2 .cp1-1 .tbcol-1 {
  width: 185px;
  text-align: left;
  line-height: 1.3;
}

.cp2 .cp1-1 .tbcol-2 {
  width: 15px;
  text-align: center;
  line-height: 1.3;
}

.cp2 .cp1-1 .tbcol-3 {
  text-align: left;
  line-height: 1.3;
}

.col-wrap {
  word-break: break-all;
  vertical-align: top;
}

.cp3 {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.cp3 .title-syarat {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.cp3 *,
.cp3 *:before,
.cp3 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cp3 .form-group {
  display: block;
  margin-bottom: 5px;
}

.cp3 .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.cp3 .form-group label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.cp3 .form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid black;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.cp3 .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cp4 {
  margin-top: 15px;
  padding-top: 10px;
}

.cp4 .cp1-1 {
  float: left;
  width: 60%;
  color: #fff;
}

.cp4 .cp1-2 {
  float: left;
  width: 40%;
}

.cp4 .tgl-cetak {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: normal;
  font-size: 14px;
  font-weight: 700;
}

.cp4 .caption-peserta {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  font-size: 15px;
  font-weight: normal;
  font-size: 14px;
  font-weight: 700;
}

.cp4 .caption-nama {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 3px;
}

.cp4 .caption-ttd {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
}

.cp4 .caption-nip {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  font-size: 14px;
  font-weight: 700;
}
/*# sourceMappingURL=form-cetak-pendaftaran.css.map */