/*-==========================================Variables=========================================-*/
@font-face {
  font-family: AvenirMedium;
  src: url(../fonts/Avenir-Medium.ttf);
}

@font-face {
  font-family: AvenirBook;
  src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../fonts/Avenir-Black.ttf);
}

@font-face {
  font-family: AvenirBlackOblique;
  src: url(../fonts/Avenir-BlackOblique.ttf);
}

@font-face {
  font-family: AvenirRoman;
  src: url(../fonts/Avenir-Roman.ttf);
}

@font-face {
  font-family: AvenirHeavy;
  src: url(../fonts/Avenir-Heavy.ttf);
}

/*-==========================================Resetter=========================================-*/
.reset-col {
  margin: 0;
  padding: 0;
}

.reset-l {
  margin: 0;
  padding-left: 0;
}

.reset-r {
  margin: 0;
  padding-right: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
}

strong {
  font-weight: 300 !important;
}

.rata {
  overflow: hidden;
}

.main-left-col {
  background: #f0f0f0;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border: 1px solid #dadada;
  border-bottom: none;
}

.main-right-col {
  background: #fff;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

/*-=================================================Page================================================-*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100% !important;
  overflow-x: hidden;
}

#wrapper {
  min-height: 100%;
  padding-bottom: 40px;
  overflow-x: hidden;
}

/*Header*/
.header {
  z-index: 999999999 !important;
  /*Submenu Dropdown*/
}

.header .header-top {
  background: #fff;
  border-top: 5px solid #b1bbbd;
  padding: 13px 30px 0px 30px;
  height: 100px;
}

.header .header-top img {
  float: left;
  margin-right: 10px;
}

.header .header-top h3 {
  padding: 0;
  margin: 0;
  font: 16px AvenirRoman;
  color: #000000;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 2px;
  letter-spacing: 2px;
}

.header .header-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font: 12px AvenirMedium;
  color: #000000;
}

.header .header-top ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.header .header-top ul .bahasa {
  margin-top: 5px;
  padding-right: 60px;
  margin-bottom: 11px;
}

.header .header-top ul .bahasa .btn-default {
  font: 12px AvenirMedium;
  color: #000000;
  padding: 0;
  margin: 0;
  background: #fff;
  border: none !important;
  outline: none;
  border-radius: 0;
  outline: 0px !important;
  -webkit-appearance: none;
}

.header .header-top ul .bahasa .caret {
  color: #eea428;
  margin-top: -3px !important;
}

.header .header-top ul .callsupport {
  margin-top: 6px;
}

.header .header-top ul .callsupport p strong {
  font-weight: normal;
}

.header .header-top ul .callsupport p a {
  color: #000000;
  text-decoration: none;
  padding-right: 40px;
}

.header .header-menu .navbar-default {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: #fff;
  border-bottom: none;
}

.header .header-menu .navbar-default li {
  padding-top: 10px;
}

.header .header-menu .navbar-default a {
  color: #000000;
  font: 14px AvenirBook;
}

.header .header-menu .navbar-default a:hover {
  color: #b1bbbd;
}

.header .header-menu .navbar-static {
  border-bottom: 0.3px solid #dadada;
  padding-bottom: 7px;
}

.header .header-menu .navbar-brand {
  padding: 0px;
}

.header .header-menu .navbar-brand > img {
  height: 100%;
  padding: 10px 10px 0px 45px;
  width: auto;
  margin-right: 15px;
  margin-top: 5px;
}

.header .header-menu .navbar-default .navbar-nav > .active {
  color: #b1bbbd;
  background: transparent;
}

.header .header-menu .navbar-default .navbar-nav > .active > a,
.header .header-menu .navbar-default .navbar-nav > .active > a:hover,
.header .header-menu .navbar-default .navbar-nav > .active > a:focus {
  color: #b1bbbd;
  background: transparent;
}

.header .header-menu .navbar-right .search-box {
  margin-top: 5px;
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s, -webkit-box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: none;
}

.header .header-menu .navbar-right .search-box + label .search-icon {
  color: black;
}

.header .header-menu .navbar-right .search-box:hover {
  color: white;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .header-menu .navbar-right .search-box:hover + label .search-icon {
  color: white;
}

.header .header-menu .navbar-right .search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}

.header .header-menu .navbar-right .search-box:focus + label .search-icon {
  color: black;
}

.header .header-menu .navbar-right .search-box:not(:focus) {
  text-indent: -5000px;
}

.header .header-menu .navbar-right label {
  margin: 0;
  padding: 0;
}

.header .header-menu .navbar-right .search-icon {
  position: relative;
  left: -35px;
  color: white;
  cursor: pointer;
}

.header .header-menu .navbar-right .search-icon img {
  width: 80%;
}

.header .dropdown-menu > li > a {
  padding-left: 5px;
}

.header .dropdown-submenu {
  position: relative;
}

.header .dropdown-submenu > .dropdown-menu {
  top: -1px;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0;
}

.header .dropdown-submenu > a:after {
  display: block;
  float: right;
  margin-right: -15px;
  margin-top: 2px;
  font-family: "FontAwesome";
  content: "\f105";
  color: #333;
  font-size: 14px;
}

.header .dropdown-submenu:hover > a:after {
  border-left-color: #555;
}

.header .dropdown-menu {
  margin: 0 !important;
  padding: 0 !important;
}

.header .dropdown-menu > li {
  margin: 0 !important;
  padding: 0 !important;
}

.header .dropdown-menu > li > a {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
}

.header .dropdown-menu > li > a:hover {
  text-decoration: none;
  background: #e8ebf0;
  color: #333 !important;
}

@media (min-width: 768px) {
  .header ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  .header #navbar {
    text-align: center;
  }
}

.title-xs {
  padding-top: 7px;
  padding-left: 30px;
}

.title-xs img {
  float: left;
  margin-right: 5px;
}

.title-xs h3 {
  padding: 0;
  margin: 0;
  font: 12px AvenirRoman;
  color: #000000;
  line-height: 14px;
  font-weight: 700;
  margin-bottom: 2px;
  letter-spacing: 1px;
}

/* bootstrap 3 helpers */
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100 !important;
}

#sidebar.affix-top {
  position: static;
}

#sidebar.affix {
  position: fixed;
  top: 80px;
}

.section-pages-banner {
  position: relative;
  /*margin-top: 11px;*/
}

.section-pages-banner .image-bg {
  width: 100%;
}

.section-pages-banner .banner-box {
  position: relative;
}

.section-pages-banner .banner-box .banner-title {
  position: absolute;
  bottom: 20px;
  left: 11%;
}

.section-pages-banner .banner-box .banner-title h2 {
  padding: 0;
  margin: 0;
  color: #fff;
  font: 40px AvenirBlackOblique;
  float: left;
  margin-right: 35px;
}

.section-pages-banner .banner-box .banner-title .btn-visit {
  font: 18px AvenirMedium;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 11px 35px;
}

.section-pages-banner .banner-box .banner-title .btn-visit img {
  margin-right: 15px;
  margin-top: -3px;
}

.section-pages-banner .banner-box .banner-title .btn-visit:hover {
  background: #337ab7;
}

.section-pages-banner .image-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-pages-banner .image-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 88, 159, 0.5);
}

/*================================================Separated Styling=================================================*/
.social {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-bottom: 15px;
}

.social .smGlobalBtn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 27px;
  height: 27px;
  border: 0.5px solid #4b4b4b;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8em;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.social .facebookBtn {
  background: #4b4b4b;
}

.social .facebookBtn:hover {
  opacity: 0.7;
}

.social .facebookBtn:before {
  font-family: "FontAwesome";
  content: "\f09a";
}

.social .twitterBtn {
  background: #4b4b4b;
}

.social .twitterBtn:hover {
  opacity: 0.7;
}

.social .twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099";
}

.social .googleplusBtn {
  background: #4b4b4b;
}

.social .googleplusBtn:hover {
  opacity: 0.7;
}

.social .googleplusBtn:before {
  font-family: "FontAwesome";
  content: "\f0d5";
}

.social .linkedinBtn {
  background: #4b4b4b;
}

.social .linkedinBtn:hover {
  opacity: 0.7;
}

.social .linkedinBtn:before {
  font-family: "FontAwesome";
  content: "\f0e1";
}

/*================================================Separated Styling=================================================*/
/*================================================Separated Styling=================================================*/
.widget-sidebar {
  padding-bottom: 50px;
}

.widget-sidebar .contact-sidebar {
  padding: 0px 23px 25px 23px;
  padding-top: 15%;
}

.widget-sidebar .contact-sidebar h2 {
  text-align: center;
  padding: 0;
  margin: 25px 0px;
  color: #595959;
  font: 21px AvenirBlack;
}

.widget-sidebar .contact-sidebar .form-contact {
  text-align: center;
  font: 14px AvenirRoman;
  color: #6f6f6f;
}

.widget-sidebar .contact-sidebar .form-contact input {
  margin-bottom: 13px;
  border-radius: 0;
  border: 1px solid #dadada;
  color: #6f6f6f;
  height: 41px;
}

.widget-sidebar .contact-sidebar .form-contact textarea {
  margin-bottom: 15px;
  resize: none;
  border: 1px solid #dadada;
  color: #6f6f6f;
}

.widget-sidebar .form-control:focus {
  border-color: rgba(201, 34, 40, 0.5);
  -webkit-box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(201, 34, 40, 0.3);
          box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(201, 34, 40, 0.3);
}

.widget-sidebar .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
}

.widget-sidebar .btn-sidebar:hover {
  opacity: 0.7;
}

.footer {
  background-color: #12539c;
  margin-top: -40px;
  height: auto;
}

.footer p {
  padding: 15px 0px 0px;
  color: #ffffff;
  font-family: AvenirRoman;
  font-size: 12px;
}

.footer .breadcrumb > li + li:before {
  color: #ffffff;
}

.footer .breadcrumb {
  background-color: #12539c;
  padding: 20px 0px 0px;
}

.footer .breadcrumb li a {
  color: #ffffff;
  text-decoration: none;
  font-family: AvenirRoman;
  font-size: 12px;
}

.footer .breadcrumb li a:hover {
  opacity: 0.7;
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

/*Comment*/
.comment-widget {
  padding-top: 50px;
}

.comment-title {
  padding-bottom: 20px;
}

.comment-title .num-comment {
  font-size: 20px;
  font-weight: 700;
}

.comment-title .title-comment {
  font-size: 20px;
  font-weight: 700;
  padding-left: 5px;
}

.comment-title i {
  color: yellow;
  padding-right: 5px;
}

.comment-title .num-star {
  font-size: 14px;
  font-weight: 700;
}

.btn-comment {
  font: 16px AvenirMedium;
  border-radius: 20px;
  background: #eea62d;
  border: 1px solid #eea62d;
  color: #fff;
  padding: 10px 40px;
}

.btn-comment:hover {
  opacity: 0.9;
}

.sign-in {
  padding-top: 5px;
  /*---- Genral classes end -------*/
  /*Change icons size here*/
  /*Change icons circle size and color here*/
}

.sign-in .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.sign-in .list-inline li {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 10px;
}

.sign-in .social-icons .fa {
  font-size: 1.6em;
}

.sign-in .social-icons .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sign-in .social-icons.icon-circle .fa {
  border-radius: 50%;
}

.sign-in .social-icons.icon-rounded .fa {
  border-radius: 5px;
}

.sign-in .social-icons.icon-flat .fa {
  border-radius: 0;
}

.sign-in .social-icons .fa:hover,
.sign-in .social-icons .fa:active {
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
}

.sign-in .social-icons.icon-zoom .fa:hover,
.sign-in .social-icons.icon-zoom .fa:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sign-in .social-icons.icon-rotate .fa:hover,
.sign-in .social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.sign-in .social-icons .fa-adn {
  background-color: #504e54;
}

.sign-in .social-icons .fa-apple {
  background-color: #aeb5c5;
}

.sign-in .social-icons .fa-android {
  background-color: #A5C63B;
}

.sign-in .social-icons .fa-bitbucket,
.sign-in .social-icons .fa-bitbucket-square {
  background-color: #003366;
}

.sign-in .social-icons .fa-bitcoin,
.sign-in .social-icons .fa-btc {
  background-color: #F7931A;
}

.sign-in .social-icons .fa-css3 {
  background-color: #1572B7;
}

.sign-in .social-icons .fa-dribbble {
  background-color: #F46899;
}

.sign-in .social-icons .fa-dropbox {
  background-color: #018BD3;
}

.sign-in .social-icons .fa-facebook,
.sign-in .social-icons .fa-facebook-square {
  background-color: #3C599F;
}

.sign-in .social-icons .fa-flickr {
  background-color: #FF0084;
}

.sign-in .social-icons .fa-foursquare {
  background-color: #0086BE;
}

.sign-in .social-icons .fa-github,
.sign-in .social-icons .fa-github-alt,
.sign-in .social-icons .fa-github-square {
  background-color: #070709;
}

.sign-in .social-icons .fa-google-plus,
.sign-in .social-icons .fa-google-plus-square {
  background-color: #CF3D2E;
}

.sign-in .social-icons .fa-html5 {
  background-color: #E54D26;
}

.sign-in .social-icons .fa-instagram {
  background-color: #A1755C;
}

.sign-in .social-icons .fa-linkedin,
.sign-in .social-icons .fa-linkedin-square {
  background-color: #0085AE;
}

.sign-in .social-icons .fa-linux {
  background-color: #FBC002;
  color: #333;
}

.sign-in .social-icons .fa-maxcdn {
  background-color: #F6AE1C;
}

.sign-in .social-icons .fa-pagelines {
  background-color: #241E20;
  color: #3984EA;
}

.sign-in .social-icons .fa-pinterest,
.sign-in .social-icons .fa-pinterest-square {
  background-color: #CC2127;
}

.sign-in .social-icons .fa-renren {
  background-color: #025DAC;
}

.sign-in .social-icons .fa-skype {
  background-color: #01AEF2;
}

.sign-in .social-icons .fa-stack-exchange {
  background-color: #245590;
}

.sign-in .social-icons .fa-stack-overflow {
  background-color: #FF7300;
}

.sign-in .social-icons .fa-trello {
  background-color: #265A7F;
}

.sign-in .social-icons .fa-tumblr,
.sign-in .social-icons .fa-tumblr-square {
  background-color: #314E6C;
}

.sign-in .social-icons .fa-twitter,
.sign-in .social-icons .fa-twitter-square {
  background-color: #32CCFE;
}

.sign-in .social-icons .fa-vimeo-square {
  background-color: #229ACC;
}

.sign-in .social-icons .fa-vk {
  background-color: #375474;
}

.sign-in .social-icons .fa-weibo {
  background-color: #D72B2B;
}

.sign-in .social-icons .fa-windows {
  background-color: #12B6F3;
}

.sign-in .social-icons .fa-xing,
.sign-in .social-icons .fa-xing-square {
  background-color: #00555C;
}

.sign-in .social-icons .fa-youtube,
.sign-in .social-icons .fa-youtube-play,
.sign-in .social-icons .fa-youtube-square {
  background-color: #C52F30;
}

.pick-name {
  padding-top: 5px;
}

.pick-name input {
  margin-top: 5px;
}

/*========================*/
.widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  margin-bottom: 35px;
}

.widget-area {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  position: relative;
  width: 100%;
}

.status-upload {
  background: none repeat scroll 0 0 #f5f5f5;
  border-radius: 4px;
  float: left;
  width: 100%;
}

.status-upload form {
  float: left;
  width: 100%;
}

.status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize: vertical;
  outline: none;
  border: 1px solid #F2F2F2;
}

.status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
}

.status-upload ul > li {
  float: left;
}

.status-upload ul > li > a {
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
}

.status-upload ul > li > a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff;
}

.status-upload form button {
  border: medium none;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 6px 15px;
}

.dropdown > a > span.green:before {
  border-left-color: #2dcb73;
}

.status-upload form button > i {
  margin-right: 7px;
}

/*Reply*/
/*Comment List styles*/
.comment-list .row {
  margin-bottom: 0px;
  font-size: 12px;
}

.comment-list .panel .panel-heading {
  padding: 4px 11px;
  position: absolute;
  border: none;
  /*Panel-heading border radius*/
  border-top-right-radius: 0px;
  top: 1px;
}

.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius: 0px;
  right: 16px;
}

.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}

.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}

/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after,
  .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after,
  .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}

.comment-list .comment-post {
  margin-top: 6px;
}

.comment-list .comment-user {
  font-size: 12px;
  font-weight: 700;
}

.comment-thumb img {
  border-radius: 3px;
}

.side-bar-tp {
  background: #f0f0f0;
}

.side-bar-tp .panel-group {
  padding: 0 !important;
  margin: 0 !important;
}

.side-bar-tp .panel {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
}

.side-bar-tp .panel-default {
  padding: 0;
  margin: 0;
  border-radius: 0px;
  border: none;
}

.side-bar-tp .panel-default .panel-heading {
  padding: 0;
  margin: 0;
  background-color: #fff !important;
  border-radius: 0px;
  padding: 20px 17px 20px 23px;
  color: #595959;
  font: 14px AvenirBlack;
  border: none;
  border-top: 1px solid #e7e7e7;
}

.side-bar-tp .panel-default .panel-heading .panel-title {
  border: none;
}

.side-bar-tp .panel-default .panel-heading .panel-title a {
  text-decoration: none;
  color: #595959;
  font: 14px AvenirBlack;
}

.side-bar-tp .panel-default .single a {
  text-decoration: none;
  color: #595959;
  font: 14px AvenirBlack;
}

.side-bar-tp .panel-default .single a:hover {
  color: #19589f;
}

.side-bar-tp .panel-default .single .active {
  color: #19589f;
}

.side-bar-tp .panel-default .panel-body {
  padding: 0;
  margin: 0;
  background-color: #fff !important;
  border-radius: 0px;
  border: none;
}

.side-bar-tp .panel-default .panel-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-bar-tp .panel-default .panel-body ul li {
  padding: 0;
  margin: 0;
  text-align: left;
  background: #fff;
  padding: 20px 0 20px 43px;
  border-bottom: 1px solid #e7e7e7;
}

.side-bar-tp .panel-default .panel-body ul li a {
  text-decoration: none;
  color: #505050;
  font: 14px AvenirBlack;
}

.side-bar-tp .panel-default .panel-body ul li a:hover {
  color: #19589f;
}

.side-bar-tp .panel-default .panel-body ul .active {
  border-top: none;
}

.side-bar-tp .panel-default .panel-body ul .active a {
  color: #19589f;
}

.side-bar-tp .sublevel1 .panel-heading {
  padding: 0;
  margin: 0;
  background-color: #fff !important;
  border-radius: 0px;
  padding: 20px 17px 20px 46px;
  color: #595959;
  font: 14px AvenirBlack;
  border: none;
  border-top: 1px solid #e7e7e7;
}

.side-bar-tp .sublevel1 .panel-heading .panel-title {
  border: none;
}

.side-bar-tp .sublevel1 .panel-heading .panel-title a {
  text-decoration: none;
  color: #595959;
  font: 14px AvenirBlack;
}

.side-bar-tp .sublevel2 .panel-heading {
  padding: 0;
  margin: 0;
  background-color: #fff !important;
  border-radius: 0px;
  padding: 20px 17px 20px 69px;
  color: #595959;
  font: 14px AvenirBlack;
  border: none;
  border-top: 1px solid #e7e7e7;
}

.side-bar-tp .sublevel2 .panel-heading .panel-title {
  border: none;
}

.side-bar-tp .sublevel2 .panel-heading .panel-title a {
  text-decoration: none;
  color: #595959;
  font: 14px AvenirBlack;
}

.side-bar-tp .sublevel3 .panel-heading {
  padding: 0;
  margin: 0;
  background-color: #fff !important;
  border-radius: 0px;
  padding: 20px 17px 20px 92px;
  color: #595959;
  font: 14px AvenirBlack;
  border: none;
  border-top: 1px solid #e7e7e7;
}

.side-bar-tp .sublevel3 .panel-heading .panel-title {
  border: none;
}

.side-bar-tp .sublevel3 .panel-heading .panel-title a {
  text-decoration: none;
  color: #595959;
  font: 14px AvenirBlack;
}

.search-widget {
  background: #fff;
  text-align: center;
  padding: 15px;
  color: #4a4a4d;
  font: 14px AvenirRoman;
}

.search-widget .form-control:focus {
  border-color: rgba(201, 34, 40, 0.1);
  -webkit-box-shadow: 0px 0.1px 0.1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(201, 34, 40, 0.3);
          box-shadow: 0px 0.1px 0.1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(201, 34, 40, 0.3);
}

.search-widget input {
  border-radius: 0;
  height: 43px;
  position: relative;
  color: #4a4a4d;
  font: 14px AvenirRoman;
}

.search-widget i {
  position: absolute;
  right: 31px;
  top: 27px;
  font-size: 18px;
  color: #a2a2a2;
}

/*Breadcrumb Link*/
.breadcrumb-title {
  background: #fff;
  border-bottom: 0.5px solid #e9f1fd;
  margin-bottom: 25px;
}

.breadcrumb-title ul,
.breadcrumb-title li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.breadcrumb-title ul {
  padding: 11px 0 11px 0px;
}

.breadcrumb-title li {
  color: #333;
  font-size: 12px;
}

.breadcrumb-title a {
  margin-right: 5px;
  text-decoration: none;
  color: #333;
}

.breadcrumb-title a:hover {
  color: #6183b5;
}

.breadcrumb-title .active {
  padding: 0;
  margin: 0;
  color: #6183b5;
  font: 12px AvenirRoman;
  text-decoration: none;
  cursor: none;
}

.pagination {
  padding-top: 33px;
}

.pagination li a,
.pagination li span {
  border-radius: 50% !important;
  border: none;
  margin: 0 5px;
  /*background: #6183b5;*/
  border: 1px solid #ccc;
  color: #4a4a4d;
}

.pagination li a:hover,
.pagination li span:hover {
  cursor: pointer;
}

.pagination .active a {
  background: #337ab7;
  border: 1px solid #337ab7;
}

/*Login*/
.login-sidebar {
  padding-top: 5%;
  padding-bottom: 11%;
  border-bottom: 1px solid #e7e7e7;
}

.login-sidebar h5 {
  color: #4a4a4d;
  font: 18px AvenirRoman;
  text-align: center;
  margin-bottom: 21px;
}

.login-sidebar .input-group {
  margin-bottom: 5px;
}

.login-sidebar i {
  width: 20px;
}

.login-sidebar a {
  color: #6183b5;
  font: 14px AvenirRoman;
  text-decoration: none;
  padding-top: 7px;
  padding-right: 3px;
}

.login-sidebar a:hover {
  color: #337ab7;
}

.img-login {
  max-width: 120px;
}

.btn-login {
  font: 14px AvenirMedium;
  border-radius: 3px;
  background: #337ab7;
  border: 1px solid #e7e7e7;
  color: #fff;
  padding: 5px 25px;
  margin-top: 5px;
}

.btn-login:hover {
  opacity: 0.7;
}

/*ModalBox*/
#judulLaporan,
#buatAkun,
#lupaSandi {
  margin-top: 9%;
  margin-right: 3%;
}

#judulLaporan .input-group,
#buatAkun .input-group,
#lupaSandi .input-group {
  margin-bottom: 5px;
}

#judulLaporan i,
#buatAkun i,
#lupaSandi i {
  width: 20px;
}

@-webkit-keyframes ezCustTrans {
  0% {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    opacity: 0;
  }
  68% {
    -webkit-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
    transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
    transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
    opacity: 1;
  }
}

@keyframes ezCustTrans {
  0% {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
    opacity: 0;
  }
  68% {
    -webkit-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
    transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
    transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
    opacity: 1;
  }
}

.ezCustTrans {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: ezCustTrans;
  animation-name: ezCustTrans;
}

/*Font Awesome*/
.fa-pencil-square-o {
  color: red;
  font-size: 12px;
}

.fa-pencil-square-o:hover {
  opacity: 0.7;
}

/*Add AKD*/
.tinymce-akd-title h1,
.tinymce-akd-title h2,
.tinymce-akd-title h3,
.tinymce-akd-title h4,
.tinymce-akd-title h5,
.tinymce-akd-title h6,
.tinymce-akd-title p,
.tinymce-akd-title span {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #525252;
  font: 20px AvenirBook;
  font-weight: 700;
}

.tinymce-akd-subcontent .states {
  width: 150px;
}

.akd-table {
  margin-top: 35px;
}

.akd-table .marks {
  padding-right: 5px;
  padding-left: 10px;
}

.akd-table .responden {
  font-weight: 700;
  border: 1px solid #000;
  padding: 7px 10px;
}

.questioner {
  margin-top: 15px;
}

.questioner h4 {
  margin-bottom: 30px;
}

.questioner .list-questions ol,
.questioner .list-questions li {
  margin: 0;
  padding: 0;
}

.questioner .list-questions ol {
  counter-reset: foo;
  display: table;
}

.questioner .list-questions li {
  list-style: none;
  counter-increment: foo;
  display: table-row;
}

.questioner .list-questions li form {
  padding-top: 5px;
  padding-bottom: 15px;
}

.questioner .list-questions li::before {
  content: counter(foo) ".) ";
  display: table-cell;
  text-align: right;
  padding-right: .3em;
}

.questioner .content-bottom {
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.questioner .btn-submit {
  font: 14px AvenirMedium;
  border-radius: 3px;
  background: #337ab7;
  border: 1px solid #e7e7e7;
  color: #fff;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.questioner .btn-submit:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=main.css.map */