/*-==========================================Variables=========================================-*/
@font-face {
  font-family: AvenirMedium;
  src: url(../fonts/Avenir-Medium.ttf);
}

@font-face {
  font-family: AvenirBook;
  src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../fonts/Avenir-Black.ttf);
}

@font-face {
  font-family: AvenirBlackOblique;
  src: url(../fonts/Avenir-BlackOblique.ttf);
}

@font-face {
  font-family: AvenirRoman;
  src: url(../fonts/Avenir-Roman.ttf);
}

@font-face {
  font-family: AvenirHeavy;
  src: url(../fonts/Avenir-Heavy.ttf);
}

.section-otp-content {
  padding-left: 11%;
  padding-right: 11%;
}

.section-otp-content .wrap-side-content {
  background: #fff;
  padding: 0;
  margin: 0;
  /*A+*/
  /*Qc-Secretary*/
}

.section-otp-content .wrap-side-content .side-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5%;
}

.section-otp-content .wrap-side-content .side-content .contact-group label {
  padding-top: 7px;
}

.section-otp-content .wrap-side-content .side-content .contact-group button,
.section-otp-content .wrap-side-content .side-content .contact-group input {
  border-radius: 0px;
  height: 35px;
  margin-top: 5px;
}

.section-otp-content .wrap-side-content .side-content .contact-group .btn-cari {
  font: 14px AvenirMedium;
  border-radius: 3px;
  background: #337ab7;
  border: 1px solid #e7e7e7;
  color: #fff;
  padding: 7px 25px;
  margin-top: 5px;
}

.section-otp-content .wrap-side-content .side-content .contact-group .btn-cari i {
  padding-right: 5px;
}

.section-otp-content .wrap-side-content .side-content .contact-group .btn-cari:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .side-content .tinymce-title h1,
.section-otp-content .wrap-side-content .side-content .tinymce-title h2,
.section-otp-content .wrap-side-content .side-content .tinymce-title h3,
.section-otp-content .wrap-side-content .side-content .tinymce-title h4,
.section-otp-content .wrap-side-content .side-content .tinymce-title h5,
.section-otp-content .wrap-side-content .side-content .tinymce-title h6,
.section-otp-content .wrap-side-content .side-content .tinymce-title p {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  color: #4d4d4d;
  font: 24px AvenirBlack;
}

.section-otp-content .wrap-side-content .side-content img {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.section-otp-content .wrap-side-content .side-content p {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  color: #525252;
  font: 12px AvenirRoman;
  line-height: 1.8em;
  text-align: justify;
}

.section-otp-content .wrap-side-content .side-content .tinymce-subtitle h1,
.section-otp-content .wrap-side-content .side-content .tinymce-subtitle h2,
.section-otp-content .wrap-side-content .side-content .tinymce-subtitle h3,
.section-otp-content .wrap-side-content .side-content .tinymce-subtitle h4,
.section-otp-content .wrap-side-content .side-content .tinymce-subtitle h5,
.section-otp-content .wrap-side-content .side-content .tinymce-subtitle h6,
.section-otp-content .wrap-side-content .side-content .tinymce-subtitle p {
  padding: 0;
  margin: 0;
  color: #595959;
  font: 14px AvenirBlack;
  padding-top: 30px;
  padding-bottom: 10px;
}

.section-otp-content .wrap-side-content .wrap-directors img {
  float: left;
  width: 85px;
  height: 85px;
  margin-right: 27px;
}

.section-otp-content .wrap-side-content .wrap-directors h4 {
  padding: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 11px;
  color: #19589f;
  font: 20px AvenirMedium;
}

.section-otp-content .wrap-side-content .wrap-directors p {
  display: block;
  display: -webkit-box;
  max-width: 1000px;
  height: 57.6px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.6;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: AvenirRoman;
  text-align: justify;
  margin-top: 21px;
  color: #525252;
}

.section-otp-content .wrap-side-content .wrap-directors p {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirRoman;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .tinymce-hall h1,
.section-otp-content .wrap-side-content .tinymce-hall h2,
.section-otp-content .wrap-side-content .tinymce-hall h3,
.section-otp-content .wrap-side-content .tinymce-hall h4,
.section-otp-content .wrap-side-content .tinymce-hall h5,
.section-otp-content .wrap-side-content .tinymce-hall h6,
.section-otp-content .wrap-side-content .tinymce-hall p,
.section-otp-content .wrap-side-content .tinymce-hall span {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 24px AvenirMedium;
  padding-top: 20px;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .wrap-list-hall {
  padding-top: 25px;
}

.section-otp-content .wrap-side-content .wrap-list-hall ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font: 12px AvenirMedium;
  color: #000000;
  padding-left: 15px;
}

.section-otp-content .wrap-side-content .wrap-list-hall ul li {
  padding: 0;
  margin: 0;
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-list-hall ul li i {
  margin-right: 13px;
  color: #245fa3;
  font-size: 20px;
}

.section-otp-content .wrap-side-content .wrap-list-hall ul li a {
  text-decoration: none;
  color: #777777;
  font: 14px AvenirBlack;
}

.section-otp-content .wrap-side-content .wrap-list-hall ul li a:hover {
  color: #245fa3;
}

.section-otp-content .wrap-side-content .tinymce-offices h1,
.section-otp-content .wrap-side-content .tinymce-offices h2,
.section-otp-content .wrap-side-content .tinymce-offices h3,
.section-otp-content .wrap-side-content .tinymce-offices h4,
.section-otp-content .wrap-side-content .tinymce-offices h5,
.section-otp-content .wrap-side-content .tinymce-offices h6,
.section-otp-content .wrap-side-content .tinymce-offices p,
.section-otp-content .wrap-side-content .tinymce-offices span {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 24px AvenirMedium;
  padding-top: 20px;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .wrap-list-offices {
  padding-top: 15px;
}

.section-otp-content .wrap-side-content .wrap-list-offices ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font: 12px AvenirRoman;
  color: #525252;
}

.section-otp-content .wrap-side-content .wrap-list-offices ul li {
  padding: 0;
  margin: 0;
  border: 1px solid #dadada;
  border-bottom: none;
  padding: 15px;
}

.section-otp-content .wrap-side-content .wrap-list-offices ul li a {
  text-decoration: none;
  color: #525252;
  font: 12px AvenirRoman;
}

.section-otp-content .wrap-side-content .wrap-list-offices ul li a:hover {
  color: #245fa3;
}

.section-otp-content .wrap-side-content .wrap-list-offices ul .list-close {
  border: none;
  border-top: 1px solid #dadada;
}

.section-otp-content .wrap-side-content .tinymce-ac-brief-title h1,
.section-otp-content .wrap-side-content .tinymce-ac-brief-title h2,
.section-otp-content .wrap-side-content .tinymce-ac-brief-title h3,
.section-otp-content .wrap-side-content .tinymce-ac-brief-title h4,
.section-otp-content .wrap-side-content .tinymce-ac-brief-title h5,
.section-otp-content .wrap-side-content .tinymce-ac-brief-title h6,
.section-otp-content .wrap-side-content .tinymce-ac-brief-title p,
.section-otp-content .wrap-side-content .tinymce-ac-brief-title span {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 33px;
  color: #525252;
  font: 18px AvenirBook;
}

.section-otp-content .wrap-side-content .tinymce-ac-brief h1,
.section-otp-content .wrap-side-content .tinymce-ac-brief h2,
.section-otp-content .wrap-side-content .tinymce-ac-brief h3,
.section-otp-content .wrap-side-content .tinymce-ac-brief h4,
.section-otp-content .wrap-side-content .tinymce-ac-brief h5,
.section-otp-content .wrap-side-content .tinymce-ac-brief h6,
.section-otp-content .wrap-side-content .tinymce-ac-brief p,
.section-otp-content .wrap-side-content .tinymce-ac-brief span {
  padding: 0;
  margin: 0;
  color: #808080;
  font: 16px AvenirBook;
  padding-top: 20px;
  padding-bottom: 35px;
}

.section-otp-content .wrap-side-content .wrap-bahan-ajar thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-bahan-ajar thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding: 20px 11px 20px 17px;
}

.section-otp-content .wrap-side-content .wrap-bahan-ajar tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding: 17px 11px 17px 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-bahan-ajar tbody i {
  font-size: 24px;
}

.section-otp-content .wrap-side-content .wrap-bahan-ajar tbody i:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .wrap-bahan-ajar tbody a {
  font-size: 24px;
}

.section-otp-content .wrap-side-content .wrap-bahan-ajar tbody a:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .wrap-bahan-ajar .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding: 17px 5px 17px 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-bahan-ajar {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-bahan-ajar #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .fa-file-excel-o {
  color: #016f2e;
}

.section-otp-content .wrap-side-content .fa-file-word-o {
  color: #00108c;
}

.section-otp-content .wrap-side-content .fa-file-powerpoint-o {
  color: #df5701;
}

.section-otp-content .wrap-side-content .fa-file-pdf-o {
  color: #9d0000;
}

.section-otp-content .wrap-side-content .wrap-ac-brief thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-brief thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding: 20px 11px 20px 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-brief tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding: 17px 11px 17px 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-brief tbody i {
  font-size: 35px;
}

.section-otp-content .wrap-side-content .wrap-ac-brief .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding: 17px 5px 17px 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-ac-brief {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-ac-brief #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .tinymce-ac-cs-title h1,
.section-otp-content .wrap-side-content .tinymce-ac-cs-title h2,
.section-otp-content .wrap-side-content .tinymce-ac-cs-title h3,
.section-otp-content .wrap-side-content .tinymce-ac-cs-title h4,
.section-otp-content .wrap-side-content .tinymce-ac-cs-title h5,
.section-otp-content .wrap-side-content .tinymce-ac-cs-title h6,
.section-otp-content .wrap-side-content .tinymce-ac-cs-title p,
.section-otp-content .wrap-side-content .tinymce-ac-cs-title span {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 33px;
  color: #525252;
  font: 18px AvenirBook;
}

.section-otp-content .wrap-side-content .tinymce-ac-cs-desc {
  padding-top: 40px;
}

.section-otp-content .wrap-side-content .tinymce-ac-cs-desc h1,
.section-otp-content .wrap-side-content .tinymce-ac-cs-desc h2,
.section-otp-content .wrap-side-content .tinymce-ac-cs-desc h3,
.section-otp-content .wrap-side-content .tinymce-ac-cs-desc h4,
.section-otp-content .wrap-side-content .tinymce-ac-cs-desc h5,
.section-otp-content .wrap-side-content .tinymce-ac-cs-desc h6,
.section-otp-content .wrap-side-content .tinymce-ac-cs-desc p,
.section-otp-content .wrap-side-content .tinymce-ac-cs-desc span {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  padding-bottom: 7px;
}

.section-otp-content .wrap-side-content .tinymce-ac-cs-desc .standard {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .tinymce-ac-cs-desc .standard li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ac-cs-desc .circles {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  list-style-type: circle;
  padding-left: 15px;
}

.section-otp-content .wrap-side-content .tinymce-ac-cs-desc .circles li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .wrap-ac-cs {
  margin-top: 55px;
  margin-bottom: 55px;
}

.section-otp-content .wrap-side-content .wrap-ac-cs thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-cs thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding: 20px 11px 20px 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-cs tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding: 17px 11px 17px 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-cs tbody tr:hover {
  background: #eaebec;
  cursor: pointer;
}

.section-otp-content .wrap-side-content .wrap-ac-cs .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding: 17px 5px 17px 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-ac-cs {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-ac-cs #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .wrap-ac-cs .bottom-content {
  border-bottom: 1px solid #d2d2d2;
}

.section-otp-content .wrap-side-content .wrap-ac-cs .bottom-content h5 {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirHeavy;
  margin-top: 55px;
  margin-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-ac-cs .bottom-content img {
  padding: 0;
  margin: 0;
  height: 19px;
  width: 23px;
}

.section-otp-content .wrap-side-content .wrap-ac-cs .bottom-content span {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  margin-top: 5px;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .wrap-ac-cs .bottom-content .left-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-cs .bottom-content .center-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-cs .bottom-content .right-content {
  padding-bottom: 17px;
}

@media only screen and (min-width: 767px) {
  .section-otp-content .wrap-side-content .wrap-ac-cs .bottom-content .center-content {
    padding-left: 11%;
  }
  .section-otp-content .wrap-side-content .wrap-ac-cs .bottom-content .right-content {
    text-align: right;
  }
}

.section-otp-content .wrap-side-content .wrap-ac-cs .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
  margin-top: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-cs .btn-sidebar:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccna-title h1,
.section-otp-content .wrap-side-content .tinymce-ac-ccna-title h2,
.section-otp-content .wrap-side-content .tinymce-ac-ccna-title h3,
.section-otp-content .wrap-side-content .tinymce-ac-ccna-title h4,
.section-otp-content .wrap-side-content .tinymce-ac-ccna-title h5,
.section-otp-content .wrap-side-content .tinymce-ac-ccna-title h6,
.section-otp-content .wrap-side-content .tinymce-ac-ccna-title p,
.section-otp-content .wrap-side-content .tinymce-ac-ccna-title span {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 33px;
  color: #525252;
  font: 18px AvenirBook;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccna-desc {
  padding-top: 25px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccna-desc p {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  padding-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna {
  margin-top: 55px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 {
  margin-top: 45px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna h5 {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 14px AvenirBook;
  line-height: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding-top: 20px;
  padding-right: 11px;
  padding-bottom: 20px;
  padding-left: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding: 15px 25px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna tbody tr td p {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna tbody tr:hover {
  background: #eaebec;
  cursor: pointer;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  padding-right: 5px;
  padding-bottom: 17px;
  padding-left: 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-ac-ccna {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 h5 {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 14px AvenirBook;
  line-height: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding-top: 20px;
  padding-right: 11px;
  padding-bottom: 20px;
  padding-left: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 tbody tr {
  /*&:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }*/
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding-top: 17px;
  padding-right: 11px;
  padding-bottom: 17px;
  padding-left: 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  padding-right: 5px;
  padding-bottom: 17px;
  padding-left: 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .bottom-content {
  border-bottom: 1px solid #d2d2d2;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .bottom-content h5 {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirHeavy;
  margin-top: 70px;
  margin-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .bottom-content img {
  padding: 0;
  margin: 0;
  height: 19px;
  width: 23px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .bottom-content span {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  margin-top: 5px;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .bottom-content .left-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .bottom-content .center-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .bottom-content .right-content {
  padding-bottom: 17px;
}

@media only screen and (min-width: 767px) {
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 .bottom-content .center-content {
    padding-left: 11%;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccna2 .bottom-content .right-content {
    text-align: right;
  }
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
  margin-top: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccna2 .btn-sidebar:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc {
  padding-top: 25px;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc h5 {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  line-height: 20px;
  padding-bottom: 13px;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc p {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  line-height: 20px;
  padding-bottom: 7px;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc .standard {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  line-height: 14px;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc .standard li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc .custom {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  line-height: 14px;
  list-style: none;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc .custom li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc .custom li:before {
  content: "> ";
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc .circles {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  line-height: 14px;
  list-style: none !important;
  padding-left: 15px;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc .circles li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ec-english-desc .circles li:before {
  content: "o " !important;
  padding-left: 11px;
}

.section-otp-content .wrap-side-content .wrap-ec-english {
  margin-top: 55px;
  margin-bottom: 55px;
}

.section-otp-content .wrap-side-content .wrap-ec-english thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ec-english thead tr th {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  padding-top: 5px;
  padding-right: 11px;
  padding-bottom: 5px;
  padding-left: 17px;
}

.section-otp-content .wrap-side-content .wrap-ec-english tbody tr {
  /* &:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }*/
}

.section-otp-content .wrap-side-content .wrap-ec-english tbody tr td {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  padding-top: 5px;
  padding-right: 11px;
  padding-bottom: 5px;
  padding-left: 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ec-english .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  padding-right: 5px;
  padding-bottom: 11px;
  padding-left: 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-ec-english {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-ec-english #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .wrap-ec-english .bottom-content {
  border-bottom: 1px solid #d2d2d2;
}

.section-otp-content .wrap-side-content .wrap-ec-english .bottom-content h5 {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirHeavy;
  margin-top: 70px;
  margin-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-ec-english .bottom-content img {
  padding: 0;
  margin: 0;
  height: 19px;
  width: 23px;
}

.section-otp-content .wrap-side-content .wrap-ec-english .bottom-content span {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  margin-top: 5px;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .wrap-ec-english .bottom-content .left-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ec-english .bottom-content .center-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ec-english .bottom-content .right-content {
  padding-bottom: 17px;
}

@media only screen and (min-width: 767px) {
  .section-otp-content .wrap-side-content .wrap-ec-english .bottom-content .center-content {
    padding-left: 11%;
  }
  .section-otp-content .wrap-side-content .wrap-ec-english .bottom-content .right-content {
    text-align: right;
  }
}

.section-otp-content .wrap-side-content .wrap-ec-english .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
  margin-top: 17px;
}

.section-otp-content .wrap-side-content .wrap-ec-english .btn-sidebar:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-title h1,
.section-otp-content .wrap-side-content .tinymce-ac-network-title h2,
.section-otp-content .wrap-side-content .tinymce-ac-network-title h3,
.section-otp-content .wrap-side-content .tinymce-ac-network-title h4,
.section-otp-content .wrap-side-content .tinymce-ac-network-title h5,
.section-otp-content .wrap-side-content .tinymce-ac-network-title h6,
.section-otp-content .wrap-side-content .tinymce-ac-network-title p,
.section-otp-content .wrap-side-content .tinymce-ac-network-title span {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 33px;
  color: #525252;
  font: 18px AvenirBook;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desc {
  padding-top: 25px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desc h1,
.section-otp-content .wrap-side-content .tinymce-ac-network-desc h2,
.section-otp-content .wrap-side-content .tinymce-ac-network-desc h3,
.section-otp-content .wrap-side-content .tinymce-ac-network-desc h4,
.section-otp-content .wrap-side-content .tinymce-ac-network-desc h5,
.section-otp-content .wrap-side-content .tinymce-ac-network-desc h6,
.section-otp-content .wrap-side-content .tinymce-ac-network-desc p,
.section-otp-content .wrap-side-content .tinymce-ac-network-desc span {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  padding-bottom: 7px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desc .standard {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desc .standard li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desc .circles {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  list-style-type: circle;
  padding-left: 15px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desc .circles li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desca {
  padding-top: 25px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desca h1,
.section-otp-content .wrap-side-content .tinymce-ac-network-desca h2,
.section-otp-content .wrap-side-content .tinymce-ac-network-desca h3,
.section-otp-content .wrap-side-content .tinymce-ac-network-desca h4,
.section-otp-content .wrap-side-content .tinymce-ac-network-desca h5,
.section-otp-content .wrap-side-content .tinymce-ac-network-desca h6,
.section-otp-content .wrap-side-content .tinymce-ac-network-desca p,
.section-otp-content .wrap-side-content .tinymce-ac-network-desca span {
  padding: 0;
  margin: 0;
  color: #353434;
  font: 12px AvenirBook;
  line-height: 20px;
  padding-bottom: 7px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desca .standard {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desca .standard li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desca .circles {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  list-style-type: circle;
  padding-left: 15px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-desca .circles li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .wrap-ac-networka {
  margin-top: 11px;
  margin-bottom: 55px;
}

.section-otp-content .wrap-side-content .wrap-ac-networka .bottom-content {
  border-bottom: 1px solid #d2d2d2;
}

.section-otp-content .wrap-side-content .wrap-ac-networka .bottom-content h5 {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirHeavy;
  margin-top: 60px;
  margin-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-ac-networka .bottom-content img {
  padding: 0;
  margin: 0;
  height: 19px;
  width: 23px;
}

.section-otp-content .wrap-side-content .wrap-ac-networka .bottom-content span {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  margin-top: 5px;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .wrap-ac-networka .bottom-content .left-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-networka .bottom-content .center-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-networka .bottom-content .right-content {
  padding-bottom: 17px;
}

@media only screen and (min-width: 767px) {
  .section-otp-content .wrap-side-content .wrap-ac-networka .bottom-content .center-content {
    padding-left: 11%;
  }
  .section-otp-content .wrap-side-content .wrap-ac-networka .bottom-content .right-content {
    text-align: right;
  }
}

.section-otp-content .wrap-side-content .wrap-ac-networka .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
  margin-top: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-networka .btn-sidebar:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-divtable {
  margin-top: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-head {
  background: #e9ebec;
  border-bottom: 1px solid #d9d9d9;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-head h1,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-head h2,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-head h3,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-head h4,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-head h5,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-head h6,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-head p,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-head span {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 12px AvenirBook;
  line-height: 20px;
  padding-left: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-content {
  background: #fafafa;
}

.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-content h1,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-content h2,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-content h3,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-content h4,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-content h5,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-content h6,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-content p,
.section-otp-content .wrap-side-content .tinymce-ac-network-divtable .div-content span {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 12px AvenirBook;
  line-height: 20px;
  padding-left: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.section-otp-content .wrap-side-content .wrap-ac-network {
  margin-top: 55px;
  margin-bottom: 55px;
}

.section-otp-content .wrap-side-content .wrap-ac-network h1,
.section-otp-content .wrap-side-content .wrap-ac-network h2,
.section-otp-content .wrap-side-content .wrap-ac-network h3,
.section-otp-content .wrap-side-content .wrap-ac-network h4,
.section-otp-content .wrap-side-content .wrap-ac-network h5,
.section-otp-content .wrap-side-content .wrap-ac-network h6,
.section-otp-content .wrap-side-content .wrap-ac-network p,
.section-otp-content .wrap-side-content .wrap-ac-network span {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 14px AvenirBook;
  line-height: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.section-otp-content .wrap-side-content .wrap-ac-network thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-network thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding-top: 20px;
  padding-right: 11px;
  padding-bottom: 20px;
  padding-left: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-network tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding-top: 17px;
  padding-right: 11px;
  padding-bottom: 17px;
  padding-left: 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-network tbody tr:hover {
  background: #eaebec;
  cursor: pointer;
}

.section-otp-content .wrap-side-content .wrap-ac-network .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  padding-right: 5px;
  padding-bottom: 17px;
  padding-left: 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-ac-network {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-ac-network #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .wrap-ac-network .bottom-content {
  border-bottom: 1px solid #d2d2d2;
}

.section-otp-content .wrap-side-content .wrap-ac-network .bottom-content h5 {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirHeavy;
  margin-top: 70px;
  margin-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-ac-network .bottom-content img {
  padding: 0;
  margin: 0;
  height: 19px;
  width: 23px;
}

.section-otp-content .wrap-side-content .wrap-ac-network .bottom-content span {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  margin-top: 5px;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .wrap-ac-network .bottom-content .left-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-network .bottom-content .center-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-network .bottom-content .right-content {
  padding-bottom: 17px;
}

@media only screen and (min-width: 767px) {
  .section-otp-content .wrap-side-content .wrap-ac-network .bottom-content .center-content {
    padding-left: 11%;
  }
  .section-otp-content .wrap-side-content .wrap-ac-network .bottom-content .right-content {
    text-align: right;
  }
}

.section-otp-content .wrap-side-content .wrap-ac-network .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
  margin-top: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-network .btn-sidebar:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .tinymce-au-pup-title h1,
.section-otp-content .wrap-side-content .tinymce-au-pup-title h2,
.section-otp-content .wrap-side-content .tinymce-au-pup-title h3,
.section-otp-content .wrap-side-content .tinymce-au-pup-title h4,
.section-otp-content .wrap-side-content .tinymce-au-pup-title h5,
.section-otp-content .wrap-side-content .tinymce-au-pup-title h6,
.section-otp-content .wrap-side-content .tinymce-au-pup-title p,
.section-otp-content .wrap-side-content .tinymce-au-pup-title span {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 33px;
  color: #525252;
  font: 18px AvenirBook;
}

.section-otp-content .wrap-side-content .tinymce-au-pup-desc {
  padding-top: 40px;
}

.section-otp-content .wrap-side-content .tinymce-au-pup-desc h1,
.section-otp-content .wrap-side-content .tinymce-au-pup-desc h2,
.section-otp-content .wrap-side-content .tinymce-au-pup-desc h3,
.section-otp-content .wrap-side-content .tinymce-au-pup-desc h4,
.section-otp-content .wrap-side-content .tinymce-au-pup-desc h5,
.section-otp-content .wrap-side-content .tinymce-au-pup-desc h6,
.section-otp-content .wrap-side-content .tinymce-au-pup-desc p,
.section-otp-content .wrap-side-content .tinymce-au-pup-desc span {
  padding: 0;
  margin: 0;
  color: #353434;
  font: 18px AvenirBook;
  line-height: 24px;
  padding-bottom: 7px;
}

.section-otp-content .wrap-side-content .tinymce-au-pup-desc h5 {
  padding-bottom: 20px;
}

.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc {
  padding-top: 25px;
}

.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc h1,
.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc h2,
.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc h3,
.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc h4,
.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc h5,
.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc h6,
.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc p,
.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc span {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  padding-bottom: 7px;
}

.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc .standard {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc .standard li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc .circles {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  list-style-type: circle;
  padding-left: 15px;
}

.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc .circles li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc ol {
  padding: 0;
  margin: 0;
  padding-left: 15px;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .tinymce-qc-secretary-desc ol li {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .wrap-qc-secretary {
  margin-top: 55px;
  margin-bottom: 15px;
}

.section-otp-content .wrap-side-content .wrap-qc-secretary .bottom-content {
  border-bottom: 1px solid #d2d2d2;
}

.section-otp-content .wrap-side-content .wrap-qc-secretary .bottom-content h5 {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirHeavy;
  margin-top: 15px;
  margin-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-qc-secretary .bottom-content img {
  padding: 0;
  margin: 0;
  height: 19px;
  width: 23px;
}

.section-otp-content .wrap-side-content .wrap-qc-secretary .bottom-content span {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  margin-top: 5px;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .wrap-qc-secretary .bottom-content .left-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-qc-secretary .bottom-content .center-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-qc-secretary .bottom-content .right-content {
  padding-bottom: 17px;
}

@media only screen and (min-width: 767px) {
  .section-otp-content .wrap-side-content .wrap-qc-secretary .bottom-content .center-content {
    padding-left: 11%;
  }
  .section-otp-content .wrap-side-content .wrap-qc-secretary .bottom-content .right-content {
    text-align: right;
  }
}

.section-otp-content .wrap-side-content .wrap-qc-secretary .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
  margin-top: 17px;
}

.section-otp-content .wrap-side-content .wrap-qc-secretary .btn-sidebar:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .wrap-au-pup {
  margin-top: 55px;
  margin-bottom: 15px;
}

.section-otp-content .wrap-side-content .wrap-au-pup .sub {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 14px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .wrap-au-pup thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-au-pup thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding-top: 20px;
  padding-right: 11px;
  padding-bottom: 20px;
  padding-left: 17px;
}

.section-otp-content .wrap-side-content .wrap-au-pup tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding-top: 17px;
  padding-right: 11px;
  padding-bottom: 17px;
  padding-left: 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-au-pup tbody tr:hover {
  background: #eaebec;
  cursor: pointer;
}

.section-otp-content .wrap-side-content .wrap-au-pup .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  padding-right: 5px;
  padding-bottom: 17px;
  padding-left: 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-au-pup {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top table,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top thead,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top tbody,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top th,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top td,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables-top td:before {
    content: attr(data-title);
  }
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-au-pup {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .wrap-au-pup ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font: 12px AvenirBook;
  color: #8d8d8d;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .wrap-au-pup ul li {
  padding: 0;
  margin: 0;
}

.section-otp-content .wrap-side-content .wrap-au-pup .bottom-content {
  border-bottom: 1px solid #d2d2d2;
}

.section-otp-content .wrap-side-content .wrap-au-pup .bottom-content h5 {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirHeavy;
  margin-top: 55px;
  margin-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-au-pup .bottom-content img {
  padding: 0;
  margin: 0;
  height: 19px;
  width: 23px;
}

.section-otp-content .wrap-side-content .wrap-au-pup .bottom-content span {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  margin-top: 5px;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .wrap-au-pup .bottom-content .left-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-au-pup .bottom-content .center-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-au-pup .bottom-content .right-content {
  padding-bottom: 17px;
}

@media only screen and (min-width: 767px) {
  .section-otp-content .wrap-side-content .wrap-au-pup .bottom-content .center-content {
    padding-left: 11%;
  }
  .section-otp-content .wrap-side-content .wrap-au-pup .bottom-content .right-content {
    text-align: right;
  }
}

.section-otp-content .wrap-side-content .wrap-au-pup .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
  margin-top: 17px;
}

.section-otp-content .wrap-side-content .wrap-au-pup .btn-sidebar:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-title h1,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-title h2,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-title h3,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-title h4,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-title h5,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-title h6,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-title p,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-title span {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 33px;
  color: #525252;
  font: 18px AvenirBook;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc {
  padding-top: 25px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc h1,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc h2,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc h3,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc h4,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc h5,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc h6,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc p,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc span {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  padding-bottom: 7px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc .standard {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc .standard li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc .circles {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 12px AvenirBook;
  line-height: 20px;
  list-style-type: circle;
  padding-left: 15px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-desc .circles li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable {
  margin-top: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-head {
  background: #e9ebec;
  border-bottom: 1px solid #d9d9d9;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-head h1,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-head h2,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-head h3,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-head h4,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-head h5,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-head h6,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-head p,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-head span {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 12px AvenirBook;
  line-height: 20px;
  padding-left: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content {
  background: #fafafa;
  border: 1px solid #d9d9d9;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content h1,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content h2,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content h3,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content h4,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content h5,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content h6,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content p,
.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content span {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 12px AvenirBook;
  line-height: 20px;
  /*padding-left: 21px;
                    padding-top: 21px;
                    padding-bottom: 21px;*/
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content .left-dc {
  border-right: 1px solid #d9d9d9;
  padding-right: 5px;
  padding-left: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content .right-dc {
  padding-right: 5px;
  padding-left: 5px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content .deci {
  list-style-type: decimal;
  padding: 0;
  margin: 0;
  padding-left: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.section-otp-content .wrap-side-content .tinymce-ac-ccnp-divtable .div-content .deci li {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 12px AvenirBook;
  line-height: 20px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp {
  margin-top: 55px;
  margin-bottom: 55px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp h1,
.section-otp-content .wrap-side-content .wrap-ac-ccnp h2,
.section-otp-content .wrap-side-content .wrap-ac-ccnp h3,
.section-otp-content .wrap-side-content .wrap-ac-ccnp h4,
.section-otp-content .wrap-side-content .wrap-ac-ccnp h5,
.section-otp-content .wrap-side-content .wrap-ac-ccnp h6,
.section-otp-content .wrap-side-content .wrap-ac-ccnp p,
.section-otp-content .wrap-side-content .wrap-ac-ccnp span {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 14px AvenirBook;
  line-height: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding-top: 20px;
  padding-right: 11px;
  padding-bottom: 20px;
  padding-left: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding-top: 17px;
  padding-right: 11px;
  padding-bottom: 17px;
  padding-left: 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp tbody tr:hover {
  background: #eaebec;
  cursor: pointer;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  padding-right: 5px;
  padding-bottom: 17px;
  padding-left: 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-ac-ccnp {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccnp #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .bottom-content {
  border-bottom: 1px solid #d2d2d2;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .bottom-content h5 {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirHeavy;
  margin-top: 70px;
  margin-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .bottom-content img {
  padding: 0;
  margin: 0;
  height: 19px;
  width: 23px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .bottom-content span {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  margin-top: 5px;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .bottom-content .left-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .bottom-content .center-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .bottom-content .right-content {
  padding-bottom: 17px;
}

@media only screen and (min-width: 767px) {
  .section-otp-content .wrap-side-content .wrap-ac-ccnp .bottom-content .center-content {
    padding-left: 11%;
  }
  .section-otp-content .wrap-side-content .wrap-ac-ccnp .bottom-content .right-content {
    text-align: right;
  }
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
  margin-top: 17px;
}

.section-otp-content .wrap-side-content .wrap-ac-ccnp .btn-sidebar:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .tinymce-diploma-title h1,
.section-otp-content .wrap-side-content .tinymce-diploma-title h2,
.section-otp-content .wrap-side-content .tinymce-diploma-title h3,
.section-otp-content .wrap-side-content .tinymce-diploma-title h4,
.section-otp-content .wrap-side-content .tinymce-diploma-title h5,
.section-otp-content .wrap-side-content .tinymce-diploma-title h6,
.section-otp-content .wrap-side-content .tinymce-diploma-title p,
.section-otp-content .wrap-side-content .tinymce-diploma-title span {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 33px;
  color: #525252;
  font: 18px AvenirBook;
}

.section-otp-content .wrap-side-content .wrap-diploma {
  margin-top: 55px;
  margin-bottom: 55px;
}

.section-otp-content .wrap-side-content .wrap-diploma h4 {
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  font: 14px AvenirBook;
  line-height: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.section-otp-content .wrap-side-content .wrap-diploma thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-diploma thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding-top: 20px;
  padding-right: 11px;
  padding-bottom: 20px;
  padding-left: 17px;
}

.section-otp-content .wrap-side-content .wrap-diploma .top-head {
  text-align: center;
}

.section-otp-content .wrap-side-content .wrap-diploma tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding-top: 17px;
  padding-right: 11px;
  padding-bottom: 17px;
  padding-left: 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-diploma tbody tr:hover {
  background: #eaebec;
  cursor: pointer;
}

.section-otp-content .wrap-side-content .wrap-diploma .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  padding-right: 5px;
  padding-bottom: 17px;
  padding-left: 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-diploma {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-diploma #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .wrap-diploma .bottom-content {
  border-bottom: 1px solid #d2d2d2;
}

.section-otp-content .wrap-side-content .wrap-diploma .bottom-content h5 {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirHeavy;
  margin-top: 70px;
  margin-bottom: 7px;
}

.section-otp-content .wrap-side-content .wrap-diploma .bottom-content img {
  padding: 0;
  margin: 0;
  height: 19px;
  width: 23px;
}

.section-otp-content .wrap-side-content .wrap-diploma .bottom-content span {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  margin-top: 5px;
  padding-left: 0px;
}

.section-otp-content .wrap-side-content .wrap-diploma .bottom-content .left-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-diploma .bottom-content .center-content {
  padding-bottom: 17px;
}

.section-otp-content .wrap-side-content .wrap-diploma .bottom-content .right-content {
  padding-bottom: 17px;
}

@media only screen and (min-width: 767px) {
  .section-otp-content .wrap-side-content .wrap-diploma .bottom-content .center-content {
    padding-left: 11%;
  }
  .section-otp-content .wrap-side-content .wrap-diploma .bottom-content .right-content {
    text-align: right;
  }
}

.section-otp-content .wrap-side-content .wrap-diploma .btn-sidebar {
  font: 14px AvenirRoman;
  border-radius: 7px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 13px 0px;
  width: 145px;
  margin-top: 17px;
}

.section-otp-content .wrap-side-content .wrap-diploma .btn-sidebar:hover {
  opacity: 0.7;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc {
  margin-top: 75px;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc2 {
  margin-top: 25px;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc h5,
.section-otp-content .wrap-side-content .tinymce-diploma-desc2 h5 {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  line-height: 20px;
  padding-bottom: 13px;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc .standard,
.section-otp-content .wrap-side-content .tinymce-diploma-desc2 .standard {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  line-height: 14px;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc .standard li,
.section-otp-content .wrap-side-content .tinymce-diploma-desc2 .standard li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc .custom,
.section-otp-content .wrap-side-content .tinymce-diploma-desc2 .custom {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  line-height: 14px;
  list-style: none;
  padding-left: 15px;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc .custom li,
.section-otp-content .wrap-side-content .tinymce-diploma-desc2 .custom li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc .custom li:before,
.section-otp-content .wrap-side-content .tinymce-diploma-desc2 .custom li:before {
  content: "> ";
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc .circles,
.section-otp-content .wrap-side-content .tinymce-diploma-desc2 .circles {
  padding: 0;
  margin: 0;
  color: #4d4d4d;
  font: 14px AvenirBook;
  line-height: 14px;
  list-style: none !important;
  padding-left: 15px;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc .circles li,
.section-otp-content .wrap-side-content .tinymce-diploma-desc2 .circles li {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.section-otp-content .wrap-side-content .tinymce-diploma-desc .circles li:before,
.section-otp-content .wrap-side-content .tinymce-diploma-desc2 .circles li:before {
  content: "o " !important;
  padding-left: 11px;
}

.section-otp-content .wrap-side-content .tinymce-qc-brief h1,
.section-otp-content .wrap-side-content .tinymce-qc-brief h2,
.section-otp-content .wrap-side-content .tinymce-qc-brief h3,
.section-otp-content .wrap-side-content .tinymce-qc-brief h4,
.section-otp-content .wrap-side-content .tinymce-qc-brief h5,
.section-otp-content .wrap-side-content .tinymce-qc-brief h6,
.section-otp-content .wrap-side-content .tinymce-qc-brief p,
.section-otp-content .wrap-side-content .tinymce-qc-brief span {
  padding: 0;
  margin: 0;
  color: #808080;
  font: 12px AvenirBook;
  padding-top: 20px;
  padding-bottom: 11px;
}

.section-otp-content .wrap-side-content .tinymce-qc-desc h1,
.section-otp-content .wrap-side-content .tinymce-qc-desc h2,
.section-otp-content .wrap-side-content .tinymce-qc-desc h3,
.section-otp-content .wrap-side-content .tinymce-qc-desc h4,
.section-otp-content .wrap-side-content .tinymce-qc-desc h5,
.section-otp-content .wrap-side-content .tinymce-qc-desc h6,
.section-otp-content .wrap-side-content .tinymce-qc-desc p,
.section-otp-content .wrap-side-content .tinymce-qc-desc span {
  padding: 0;
  margin: 0;
  color: #808080;
  font: 12px AvenirBook;
  padding-bottom: 33px;
  line-height: 24px;
}

.section-otp-content .wrap-side-content .wrap-qc-brief thead {
  background: #eaebec;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-qc-brief thead tr th {
  padding: 0;
  margin: 0;
  color: #7a7979;
  font: 12px AvenirBook;
  padding: 20px 11px 20px 17px;
}

.section-otp-content .wrap-side-content .wrap-qc-brief tbody tr td {
  padding: 0;
  margin: 0;
  color: #5b666a;
  font: 12px AvenirBook;
  padding: 17px 11px 17px 17px;
  border: 1px solid #d7d7d7;
}

.section-otp-content .wrap-side-content .wrap-qc-brief tbody tr:hover {
  background: #eaebec;
  cursor: pointer;
}

.section-otp-content .wrap-side-content .wrap-qc-brief .numbers {
  text-align: center;
  padding: 0;
  margin: 0;
  padding: 17px 5px 17px 5px;
}

@media only screen and (max-width: 800px) {
  .section-otp-content .wrap-side-content .wrap-qc-brief {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables table,
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables thead,
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables tbody,
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables th,
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables td,
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables tr {
    display: block;
  }
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables tr {
    border: 1px solid #ccc;
  }
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 17px;
    left: 11px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .section-otp-content .wrap-side-content .wrap-qc-brief #no-more-tables td:before {
    content: attr(data-title);
  }
}

.section-otp-content .wrap-side-content .tinymce-reg-title {
  margin-top: 25px;
}

.section-otp-content .wrap-side-content .tinymce-reg-title .title-left {
  padding: 0;
  margin: 0;
  color: #595959;
  font: 24px AvenirBlack;
}

.section-otp-content .wrap-side-content .tinymce-reg-title .title-right {
  padding: 0;
  margin: 0;
  color: #595959;
  font: 24px AvenirLight;
}

.combo-pencarian {
  padding-top: 35px;
  padding-bottom: 11px;
  z-index: 1000000000 !important;
}

.combo-pencarian span {
  margin-right: 11px;
}

/*Alumni Detail*/
.left-sub {
  text-align: right;
  color: #595959;
  font: 14px AvenirMedium;
  font-weight: 700;
}

.right-sub {
  text-align: left;
  padding-left: 5px;
  color: #595959;
  font: 14px AvenirMedium;
  font-weight: 700;
}

/*User Page*/
.wrap-user .user-row {
  margin-bottom: 14px;
}

.wrap-user .user-row:last-child {
  margin-bottom: 0;
}

.wrap-user .dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.wrap-user .dropdown-user:hover {
  cursor: pointer;
}

.wrap-user .table-user-information > tbody > tr {
  border-top: 1px solid #dddddd;
}

.wrap-user .table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.wrap-user .table-user-information > tbody > tr > td {
  border-top: 0;
}

.wrap-user .toppad {
  margin-top: 20px;
}

.wrap-user .panel-footer {
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrap-user .btn-sidebar {
  font: 12px AvenirRoman;
  border-radius: 2px;
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  padding: 11px 15px;
}

.wrap-user .btn-sidebar:hover {
  opacity: 0.7;
}

.user-foot {
  font-size: 10px;
  text-align: right;
}

.reset-password .input-group {
  margin-bottom: 5px;
}
/*# sourceMappingURL=training-programs.css.map */