body {
  font-family: Ubuntu-Regular;
}

h1 {
  font-size: 20px;
  border-bottom: solid #DDDDDD 1px;
  padding-bottom: 8px;
}

h2 {
  font-size: 18px;
}

footer {
  background: #F5F5F5;
  border-top: solid #DDDDDD 1px;
  padding-top: 8px;
  margin-top: 48px;
}

#header {
  background: #F5F5F5;
  padding-bottom: 8px;
}

#social-network {
  float: right;
  margin-top: 8px;
}

#social-network a {
  margin-left: 8px;
  text-decoration: none;
}
