<div class="col-sm-12 reset-col more-stories">
    <div class="row">
        <div class="col-xs-12 subtitles reset-col">
            <span class="title">Berita Seputar Diklat</span>
            <a href="#" class="btn-read-more pull-right">
                  READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12 reset-col content">
            <div class="row is-flex">
                <div class="col-sm-4 reset-col content-loop">
                    <a href="#" class="ms-category">Diklat Latsar <i class="fa fa-angle-right"></i></a>
                    <div class="col-xs-12 reset-col imgs">
                        <a href="#">
                            <img src="../../asset/diklat/img/new-home/s1.jpg" class="img-responsive" alt="">
                            <p class="tgl-post-diklat"><i class="fa fa-calendar-o"></i> 02 Juli 2020</p>
                            <p class="ms-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum facilis obcaecati placeat consequuntur temporibus corporis qui autem, sint officiis libero. Et blanditiis, expedita? Temporibus ipsam ratione, voluptatum deleniti
                                delectus iusto.</p>
                            <div class="col-xs-12 reset-col">
                                <hr>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 reset-col content-loop">
                    <a href="#" class="ms-category">Diklat Prajab <i class="fa fa-angle-right"></i></a>
                    <div class="col-xs-12 reset-col imgs">
                        <a href="#">
                            <img src="../../asset/diklat/img/new-home/s1.jpg" class="img-responsive" alt="">
                            <p class="tgl-post-diklat"><i class="fa fa-calendar-o"></i> 01 Juli 2020</p>
                            <p class="ms-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum facilis obcaecati placeat consequuntur temporibus corporis qui autem, sint officiis libero. Et blanditiis, expedita? Temporibus ipsam ratione, voluptatum deleniti
                                delectus iusto.</p>
                            <div class="col-xs-12 reset-col">
                                <hr>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 reset-col content-loop">
                    <a href="#" class="ms-category">Diklat PKA <i class="fa fa-angle-right"></i></a>
                    <div class="col-xs-12 reset-col imgs">
                        <a href="#">
                            <img src="../../asset/diklat/img/new-home/s1.jpg" class="img-responsive" alt="">
                            <p class="tgl-post-diklat"><i class="fa fa-calendar-o"></i> 25 Juni 2020</p>
                            <p class="ms-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum facilis obcaecati placeat consequuntur temporibus corporis qui autem, sint officiis libero. Et blanditiis, expedita? Temporibus ipsam ratione, voluptatum deleniti
                                delectus iusto.</p>
                            <div class="col-xs-12 reset-col">
                                <hr>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 reset-col content-loop">
                    <a href="#" class="ms-category">Diklat PKP <i class="fa fa-angle-right"></i></a>
                    <div class="col-xs-12 reset-col imgs">
                        <a href="#">
                            <img src="../../asset/diklat/img/new-home/s1.jpg" class="img-responsive" alt="">
                            <p class="tgl-post-diklat"><i class="fa fa-calendar-o"></i> 19 Juni 2020</p>
                            <p class="ms-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum facilis obcaecati placeat consequuntur temporibus corporis qui autem, sint officiis libero. Et blanditiis, expedita? Temporibus ipsam ratione, voluptatum deleniti
                                delectus iusto.</p>
                            <div class="col-xs-12 reset-col">
                                <hr>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 reset-col content-loop">
                    <a href="#" class="ms-category">Diklat Fungsional <i class="fa fa-angle-right"></i></a>
                    <div class="col-xs-12 reset-col imgs">
                        <a href="#">
                            <img src="../../asset/diklat/img/new-home/s1.jpg" class="img-responsive" alt="">
                            <p class="tgl-post-diklat"><i class="fa fa-calendar-o"></i> 11 Juni 2020</p>
                            <p class="ms-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum facilis obcaecati placeat consequuntur temporibus corporis qui autem, sint officiis libero. Et blanditiis, expedita? Temporibus ipsam ratione, voluptatum deleniti
                                delectus iusto.</p>
                            <div class="col-xs-12 reset-col">
                                <hr>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 reset-col content-loop">
                    <a href="#" class="ms-category">Berita Umum <i class="fa fa-angle-right"></i></a>
                    <div class="col-xs-12 reset-col imgs">
                        <a href="#">
                            <img src="../../asset/diklat/img/new-home/s1.jpg" class="img-responsive" alt="">
                            <p class="tgl-post-diklat"><i class="fa fa-calendar-o"></i> 15 Mei 2020</p>
                            <p class="ms-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum facilis obcaecati placeat consequuntur temporibus corporis qui autem, sint officiis libero. Et blanditiis, expedita? Temporibus ipsam ratione, voluptatum deleniti
                                delectus iusto.</p>
                            <div class="col-xs-12 reset-col">
                                <hr>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<div class="row sec-home">
    <div class="col-md-12 about-banner">
        <div class="col-md-12 about-content">
            <div class="col-md-12 reset-col ac-head">
                <span class="black-title">Visi</span><span class="red-title">& Misi</span>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, cupiditate, consequatur! Ipsa explicabo rem odit, enim beatae perspiciatis culpa ullam voluptates quos reprehenderit, voluptatem incidunt laboriosam. Quos laudantium quam quod!</p>
                <hr>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 reset-col ac-mission">
                <div class="col-md-3 col-sm-6 reset-col">
                    <img src="../../asset/diklat/img/new-home/ourcompany.jpg" class="img-responsive" alt="">
                    <div class="col-xs-2 reset-col acm-numbers">01.</div>
                    <div class="col-xs-10 reset-col acm-desc">
                        <h6>We Are Helpers</h6>
                        <h5>OUR COMPANY</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolore maiores, obcaecati nam saepe officiis nulla illo.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 reset-col">
                    <img src="../../asset/diklat/img/new-home/ourvission.jpg" class="img-responsive" alt="">
                    <div class="col-xs-2 reset-col acm-numbers">02.</div>
                    <div class="col-xs-10 reset-col acm-desc">
                        <h6>We Are Helpers</h6>
                        <h5>OUR VISSION</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta rem quidem eligendi, in. Quod maiores tempora possimus consequuntur, vel itaque nobis facere, impedit ut incidunt, reiciendis labore neque rerum quas.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 reset-col">
                    <img src="../../asset/diklat/img/new-home/ourvission.jpg" class="img-responsive" alt="">
                    <div class="col-xs-2 reset-col acm-numbers">03.</div>
                    <div class="col-xs-10 reset-col acm-desc">
                        <h6>We Are Helpers</h6>
                        <h5>OUR MISSION &amp; VALUE</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus debitis assumenda, blanditiis fugiat laudantium delectus doloremque magni.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 reset-col">
                    <img src="../../asset/diklat/img/new-home/ourquality.jpg" class="img-responsive" alt="">
                    <div class="col-xs-2 reset-col acm-numbers">04.</div>
                    <div class="col-xs-10 reset-col acm-desc">
                        <h6>We Are Helpers</h6>
                        <h5>OUR QUALITY</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facilis alias unde, necessitatibus ipsum culpa, ullam tenetur.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-10 col-sm-push-1 reset-col testimoni">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <h5 class="testi-title">- Testimoni Peserta Diklat -</h5>
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img class="img-circle" src="../../asset/diklat/img/new-home/team1.jpg" alt="">
                                </div>
                                <div class="col-md-12 reset-col ratings-desc text-center">
                                    <h5 class="testi-job">Financy World is The Best Choice</h5>
                                    <h5 class="testi-name">M. Nurdian Sandri (CEO)</h5>
                                    <h5 class="testi-ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <div class="col-sm-12">
                                    <p class="testi-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sed corrupti magnam aut! Consequatur ab veritatis repudiandae ducimus odit nesciunt, voluptatibus reprehenderit! A vero, ad vitae inventore numquam pariatur
                                        natus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor culpa illo consectetur quos earum blanditiis, adipisci, ex esse sed omnis, deserunt fuga aperiam accusantium consequuntur incidunt ipsum
                                        inventore suscipit!</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12">
                                    <h5 class="testi-signature">- M. Nurdian Sandri -</h5>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img class="img-circle" src="../../asset/diklat/img/new-home/team1.jpg" alt="">
                                </div>
                                <div class="col-md-12 reset-col ratings-desc text-center">
                                    <h5 class="testi-job">Financy World is The Best Choice</h5>
                                    <h5 class="testi-name">M. Nurdian Sandri (CEO)</h5>
                                    <h5 class="testi-ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <div class="col-sm-12">
                                    <p class="testi-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sed corrupti magnam aut! Consequatur ab veritatis repudiandae ducimus odit nesciunt, voluptatibus reprehenderit! A vero, ad vitae inventore numquam pariatur
                                        natus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor culpa illo consectetur quos earum blanditiis, adipisci, ex esse sed omnis, deserunt fuga aperiam accusantium consequuntur incidunt ipsum
                                        inventore suscipit!</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12">
                                    <h5 class="testi-signature">- M. Nurdian Sandri -</h5>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img class="img-circle" src="../../asset/diklat/img/new-home/team1.jpg" alt="">
                                </div>
                                <div class="col-md-12 reset-col ratings-desc text-center">
                                    <h5 class="testi-job">Financy World is The Best Choice</h5>
                                    <h5 class="testi-name">M. Nurdian Sandri (CEO)</h5>
                                    <h5 class="testi-ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </h5>
                                </div>
                                <div class="col-sm-12">
                                    <p class="testi-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sed corrupti magnam aut! Consequatur ab veritatis repudiandae ducimus odit nesciunt, voluptatibus reprehenderit! A vero, ad vitae inventore numquam pariatur
                                        natus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolor culpa illo consectetur quos earum blanditiis, adipisci, ex esse sed omnis, deserunt fuga aperiam accusantium consequuntur incidunt ipsum
                                        inventore suscipit!</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12">
                                    <h5 class="testi-signature">- M. Nurdian Sandri -</h5>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-4 charts">
            <span class="black-title">LOOK AT OUR</span><span class="red-title">GROWTH STATISTIC -</span>
            <div id="line-chart"></div>
        </div> -->
        <div class="clearfix"></div>
        <div class="col-md-12 about-content">
            <div class="col-md-12 reset-col ac-head">
                <span class="black-title">OUR</span><span class="red-title">TEAM</span>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, cupiditate, consequatur! Ipsa explicabo rem odit, enim beatae perspiciatis culpa ullam voluptates quos reprehenderit, voluptatem incidunt laboriosam. Quos laudantium quam quod!</p>
                <hr>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 reset-col ac-mission">
                <div class="col-md-4 col-sm-6 reset-col">
                    <div class="col-xs-7 reset-col acm-numbers"><img src="../../asset/diklat/img/new-home/team1.jpg" class="img-responsive" alt=""></div>
                    <div class="col-xs-5 reset-col acm-desc">
                        <h6>M. Nurdian Sandri</h6>
                        <h5>CEO &amp; SEO</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolore maiores, obcaecati nam saepe officiis nulla illo.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 reset-col">
                    <div class="col-xs-7 reset-col acm-numbers"><img src="../../asset/diklat/img/new-home/team2.jpg" class="img-responsive" alt=""></div>
                    <div class="col-xs-5 reset-col acm-desc">
                        <h6>Marby Aldianto</h6>
                        <h5>BACKEND DEV</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolore maiores, obcaecati nam saepe officiis nulla illo.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 reset-col">
                    <div class="col-xs-7 reset-col acm-numbers"><img src="../../asset/diklat/img/new-home/team3.jpg" class="img-responsive" alt=""></div>
                    <div class="col-xs-5 reset-col acm-desc">
                        <h6>Dwi Jayadi .W.</h6>
                        <h5>FRONTEND</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolore maiores, obcaecati nam saepe officiis nulla illo.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>