<div class="col-md-12 reset-col">
    <div class="breadcrumb-title">
        <ul>
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></li>
            <li><a href="index.html"> Beranda</a></li>
            <li><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></li>
            <li class="active">Menu Utama</li>
        </ul>
    </div>
</div>
