<div class="col-md-12 hidden-xs reset-col widget-sidebar">
    <div class="col-md-12 reset-col contact-sidebar">
        <h2>CONTACT US</h2>
        <div class="form-group form-contact">
            <input class="form-control" type="text" placeholder="Name">
            <input class="form-control" type="text" placeholder="Email">
            <input class="form-control" type="text" placeholder="Subject">
            <textarea class="form-control" rows="9" placeholder="Message"></textarea>
            <button type="submit" class="btn btn-default btn-sm btn-sidebar">Send</button>
        </div>
    </div>
</div>
