<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="pull-right">Copyright &copy; 2016 oleh BADAN DIKLAT PROPINSI LAMPUNG</p>
            </div>
        </div>
    </div>
</div>
