<div class="container-fluid">
    <div class="header">
        <header class="masthead hidden-xs">
            <div class="col-md-12 reset-col">
                <div class="header-top">
                    <ul>
                        <a href="index.html">
                            <li>
                                <img src="../../asset/diklat/img/logo-text.png" alt="logo" class="wow fadeInLeft" data-wow-delay=".2">
                                <div style="width:500px;" class="wow fadeIn" data-wow-delay=".2">
                                    <h3>SISTEM INFORMASI KEDIKLATAN</h3>
                                    <h3>BADAN PENDIDIKAN DAN LATIHAN DAERAH</h3>
                                    <h3>PROVINSI LAMPUNG</h3>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </a>
                        <li class="pull-right hidden-sm wow fadeIn" data-wow-delay=".2">
                            <div class="social">
                                <a class="facebookBtn smGlobalBtn" href="#"></a>
                                <a class="twitterBtn smGlobalBtn" href="#"></a>
                                <a class="googleplusBtn smGlobalBtn" href="#"></a>
                                <a class="linkedinBtn smGlobalBtn" href="#"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </header>
        <div class="col-md-12 reset-col">
            <div class="header-menu">
                <div id="nav">
                    <div class="navbar navbar-default navbar-static">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="title-xs visible-xs">
                                    <img src="../../asset/diklat/img/logo-xs.png" alt="logo">
                                    <h3>SISTEM INFORMASI KEDIKLATAN</h3>
                                    <h3>BADAN PENDIDIKAN DAN LATIHAN</h3>
                                    <h3>DAERAH PROVINSI LAMPUNG</h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="navbar-collapse collapse" id="navbar">
                                <ul class="nav navbar-nav navbar-left">
                                    <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">BERANDA <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="index.html">Menu Utama</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="index.html">Persyaratan</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="index.html">Cara Mendaftar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="widyaiswara.html">WIDYAISWARA</a></li>
                                    <li><a href="kegiatan-diklat.html">KEGIATAN DIKLAT</a></li>
                                    <li><a href="bahan-ajar.html">BAHAN AJAR</a></li>
                                    <li><a href="alumni.html">STTPL/ALUMNI</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="contact-us.html">CONTACT US</a></li>
                                    <!--Pendaftaran Dan User Show ketika User Login-->
                                    <li><a href="form-pendaftaran.html">PENDAFTARAN DIKLAT</a></li>
                                    <li><a href="user-page.html">USER</a></li>
                                    <!--Pendaftaran Dan UserQuestioner Show Khusus User AKD-->
                                    <li><a href="akd-questioner.html">AKD</a></li>

                                    <!--Penambahan Baru Jadwal Diklat-->
                                    <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">DIKLAT <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="kegiatan-diklat.html">Kegiatan Diklat</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="bahan-ajar.html">Bahan Ajar</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="jadwal-diklat.html">Jadwal Diklat</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>