<div class="col-xs-12 reset-col login-sidebar">
    <h5>Login atau <a href="#" data-toggle="modal" data-target="#buatAkun">Buat Akun</a></h5>
    <div class="col-xs-12">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" name="NIP" placeholder="NIP">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Kata Sandi">
        </div>
        <button class="btn btn-lg btn-primary btn-login pull-left" type="submit" id="load-button">Login</button>
        <a href="#" class="pull-right" data-toggle="modal" data-target="#lupaSandi">Lupa Kata Sandi ?</a>
    </div>
</div>

<div class="col-xs-12 reset-col login-sidebar">
    <div class="col-xs-12" align="center">
        <a href="user-page.html">
            <img alt="User Pic" src="../../asset/diklat/img/sandri.jpg" class="img-circle img-responsive img-login">
        </a>
        <br>
        <span><b>NIP : <span class="isi-nip">0943872094265</span></b>
        </span>
        <br>
        <span><b>Nama : <span class="isi-nama">M. Nurdian Sandri</span></b>
        </span>
    </div>
</div>