<!-- Judul Laporan -->
<div id="judulLaporan" class="modal">
    <div class="modal-dialog ezCustTrans">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Judul Laporan</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-book"></i></span>
                    <!-- <input type="text" class="form-control" name="Judul" placeholder="ketik judul disini ..."> -->
                    <textarea class="form-control" name="Judul" placeholder="ketik judul disini ..." rows="4">PENERAPAN METODE BASMALAH DIBINA ( BELAJAR AL-QUR'AN SAMBIL MENGHAFAL AYAT AGAR LEBIH ASIK DAN MUDAH DIBARENGI BINA AKHLAK ) UNTUK MENGATASI KURANGNYA KEMAMPUAN MEMBACA </textarea>
                </div>
                <br>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-login">Simpan</button>
                    <button type="cancel" class="btn btn-default btn-login" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Judul Laporan -->

<div id="buatAkun" class="modal">
    <div class="modal-dialog ezCustTrans">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Pendaftaran Akun Baru</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="NIP" placeholder="NIP">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="NIP" placeholder="Ulangi NIP">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control" name="Email" placeholder="Email">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Kata Sandi">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Ulangi Kata Sandi">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-login">Kirim</button>
                    <button type="cancel" class="btn btn-default btn-login" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="alertdaftar">
    <div class="modal-box">
        <div class="modal fade" id="modalAlertDaftar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="modal-body">
                        <div class="icon"><i class="fa fa-check"></i></div>
                        <p class="description">Anda harus <a class="button-daftar-modal" href="#" data-toggle="modal" data-target="#buatAkun" data-dismiss="modal">Buat Akun</a> terlebih dahulu untuk mendaftar atau <a class="button-daftar-modal" href="">Login</a> untuk melanjutkan
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="lupaSandi" class="modal">
    <div class="modal-dialog ezCustTrans">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Konfirmasi Lupa Kata Sandi</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="NIP" placeholder="NIP">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control" name="Email" placeholder="Email">
                </div>
                <br>
                <span class="help-block">**Konfirmasi persetujuan kata sandi akan dikirim melalui e-mail yang sah terkait akun, setelah ini silahkan cek e-mail Anda untuk proses berikutnya.</span>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-login">Kirim</button>
                    <button type="cancel" class="btn btn-default btn-login" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>