<div class="col-md-12" style="text-align:center;">
    <ul class="pagination">
        <li class="disabled"><a href="#"><</a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">></a></li>
    </ul>
    <br>
    <br>
    <br>
    <br>
</div>
