<div class="col-md-3 col-sm-4 sidebar-right">
    <!-- <div class="col-xs-12 subscribes">
        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
        <h5>We Promise Not to Spam</h5>
        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
        <button type="submit" class="btn btn-info btn-block btn-subscribes"><i class="fa fa-envelope-o" aria-hidden="true"></i>SUBSCRIBE</button>
    </div> -->
    <div class="col-xs-12 reset-col bigboard">
        <div class="col-xs-12 reset-col bigboard-title">
            <a href="#"><span>Form </span><span class="mid-title"> Login</span><span ></span><i class="fa fa-info-circle pull-right" aria-hidden="true"></i></a>
            <div class="clearfix"></div>
        </div>

        <div class="col-xs-12 reset-col login-sidebar">
            <h5>Login atau <a href="#" data-toggle="modal" data-target="#buatAkun">Buat Akun</a></h5>
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="NIP" placeholder="NIP">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Kata Sandi">
                </div>
                <button class="btn btn-lg btn-primary btn-login pull-left" type="submit" id="load-button">Login</button>
                <a href="#" class="pull-right" data-toggle="modal" data-target="#lupaSandi">Lupa Kata Sandi ?</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-xs-12 reset-col bigboard">
        <div class="col-xs-12 reset-col bigboard-title">
            <a href="#"><span>Info </span><span class="mid-title"> User</span><span ></span><i class="fa fa-info-circle pull-right" aria-hidden="true"></i></a>
            <div class="clearfix"></div>
        </div>
        <div class="col-xs-12 reset-col login-sidebar">
            <div class="col-xs-12" align="center">
                <a href="user-page.html">
                    <img alt="User Pic" src="../../asset/diklat/img/sandri.jpg" class="img-circle img-responsive img-login">
                </a>
                <br>
                <span><b>NIP : <span class="isi-nip">0943872094265</span></b>
                </span>
                <br>
                <span><b>Nama : <span class="isi-nama">M. Nurdian Sandri</span></b>
                </span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-xs-12 reset-col happening-now">
        <div class="col-xs-12 reset-col weather-title">
            <a href="#"><span class="ibukota"><span class="mid-title">TRENDING</span> STORIES</span><i class="fa fa-info-circle pull-right" aria-hidden="true"></i></a>
            <div class="clearfix"></div>
        </div>
        <div class="col-xs-12 reset-col content-list">
            <div class="col-xs-12 reset-col content-loop">
                <div class="col-xs-12 reset-col title-list">
                    <a href="#" class="news-title">BPSDM Provinsi Lampung bertugas Melaksanakan Pengembangan sumber daya manusia aparatur dan non aparatur guna mendukung target pembangunan daerah di bidang penyelenggaraan urusan pemerintahan yang menjadi kewenangan pemerintahan daerah provinsi dan kabupaten/kota sesuai dengan ketentuan peraturan perundang-undangan yang berlaku.
                    </a>
                </div>
            </div>
            <div class="col-xs-12 reset-col content-loop">
                <div class="col-xs-12 reset-col title-list">
                    <a href="#" class="news-title">BPSDM Provinsi Lampung bertugas Melaksanakan Pengembangan sumber daya manusia aparatur dan non aparatur guna mendukung target pembangunan daerah di bidang penyelenggaraan urusan pemerintahan yang menjadi kewenangan pemerintahan daerah provinsi dan kabupaten/kota sesuai dengan ketentuan peraturan perundang-undangan yang berlaku.

                    </a>
                </div>
            </div>
            <div class="col-xs-12 reset-col content-loop">
                <div class="col-xs-12 reset-col title-list">
                    <a href="#" class="news-title">BPSDM Provinsi Lampung bertugas Melaksanakan Pengembangan sumber daya manusia aparatur dan non aparatur guna mendukung target pembangunan daerah di bidang penyelenggaraan urusan pemerintahan yang menjadi kewenangan pemerintahan daerah provinsi dan kabupaten/kota sesuai dengan ketentuan peraturan perundang-undangan yang berlaku.

                    </a>
                </div>
            </div>
            <div class="col-xs-12 reset-col content-loop">
                <div class="col-xs-12 reset-col title-list">
                    <a href="#" class="news-title">BPSDM Provinsi Lampung bertugas Melaksanakan Pengembangan sumber daya manusia aparatur dan non aparatur guna mendukung target pembangunan daerah di bidang penyelenggaraan urusan pemerintahan yang menjadi kewenangan pemerintahan daerah provinsi dan kabupaten/kota sesuai dengan ketentuan peraturan perundang-undangan yang berlaku.
                    </a>
                </div>
            </div>
            <div class="col-xs-12 reset-col content-loop">
                <div class="col-xs-12 reset-col title-list">
                    <a href="#" class="news-title">BPSDM Provinsi Lampung bertugas Melaksanakan Pengembangan sumber daya manusia aparatur dan non aparatur guna mendukung target pembangunan daerah di bidang penyelenggaraan urusan pemerintahan yang menjadi kewenangan pemerintahan daerah provinsi dan kabupaten/kota sesuai dengan ketentuan peraturan perundang-undangan yang berlaku.
                    </a>
                </div>
            </div>
            <div class="col-xs-12 reset-col content-loop">
                <div class="col-xs-12 reset-col title-list">
                    <a href="#" class="news-title">BPSDM Provinsi Lampung bertugas Melaksanakan Pengembangan sumber daya manusia aparatur dan non aparatur guna mendukung target pembangunan daerah di bidang penyelenggaraan urusan pemerintahan yang menjadi kewenangan pemerintahan daerah provinsi dan kabupaten/kota sesuai dengan ketentuan peraturan perundang-undangan yang berlaku.
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 reset-col view-more">
            <a href="#" class="btn-view-more">
                Lihat Lebih <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="col-xs-12 reset-col weather">
        <div class="col-xs-12 reset-col weather-title">
            <a href="#"><span class="ibukota">Lampung</span><span class="provinsi">Kota Bandar Lampung</span><i class="fa fa-info-circle pull-right" aria-hidden="true"></i></a>
            <div class="clearfix"></div>
        </div>
        <div class="col-xs-12 reset-col weather-desc">
            <div class="col-xs-6 reset-col">
                <img src="../../asset/diklat/img/new-home/Berawan.gif" class="img-responsive" alt=""></div>
            <div class="col-xs-6 reset-col">
                <h3 class="suhu">22 &deg;C</h3>
                <h5 class="kelembaban">22&#37; &#45; 27&#37;</h5>
            </div>
        </div>
        <div class="col-xs-12 reset-col weather-day">
            <div class="col-xs-4 reset-col">
                <h5 class="days">FRIDAY</h5>
                <img src="../../asset/diklat/img/new-home/Berawan.gif" class="img-responsive" alt="">
                <h6 class="suhu">23 &deg;C</h6>
            </div>
            <div class="col-xs-4 reset-col">
                <h5 class="days">SATURDAY</h5>
                <img src="../../asset/diklat/img/new-home/Hujan%20Ringan.gif" class="img-responsive" alt="">
                <h6 class="suhu">32 &deg;C</h6>
            </div>
            <div class="col-xs-4 reset-col">
                <h5 class="days">SUNDAY</h5>
                <img src="../../asset/diklat/img/new-home/Hujan%20Sedang.gif" class="img-responsive" alt="">
                <h6 class="suhu">19 &deg;C</h6>
            </div>
        </div>
    </div>

    <div class="col-xs-12 reset-col populars">
        <div class="col-xs-12 reset-col populars-title">
            <span>POPULAR</span>
            <div class="controls pull-right hidden-xs">
                <a href="#sliderpopular" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                <a href="#sliderpopular" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-xs-12 populars-slider">
            <div id="sliderpopular" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <a href="#">
                                <div class="col-xs-12 reset-col col-item">
                                    <img src="../../asset/diklat/img/new-home/popular1.jpg" class="img-responsive" alt="">
                                    <h5 class="titles">This home is being built into a cliff</h5>
                                    <h6 class="dates">Aug 26, 2016</h6>
                                </div>
                            </a>
                            <a href="#">
                                <div class="col-xs-12 reset-col col-item">
                                    <img src="../../asset/diklat/img/new-home/popular2.jpg" class="img-responsive" alt="">
                                    <h5 class="titles">How to set up kitchen</h5>
                                    <h6 class="dates">Dec 01, 2016</h6>
                                </div>
                            </a>
                            <a href="#">
                                <div class="col-xs-12 reset-col col-item">
                                    <img src="../../asset/diklat/img/new-home/popular3.jpg" class="img-responsive" alt="">
                                    <h5 class="titles">New comers from automotive tech with modern touch</h5>
                                    <h6 class="dates">Dec 01, 2016</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <a href="#">
                                <div class="col-xs-12 reset-col col-item">
                                    <img src="../../asset/diklat/img/new-home/popular1.jpg" class="img-responsive" alt="">
                                    <h5 class="titles">This home is being built into a cliff</h5>
                                    <h6 class="dates">Aug 26, 2016</h6>
                                </div>
                            </a>
                            <a href="#">
                                <div class="col-xs-12 reset-col col-item">
                                    <img src="../../asset/diklat/img/new-home/popular2.jpg" class="img-responsive" alt="">
                                    <h5 class="titles">How to set up kitchen</h5>
                                    <h6 class="dates">Dec 01, 2016</h6>
                                </div>
                            </a>
                            <a href="#">
                                <div class="col-xs-12 reset-col col-item">
                                    <img src="../../asset/diklat/img/new-home/popular3.jpg" class="img-responsive" alt="">
                                    <h5 class="titles">New comers from automotive tech with modern touch</h5>
                                    <h6 class="dates">Dec 01, 2016</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>