<div data-scope="AkdAnggota" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button style="width:100%" data-ref="sendEmail" type="button"
            class="ui button primary">RESET_PASSWORD</button>
        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">NIP</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nip"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nama"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">EMAIL</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="email"></div>
          </div>
        </div>
      </div>


    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>

      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">NIP</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nip"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nama"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">EMAIL</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="email"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="change_password" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="two wide column">NAME</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="name"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">EMAIL</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="email"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">NEW_PASSWORD</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="new_password"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">RETYPE_PASSWORD</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="retype_password"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a href="javascript:" data-ref="list" data-section="list" class="item" title="Anggota">
          <i class="payment layout icon"></i> <span>ANGGOTA</span>
        </a>

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>

          <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>

          <a data-ref="change_password" style="display:none" class="item" data-section="change_password"
            href="javascript:" title="Change Password">
            <i class="lock icon"></i>
          </a>

          <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
        </div>

      </div>

    </div>
  </div>

</div>