<div data-scope="ApproveAnggota" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="eight wide column">
          <div class="ui input fluid">
            <div data-ref="unitKerjaId"></div>
          </div>
        </div>
        <div class="eight wide column">
          <div class="ui input fluid">
            <div data-ref="instansiId"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="statusAkunId"></div>
          </div>
        </div>
      	<div class="twelve wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button style="width:100%" data-ref="detail" type="button" class="ui button primary">Approve</button>
        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">NIP</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nip"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <label class="three wide column">NAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nama"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">FOTO</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="foto"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">EMAIL</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="email"></div>
          </div>
        </div>
      </div>
      
      


    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button style="width:100%" data-ref="approve" type="button" class="ui button primary">Approve</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>

        <div class="right menu">
          <a data-ref="pdf" class="item"><i class="file outline pdf icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a data-ref="list" data-section="list" class="item" href="javascript:" title="Approve Anggota">
          <i class="payment icon"></i> <span>Approve Anggota</span>
        </a>

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>
