<div data-scope="BranchManagement" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
          <a data-ref="up" title="Move Up" class="item"><i class="arrow up icon"></i></a>
          <a data-ref="down" title="Move Down" class="item"><i class="arrow down icon"></i></a>
          <a data-ref="refresh" title="Refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="two wide column">BRANCH_NAME</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="branchName"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">REGIONAL</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="regional"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">DISTRICT_CITY</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="districtCity"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">ADDRESS</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="address"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">MAP_LOCATION</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="mapLocation"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">LATITUDE</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="latitude"></div>
          </div>
        </div>
        <label class="two wide column">LONGITUDE</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="longitude"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">PHONE_NUMBER</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="phoneNumber"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">FAX_NUMBER</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="faxNumber"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">EMAIL</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="email"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">FACEBOOK</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="facebookPage"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">TWITTER</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="twitterPage"></div>
          </div>
        </div>
      </div>

      <!--
      <div class="row">
      <label class="two wide column"></label>
      <div class="fourteen wide column">
      <div class="ui input fluid">
      <div data-ref="mainBranchId"></div>
    </div>
  </div>
</div>
-->

</div>

<div id="button" class="button-wrapper">
  <div class="ui menu large">
    <div class="left menu">
      <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
      <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
    </div>
  </div>
</div>

</div>

<div id="form" class="section">

  <div class="ui segment stackable grid">

    <div class="row">
      <label class="two wide column">BRANCH_NAME</label>
      <div class="ten wide column">
        <div class="ui input fluid">
          <div data-ref="branchName"></div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui input fluid">
          <div data-ref="mainBranchId"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">REGIONAL</label>
      <div class="four wide column">
        <div class="ui input fluid">
          <div data-ref="regionalId"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">DISTRICT_CITY</label>
      <div class="four wide column">
        <div class="ui input fluid">
          <div data-ref="districtCityId"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">ADDRESS</label>
      <div class="fourteen wide column">
        <div class="ui input fluid">
          <div data-ref="address"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">MAP_LOCATION</label>
      <div class="fourteen wide column">
        <div class="ui input fluid">
          <div data-ref="mapLocation"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">LATITUDE</label>
      <div class="six wide column">
        <div class="ui input fluid">
          <div data-ref="latitude"></div>
        </div>
      </div>
      <label class="two wide column">LONGITUDE</label>
      <div class="six wide column">
        <div class="ui input fluid">
          <div data-ref="longitude"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">PHONE_NUMBER</label>
      <div class="fourteen wide column">
        <div class="ui input fluid">
          <div data-ref="phoneNumber"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">FAX_NUMBER</label>
      <div class="fourteen wide column">
        <div class="ui input fluid">
          <div data-ref="faxNumber"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">EMAIL</label>
      <div class="fourteen wide column">
        <div class="ui input fluid">
          <div data-ref="email"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">FACEBOOK</label>
      <div class="fourteen wide column">
        <div class="ui input fluid">
          <div data-ref="facebookPage"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="two wide column">TWITTER</label>
      <div class="fourteen wide column">
        <div class="ui input fluid">
          <div data-ref="twitterPage"></div>
        </div>
      </div>
    </div>

  </div>

  <div id="button" class="button-wrapper">
    <div class="ui menu large">
      <div class="left menu">
        <button data-ref="save" type="button" class="ui button primary">SAVE</button>
        <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
      </div>
    </div>
  </div>

</div>

<div id="tab" class="tab-wrapper">
  <div class="ui tiered menu">

    <div class="menu">

      <a data-ref="list" data-section="list" class="item" href="javascript:" title="BranchManagement">
        <i class="payment icon"></i> <span>BRANCHES</span>
      </a>

      <div class="right menu">
        <a data-ref="preview" class="item" data-section="preview" href="javascript:" title="Preview">
          <i class="desktop icon"></i>
        </a>

        <a data-ref="form" class="item" data-section="form" href="javascript:" title="Edit">
          <i class="edit icon"></i>
        </a>
        <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
      </div>

    </div>

  </div>
</div>

</div>
