<div data-scope="ContactProfile" class="page">

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">COMPANY_NAME</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="companyName"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
        <label class="three wide column"><span>COMPANY_NAME</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="companyNameSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elContainer" class="row">
        <label class="three wide column"><span>COMPANY_NAME</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="companyNameEl"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">MAP_LOCATION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="mapLocation"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">LATITUDE</label>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="latitude"></div>
          </div>
        </div>
        <label class="two wide column">LONGITUDE</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="longitude"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">ADDRESS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="address"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">PHONE_NUMBER</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="phoneNumbers"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">MOBILE_NUMBER</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="mobileNumbers"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">EMAIL</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="emails"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div style="display:none" class="row">
        <label class="thirteen wide column"></label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCode"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">COMPANY_NAME</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="companyName"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
        <label class="three wide column"><span>COMPANY_NAME</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="companyNameSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elContainer" class="row">
        <label class="three wide column"><span>COMPANY_NAME</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="companyNameEl"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">MAP_LOCATION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="mapLocation"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">LATITUDE</label>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="latitude"></div>
          </div>
        </div>
        <label class="two wide column">LONGITUDE</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="longitude"></div>
          </div>
        </div>
      </div>

      <div style="display:none" class="row">
        <label class="thirteen wide column"></label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCodeAddress"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">CAPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionAddress"></div>
          </div>
        </div>
      </div>

      <div data-ref="slAddressContainer" class="row">
        <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionAddressSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elAddressContainer" class="row">
        <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionAddressEl"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">ADDRESS</label>
        <div class="eleven wide column">
          <div class="ui input fluid">
            <div data-ref="addres"></div>
          </div>
        </div>
        <div class="two wide column">
          <button data-ref="addAddress" type="button" class="ui button primary iconic-button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="address"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <button data-ref="deleteAddress" type="button" class="ui button negative iconic-button">
            <i class="trash icon"></i>
          </button>
          <button data-ref="editAddress" type="button" class="ui button primary" style="width: 46px; height: 38px">
            <i class="edit icon"></i>
          </button>
        </div>
      </div>

      <!--        Dialog-->

      <div data-ref="editDialogAddress" class="ui modal">
        <div class="header"><span>EDIT</span></div>
        <div class="content">

          <div class="ui stackable grid">

            <div style="display:none" class="row">
              <label class="thirteen wide column"></label>
              <div class="three wide column">
                <div class="ui input fluid">
                  <div data-ref="languageCodeEditAddress"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="three wide column">CAPTION</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionAddress"></div>
                </div>
              </div>
            </div>

            <div data-ref="slEditAddressContainer" class="row">
              <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelSl"></span>)</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionAddressSl"></div>
                </div>
              </div>
            </div>

            <div data-ref="elEditAddressContainer" class="row">
              <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelEl"></span>)</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionAddressEl"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="three wide column">ADDRESS</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editAddres"></div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="actions">
          <button type="button" data-ref="saveAddress" class="ui primary button">Save</button>
          <button type="button" data-ref="cancelAddress" class="ui negative button">Cancel</button>
        </div>
      </div>

      <!--        End Dialog-->

      <div style="display:none" class="row">
        <label class="thirteen wide column"></label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCodePhoneNumber"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">CAPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionPhoneNumber"></div>
          </div>
        </div>
      </div>

      <div data-ref="slPhoneNumberContainer" class="row">
        <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionPhoneNumberSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elPhoneNumberContainer" class="row">
        <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionPhoneNumberEl"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">PHONE_NUMBER</label>
        <div class="eleven wide column">
          <div class="ui input fluid">
            <div data-ref="phoneNumber"></div>
          </div>
        </div>
        <div class="two wide column">
          <button data-ref="addPhoneNumbers" type="button" class="ui button primary iconic-button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="phoneNumbers"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <button data-ref="deletePhoneNumbers" type="button" class="ui button negative iconic-button">
            <i class="trash icon"></i>
          </button>
          <button data-ref="editPhoneNumbers" type="button" class="ui button primary" style="width: 46px; height: 38px">
            <i class="edit icon"></i>
          </button>
        </div>
      </div>

      <!--        Dialog-->

      <div data-ref="editDialogPhoneNumbers" class="ui modal">
        <div class="header"><span>EDIT</span></div>
        <div class="content">

          <div class="ui stackable grid">

            <div style="display:none" class="row">
              <label class="thirteen wide column"></label>
              <div class="three wide column">
                <div class="ui input fluid">
                  <div data-ref="languageCodeEditPhoneNumbers"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="three wide column">CAPTION</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionPhoneNumbers"></div>
                </div>
              </div>
            </div>

            <div data-ref="slEditPhoneNumbersContainer" class="row">
              <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelSl"></span>)</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionPhoneNumbersSl"></div>
                </div>
              </div>
            </div>

            <div data-ref="elEditPhoneNumbersContainer" class="row">
              <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelEl"></span>)</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionPhoneNumbersEl"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="three wide column">PHONE_NUMBER</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editPhoneNumber"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="actions">
          <button type="button" data-ref="savePhoneNumbers" class="ui primary button">Save</button>
          <button type="button" data-ref="cancelPhoneNumbers" class="ui negative button">Cancel</button>
        </div>
      </div>

      <!--        End Dialog-->

      <div style="display:none" class="row">
        <label class="thirteen wide column"></label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCodeMobileNumber"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">CAPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionMobileNumber"></div>
          </div>
        </div>
      </div>

      <div data-ref="slMobileNumberContainer" class="row">
        <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionMobileNumberSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elMobileNumberContainer" class="row">
        <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionMobileNumberEl"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">MOBILE_NUMBER</label>
        <div class="eleven wide column">
          <div class="ui input fluid">
            <div data-ref="mobileNumber"></div>
          </div>
        </div>
        <div class="two wide column">
          <button data-ref="addEmails" type="button" class="ui button primary iconic-button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="mobileNumbers"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <button data-ref="deleteMobileNumbers" type="button" class="ui button negative iconic-button">
            <i class="trash icon"></i>
          </button>
          <button data-ref="editMobileNumbers" type="button" class="ui button primary"
            style="width: 46px; height: 38px">
            <i class="edit icon"></i>
          </button>
        </div>
      </div>

      <!--        Dialog-->

      <div data-ref="editDialogMobileNumbers" class="ui modal">
        <div class="header"><span>EDIT</span></div>
        <div class="content">

          <div class="ui stackable grid">

            <div style="display:none" class="row">
              <label class="thirteen wide column"></label>
              <div class="three wide column">
                <div class="ui input fluid">
                  <div data-ref="languageCodeEditMobileNumbers"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="three wide column">CAPTION</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionMobileNumbers"></div>
                </div>
              </div>
            </div>

            <div data-ref="slEditMobileNumbersContainer" class="row">
              <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelSl"></span>)</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionMobileNumbersSl"></div>
                </div>
              </div>
            </div>

            <div data-ref="elEditMobileNumbersContainer" class="row">
              <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelEl"></span>)</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionMobileNumbersEl"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="three wide column">MOBILE_NUMBER</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editMobileNumber"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="actions">
          <button type="button" data-ref="saveMobileNumbers" class="ui primary button">Save</button>
          <button type="button" data-ref="cancelMobileNumbers" class="ui negative button">Cancel</button>
        </div>
      </div>

      <!--        End Dialog-->

      <div style="display:none" class="row">
        <label class="thirteen wide column"></label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCodeEmail"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">CAPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionEmail"></div>
          </div>
        </div>
      </div>

      <div data-ref="slEmailContainer" class="row">
        <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionEmailSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elEmailContainer" class="row">
        <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="captionEmailEl"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">EMAIL</label>
        <div class="eleven wide column">
          <div class="ui input fluid">
            <div data-ref="email"></div>
          </div>
        </div>
        <div class="two wide column">
          <button data-ref="addEmails" type="button" class="ui button primary iconic-button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="emails"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <button data-ref="deleteEmails" type="button" class="ui button negative iconic-button">
            <i class="trash icon"></i>
          </button>
          <button data-ref="editEmails" type="button" class="ui button primary" style="width: 46px; height: 38px">
            <i class="edit icon"></i>
          </button>
        </div>
      </div>

      <!--        Dialog-->

      <div data-ref="editDialogEmails" class="ui modal">
        <div class="header"><span>EDIT</span></div>
        <div class="content">

          <div class="ui stackable grid">

            <div style="display:none" class="row">
              <label class="thirteen wide column"></label>
              <div class="three wide column">
                <div class="ui input fluid">
                  <div data-ref="languageCodeEditEmails"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="three wide column">CAPTION</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionEmails"></div>
                </div>
              </div>
            </div>

            <div data-ref="slEditEmailsContainer" class="row">
              <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelSl"></span>)</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionEmailsSl"></div>
                </div>
              </div>
            </div>

            <div data-ref="elEditEmailsContainer" class="row">
              <label class="three wide column"><span>CAPTION</span> (<span data-ref="labelEl"></span>)</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editCaptionEmailsEl"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="three wide column">EMAIL</label>
              <div class="thirteen wide column">
                <div class="ui input fluid">
                  <div data-ref="editEmail"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="actions">
          <button type="button" data-ref="saveEmails" class="ui primary button">Save</button>
          <button type="button" data-ref="cancelEmails" class="ui negative button">Cancel</button>
        </div>
      </div>

      <!--        End Dialog-->


    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a data-ref="preview" data-section="preview" class="item" href="javascript:" title="Contact/Profile">
          <i class="payment icon"></i> <span>CONTACT_PROFILE</span>
        </a>

        <div class="right menu">
          <a data-ref="form" class="item" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>