<div data-scope="Database" class="page">

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="five wide column">Backup</label>
        <div class="three wide column">
          <div class="ui input fluid">
            <button style="width:100%" data-ref="backup" type="button" class="ui button primary">Execute</button>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">

        </div>
      </div>
    </div>

  </div>


  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a data-ref="preview" class="item" data-section="preview" href="javascript:" title="Preview">
          <i class="payment icon"></i> <span>Database</span>
        </a>


      </div>

    </div>
  </div>

</div>