<div data-scope="Desktop" style="position: relative">

    <div style="position: absolute; left: 30%; top: 50%; margin-left: -160px; margin-top: -80px; display: none">
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="580" height="160" viewBox="0 0 320 160"
            id="svg2" version="1.1" inkscape:version="0.91 r13725" sodipodi:docname="Logo.svg">
            <defs id="defs4" />
            <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0"
                inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="0.9899495" inkscape:cx="157.80696"
                inkscape:cy="117.75751" inkscape:document-units="px" inkscape:current-layer="layer1" showgrid="false"
                inkscape:window-width="1366" inkscape:window-height="705" inkscape:window-x="-8" inkscape:window-y="-8"
                inkscape:window-maximized="1" units="px" />
            <metadata id="metadata7">
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title />
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(0,-892.36214)">
                <a id="a4195" style="fill:#3b83c0;fill-opacity:1"
                    transform="matrix(0.5729474,0,0,0.63357101,420.87665,778.17274)">
                    <text sodipodi:linespacing="125%" id="text4136" y="333.65088" x="-722.29962"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:130.76634216px;line-height:125%;font-family:'Bitstream Vera Sans';-inkscape-font-specification:'Bitstream Vera Sans';letter-spacing:0px;word-spacing:0px;fill:#3b83c0;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        xml:space="preserve">
                        <tspan
                            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Ubuntu-R;-inkscape-font-specification:Ubuntu-R;fill:#3b83c0;fill-opacity:1"
                            y="333.65088" x="-722.29962" id="tspan4138" sodipodi:role="line">BPSDM </tspan>
                    </text>
                </a>
                <text xml:space="preserve"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:38.20951462px;line-height:125%;font-family:'Bitstream Vera Sans';-inkscape-font-specification:'Bitstream Vera Sans';letter-spacing:0px;word-spacing:0px;fill:#3b83c0;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    x="132.40701" y="1031.0925" id="text4150" sodipodi:linespacing="125%"
                    transform="scale(0.99751319,1.002493)">
                    <tspan sodipodi:role="line" id="tspan4152" x="132.40701" y="1031.0925"
                        style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:Ubuntu-R;-inkscape-font-specification:'Ubuntu-R Bold';fill:#3b83c0;fill-opacity:1">
                        Provinsi Lampung</tspan>
                </text>
                <a id="a4192" style="fill:#3b83c0;fill-opacity:1"
                    transform="matrix(0.62958558,0,0,0.63357101,398.74591,780.17274)">
                    <path inkscape:connector-curvature="0" id="path4173"
                        d="m -172.18516,202.39298 a 39.623738,39.623738 0 0 0 -39.62392,39.62391 39.623738,39.623738 0 0 0 39.62392,39.62392 39.623738,39.623738 0 0 0 39.62391,-39.62392 39.623738,39.623738 0 0 0 -39.62391,-39.62391 z m 0.58605,10.55759 a 29.29177,29.29177 0 0 1 29.29163,29.29164 29.29177,29.29177 0 0 1 -29.29163,29.29163 29.29177,29.29177 0 0 1 -29.29162,-29.29163 29.29177,29.29177 0 0 1 29.29162,-29.29164 z"
                        style="fill:#3b83c0;fill-opacity:1;stroke:none" />
                </a>
                <path style="fill:#3b83c0;fill-opacity:1;stroke:none"
                    d="m 290.18233,926.20705 a 6.9887173,7.0329575 0 0 0 -6.98861,7.03286 6.9887173,7.0329575 0 0 0 6.98861,7.0335 6.9887173,7.0329575 0 0 0 6.98862,-7.0335 6.9887173,7.0329575 0 0 0 -6.98862,-7.03286 z m 0.30951,2.84073 a 4.2358024,4.262616 0 0 1 4.2359,4.26271 4.2358024,4.262616 0 0 1 -4.2359,4.26271 4.2358024,4.262616 0 0 1 -4.23589,-4.26271 4.2358024,4.262616 0 0 1 4.23589,-4.26271 z"
                    id="path4187" inkscape:connector-curvature="0" />
            </g>
        </svg>
    </div>

</div>