<div data-scope="Diklat" class="page">

    <div id="list" class="section">

        <div class="ui stackable grid">
            <div class="row">
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="filter"></div>
                    </div>
                </div>
                <div class="nine wide column">
                    <div class="ui input fluid">
                        <div data-ref="search"></div>
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui input fluid">
                        <div data-ref="publishStatusId"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div data-ref="table"></div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div data-ref="paging"></div>
                </div>
            </div>
        </div>

        <div id="button" class="button-wrapper">
            <div class="ui menu large">
                <div class="left menu">
                    <!-- <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="jadwal" type="button" class="ui button primary">Jadwal</button> -->
                </div>

                <div class="right menu">
                    <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
                </div>
            </div>
        </div>

        <!--        Dialog-->

        <div data-ref="editDialog" class="ui modal">
            <i class="close icon"></i>
            <div class="header"><span>Copy Diklat</span>
            </div>
            <div class="content">
                <div class="ui stackable grid">


                    <div class="row">
                        <label class="three wide column">Lokasi Pelaksanaan</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="lokasiId"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="three wide column">Angkatan</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="angkatanId"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="sixteen wide column">
                            <button data-ref="add" type="button" class="ui button primary iconic-button">
                                <i class="plus icon"></i>
                            </button>
                            <button data-ref="delete" type="button" class="ui button negative"
                                style="width: 46px; height: 38px">
                                <i class="trash icon"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="sixteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="listLokasi"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="actions">
                <button type="button" data-ref="save" class="ui primary button">Save</button>
                <button type="button" data-ref="cancel" class="ui negative button">Cancel</button>
            </div>
        </div>

        <!--        End Dialog-->

    </div>

    <div id="preview" class="section">

        <div class="ui segment stackable grid page-input-jadwal">

            <div class="row">
                <label class="three wide column ij-jenisdiklat">JENIS_DIKLAT</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="jenisDiklat"></div>
                    </div>
                </div>
                <label class="two wide column">Tahun</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="tahunDiklat"></div>
                    </div>
                </div>
                <div class="two wide column">
                    <div class="ui input fluid">
                        <div data-ref="publishStatus"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">KODE</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="kode"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">NAMA_DIKLAT</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="namaDiklat"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">Lokasi Pelaksanaan</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="lokasi"></div>
                    </div>
                </div>
                <label class="two wide column">Angkatan</label>
                <div class="five wide column">
                    <div class="ui input fluid">
                        <div data-ref="angkatan"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">PELAKSANAAN_MULAI</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="pelaksanaanMulai"></div>
                    </div>
                </div>
                <label class="two wide column">Selesai</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="pelaksanaanSelesai"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">KUOTA</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="kuota"></div>
                    </div>
                </div>
                <label class="two wide column">STATUS_DIKLAT</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="statusDiklat"></div>
                    </div>
                </div>
            </div>

            <div data-ref="elDetail" class="row">
                <label class="three wide column">User Pembuat</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="userCreated"></div>
                    </div>
                </div>
                <label class="two wide column">Tanggal</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="tglCreated"></div>
                    </div>
                </div>
            </div>

            <div data-ref="elDetail" class="row">
                <label class="three wide column">User Ubah</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="userUpdated"></div>
                    </div>
                </div>
                <label class="two wide column">Tanggal</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="tglUpdated"></div>
                    </div>
                </div>
            </div>

            <h3 class="inputjadwaltitle">List Jadwal</h3>

            <div data-ref="elDetail" class="row">
                <div class="sixteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="listJadwalDetail"></div>
                    </div>
                </div>
            </div>

            <div data-ref="elDetailInput" class="row">
                <div class="sixteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="listJadwalDetailInput"></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="button" class="button-wrapper">
            <div class="ui menu large">
                <div class="left menu">
                    <!-- <button data-ref="edit" type="button" class="ui button primary">EDIT</button> -->
                    <button data-ref="reloadJadwal" style="width:300%" type="button" class="ui button primary">Reload
                        Jadwal</button>
                    <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
                </div>
                <div class="right menu">
                    <a data-ref="excel" class="item"><i class="file outline excel icon"></i></a>
                </div>
            </div>
        </div>

        <!--        Dialog User-->
        <div data-ref="dialogUser" class="ui modal">
            <i class="close icon"></i>
            <div class="header"><span>Detail</span>
            </div>
            <div class="content">
                <div class="ui stackable grid">

                    <div class="row">
                        <label class="three wide column">No Urut</label>
                        <div class="five wide column">
                            <div class="ui input fluid">
                                <div data-ref="noUrutUser"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide column">Mata Pelajaran</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="mataPelajaranUser"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide column">Keterangan</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="keteranganUser"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide column">User Pembuat</label>
                        <div class="four wide column">
                            <div class="ui input fluid">
                                <div data-ref="userCreated"></div>
                            </div>
                        </div>
                        <label class="two wide column">Tanggal</label>
                        <div class="five wide column">
                            <div class="ui input fluid">
                                <div data-ref="tglCreated"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide column">User Ubah</label>
                        <div class="four wide column">
                            <div class="ui input fluid">
                                <div data-ref="userUpdated"></div>
                            </div>
                        </div>
                        <label class="two wide column">Tanggal</label>
                        <div class="five wide column">
                            <div class="ui input fluid">
                                <div data-ref="tglUpdated"></div>
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>
            <div class="actions">
                <button type="button" data-ref="cancel" class="ui negative button">Cancel</button>
            </div>
        </div>

        <!--        End Dialog User-->

        <!--        Dialog-->

        <div data-ref="editDialog" class="ui modal">
            <i class="close icon"></i>
            <div class="header"><span>Input Jadwal</span>
            </div>
            <div class="content">
                <div class="ui stackable grid">

                    <div class="row">
                        <label class="three wide column">No Urut</label>
                        <div class="five wide column">
                            <div class="ui input fluid">
                                <div data-ref="noUrut"></div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <label class="three wide column">Tanggal</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="tanggal"></div>
                            </div>
                        </div>
                    </div>

                    <div data-ref="elWaktu" class="row">
                        <label class="three wide column">Jam Mulai</label>
                        <div class="three wide column">
                            <div class="ui input fluid">
                                <div data-ref="jamMulai"></div>
                            </div>
                        </div>
                        <label class="three wide column">Jam Selesai</label>
                        <div class="three wide column">
                            <div class="ui input fluid">
                                <div data-ref="jamSelesai"></div>
                            </div>
                        </div>
                    </div>

                    <div data-ref="elTanggal" class="row">
                        <label class="three wide column">Jumlah Hari</label>
                        <div class="three wide column">
                            <div class="ui input fluid">
                                <div data-ref="jumlahHari"></div>
                            </div>
                        </div>
                        <label class="three wide column">Tanggal Selesai</label>
                        <div class="three wide column">
                            <div class="ui input fluid">
                                <div data-ref="tanggalSelesai_"></div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <label class="three wide column">Mata Pelajaran</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="mataPelajaran"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide column">Ruang</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="ruang"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide column">Keterangan</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="keterangan"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide column">Pengajar Diklat</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="pengajarDiklatId"></div>
                            </div>
                        </div>
                    </div>

                    <div data-ref="elTanggal" class="row">
                        <div class="sixteen wide column">
                            <button data-ref="add" type="button" class="ui button primary iconic-button">
                                <i class="plus icon"></i>
                            </button>
                            <button data-ref="delete" type="button" class="ui button negative"
                                style="width: 46px; height: 38px">
                                <i class="trash icon"></i>
                            </button>
                        </div>
                    </div>

                    <div data-ref="elTanggal" class="row">
                        <div class="sixteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="listPengajar"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="actions">
                <button type="button" data-ref="save" class="ui primary button">Save</button>
                <button type="button" data-ref="cancel" class="ui negative button">Cancel</button>
            </div>
        </div>

        <!--        End Dialog-->


    </div>

    <div id="form" class="section">

        <div class="ui segment stackable grid">

            <div class="row">
                <label class="three wide column">PUBLISH_STATUS</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="publishStatusId"></div>
                    </div>
                </div>
                <label class="two wide column">Tahun</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="tahunDiklat"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">JENIS_DIKLAT</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="jenisDiklatId"></div>
                    </div>
                </div>
                
            </div>

            <div data-ref="elKode" class="row">
                <label class="three wide column">KODE</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="kode"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">NAMA_DIKLAT</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="namaDiklat"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">Lokasi</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="lokasiId"></div>
                    </div>
                </div>
                <label class="two wide column">Angkatan</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="angkatanId"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">PELAKSANAAN_MULAI</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="pelaksanaanMulai"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">PELAKSANAAN_SELESAI</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="pelaksanaanSelesai"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">KUOTA</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="kuota"></div>
                    </div>
                </div>
                <label class="two wide column">STATUS_DIKLAT</label>
                <div class="five wide column">
                    <div class="ui input fluid">
                        <div data-ref="statusDiklatId"></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="button" class="button-wrapper">
            <div class="ui menu large">
                <div class="left menu">
                    <button data-ref="save" type="button" class="ui button primary">SAVE</button>
                    <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
                </div>
            </div>
        </div>

    </div>

    <div id="tab" class="tab-wrapper">
        <div class="ui tiered menu">

            <div class="menu">
                <a href="#/kegiatan_diklat" class="item" title="Kegiatan Diklat">
                    <i class="payment layout icon"></i> <span>KEGIATAN_DIKLAT</span>
                </a>
                <a href="#/kegiatan_diklat/diklat" data-ref="list" data-section="list" class="item" title="Diklat">
                    <i class="payment layout icon"></i> <span>DIKLAT</span>
                </a>

                <div class="right menu">
                    <a style="display:none" data-ref="preview" class="item hidden-sm" data-section="preview"
                        href="javascript:" title="Preview">
                        <i class="desktop icon"></i>
                    </a>
                    <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
                        <i class="edit icon"></i>
                    </a>

                    <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
                </div>

            </div>

        </div>
    </div>

</div>