<div data-scope="FootContent" class="page">

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">DESCRIPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="description"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
        <label class="three wide column"><span>DESCRIPTION</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="descriptionSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elContainer" class="row">
        <label class="three wide column"><span>DESCRIPTION</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="descriptionEl"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">LINKS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="links"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div style="display:none" class="row">
        <label class="thirteen wide column"></label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCode"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">DESCRIPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="description"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
        <label class="three wide column"><span>DESCRIPTION</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="descriptionSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elContainer" class="row">
        <label class="three wide column"><span>DESCRIPTION</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="descriptionEl"></div>
          </div>
        </div>
      </div>

      <div style="display:none" class="row">
        <label class="thirteen wide column"></label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCodeLink"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">LINK_CAPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="linkCaption"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainerLink" class="row">
        <label class="three wide column"><span>LINK_CAPTION</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="linkCaptionSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elContainerLink" class="row">
        <label class="three wide column"><span>LINK_CAPTION</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="linkCaptionEl"></div>
          </div>
        </div>
      </div>


      <div class="row">
        <label class="three wide column">LINK_BEHAVIOR</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="linkBehaviorId"></div>
          </div>
        </div>
      </div>

      <div data-ref="pageContainer" class="row">
        <label data-ref="lPage" class="three wide column">PAGE</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="pagesId"></div>
          </div>
        </div>
      </div>

      <div data-ref="slPageContainer" class="row">
        <label class="three wide column"><span>PAGE</span> (<span data-ref="labelSl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="pagesSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elPageContainer" class="row">
        <label class="three wide column"><span>PAGE</span> (<span data-ref="labelEl"></span>)</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="pagesEl"></div>
          </div>
        </div>
      </div>

      <div data-ref="urlContainer" class="row">
        <label class="three wide column">URL</label>
        <div class="eight wide column">
          <div class="ui input fluid">
            <div data-ref="url"></div>
          </div>
        </div>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="openURLOnNewTabId"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="two wide column">
          <button data-ref="add" type="button" class="ui button primary iconic-button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="links"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <button data-ref="delete" type="button" class="ui button negative" style="width: 46px; height: 38px">
            <i class="trash icon"></i>
          </button>
          <button data-ref="edit" type="button" class="ui button primary" style="width: 46px; height: 38px">
            <i class="edit icon"></i>
          </button>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

    <!--        Dialog-->

    <div data-ref="editDialog" class="ui modal">
      <div class="header"><span>EDIT</span></div>
      <div class="content">

        <div class="ui stackable grid">

          <div style="display:none" class="row">
            <label class="thirteen wide column"></label>
            <div class="three wide column">
              <div class="ui input fluid">
                <div data-ref="languageCodeLink"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="three wide column">LINK_CAPTION</label>
            <div class="thirteen wide column">
              <div class="ui input fluid">
                <div data-ref="linkCaption"></div>
              </div>
            </div>
          </div>

          <div data-ref="slContainerLink" class="row">
            <label class="three wide column"><span>LINK_CAPTION</span> (<span data-ref="labelSl"></span>)</label>
            <div class="thirteen wide column">
              <div class="ui input fluid">
                <div data-ref="linkCaptionSl"></div>
              </div>
            </div>
          </div>

          <div data-ref="elContainerLink" class="row">
            <label class="three wide column"><span>LINK_CAPTION</span> (<span data-ref="labelEl"></span>)</label>
            <div class="thirteen wide column">
              <div class="ui input fluid">
                <div data-ref="linkCaptionEl"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="three wide column">LINK_BEHAVIOR</label>
            <div class="thirteen wide column">
              <div class="ui input fluid">
                <div data-ref="linkBehaviorId"></div>
              </div>
            </div>
          </div>

          <div data-ref="pageContainer" class="row">
            <label data-ref="lPage" class="three wide column">PAGE</label>
            <div class="five wide column">
              <div class="ui input fluid">
                <div data-ref="pagesId"></div>
              </div>
            </div>
          </div>

          <div data-ref="slPageContainer" class="row">
            <label class="three wide column"><span>PAGE</span> (<span data-ref="labelSl"></span>)</label>
            <div class="thirteen wide column">
              <div class="ui input fluid">
                <div data-ref="pagesSl"></div>
              </div>
            </div>
          </div>

          <div data-ref="elPageContainer" class="row">
            <label class="three wide column"><span>PAGE</span> (<span data-ref="labelEl"></span>)</label>
            <div class="thirteen wide column">
              <div class="ui input fluid">
                <div data-ref="pagesEl"></div>
              </div>
            </div>
          </div>

          <div data-ref="urlContainer" class="row">
            <label class="three wide column">URL</label>
            <div class="eight wide column">
              <div class="ui input fluid">
                <div data-ref="url"></div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui input fluid">
                <div data-ref="openURLOnNewTabId"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="actions">
        <button type="button" data-ref="save" class="ui primary button">Save</button>
        <button type="button" data-ref="cancel" class="ui negative button">Cancel</button>
      </div>
    </div>

    <!--        End Dialog-->

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <!-- <a href="#/contents/header_footer" class="item" title="Head Content">
          <i class="payment layout icon"></i> <span>HEAD_CONTENT</span>
        </a> -->

        <a data-ref="preview" data-section="preview" class="item" href="javascript:" title="Kop Kepala/Kaki">
          <i class="payment icon"></i> <span>Kop Kepala/Kaki</span>
        </a>

        <div class="right menu">
          <a data-ref="form" class="item" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>