<div data-scope="GeneralSettings" class="page">

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="two wide column">WEBSITE_ADDRESS</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="website_address"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">API_ADDRESS</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="api_address"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>
      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="two wide column">WEBSITE_ADDRESS</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="website_address"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">API_ADDRESS</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="api_address"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="apply" type="button" class="ui button primary">APPLY</button>
          <button data-ref="reset" type="button" class="ui button primary">RESET</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">
        <a href="javascript:" data-ref="form" data-section="form" class="item" title="General Settings">
          <i class="payment layout icon"></i> <span>GENERAL_SETTINGS</span>
        </a>
      </div>

    </div>
  </div>

</div>
