<div data-scope="JadwalPengajar" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
          <label class="two wide column">Jenis Diklat</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklatId"></div>
          </div>
        </div>
          <label class="two wide column">Nama Diklat</label>
          <div class="four wide column">
              <div class="ui input fluid">
                  <div data-ref="diklatId"></div>
              </div>
          </div>
          <label class="two wide column">Tahun</label>
          <div class="two wide column">
              <div class="ui input fluid">
                  <div data-ref="tahun"></div>
              </div>
          </div>
      </div>
        <div class="row">
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
          <div class="three wide column">
              <div class="ui input fluid">
                  <div data-ref="publishStatusId"></div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>
    
    <div id="listBahan" class="section">

     <!-- form input  -->
     <div class="row">
      <label class="three wide column">Pengajar Diklat</label>
      <div class="thirteen wide column">
        <div class="ui input fluid">
          <div data-ref="pengajarDiklatId"></div>
        </div>
      </div>
    </div>
      
  <div class="row">
      <label class="three wide column">Mata Pelajaran</label>
      <div class="thirteen wide column">
        <div class="ui input fluid">
          <div data-ref="mataPelajaranId"></div>
        </div>
      </div>
    </div>
      
      <div class="row">
      <label class="three wide column">Lokasi</label>
      <div class="thirteen wide column">
        <div class="ui input fluid">
          <div data-ref="lokasiId"></div>
        </div>
      </div>
    </div>
      
      <div class="row">
      <label class="three wide column">Tempat</label>
      <div class="thirteen wide column">
        <div class="ui input fluid">
          <div data-ref="tempatId"></div>
        </div>
      </div>
    </div>
      
  <div class="row">
      <label class="three wide column">Tanggal</label>
      <div class="thirteen wide column">
        <div class="ui input fluid">
          <div data-ref="tanggal"></div>
        </div>
      </div>
    </div>
      
  <div class="row">
      <label class="three wide column">Jam Mulai</label>
      <div class="three wide column">
        <div class="ui input fluid">
          <div data-ref="jamMulai"></div>
        </div>
      </div>
      <div class="three wide column">
        <div class="ui input fluid">
          <div data-ref="jamMulaiMenit"></div>
        </div>
      </div>
    </div> 
  
      <div class="row">
      <label class="three wide column">Jam Selesai</label>
      <div class="three wide column">
        <div class="ui input fluid">
          <div data-ref="jamSelesai"></div>
        </div>
      </div>
          <div class="three wide column">
        <div class="ui input fluid">
          <div data-ref="jamSelesaiMenit"></div>
        </div>
      </div>
    </div> 

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
            <a data-ref="pdf" class="item"><i class="file outline pdf icon"></i></a>
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
          
      </div>
    </div>

  </div>
    
    

  <div id="preview" class="section">

    <div class="ui segment stackable grid">
    
        <div class="row">
        <label class="three wide column">PUBLISH_STATUS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatus"></div>
          </div>
        </div>
      </div>
        
      <div class="row">
        <label class="three wide column">Nomor</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nomor"></div>
          </div>
        </div>
      </div>
        
        <div class="row">
        <label class="three wide column">Nama Diklat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="namaDiklat"></div>
          </div>
        </div>
      </div>
        
        <div class="row">
        <label class="three wide column">Jenis Diklat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklat"></div>
          </div>
        </div>
      </div>
        
    <div class="row">
        <label class="three wide column">Pelaksanaan Mulai</label>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="pelaksanaanMulai"></div>
          </div>
        </div>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="pelaksanaanSelesai"></div>
          </div>
        </div>
      </div>
        
    <div class="row">
        <label class="three wide column">Angkatan</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="angkatan"></div>
          </div>
        </div>
      </div>    

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>
    
    <div id="previewBahan" class="section">

    <div class="ui segment stackable grid">
    
      <div class="row">
        <label class="three wide column">Pengajar Diklat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="namaPengajar"></div>
          </div>
        </div>
      </div>
        
    <div class="row">
        <label class="three wide column">Mata Pelajaran</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="mataPelajaran"></div>
          </div>
        </div>
      </div>
        
        <div class="row">
        <label class="three wide column">Lokasi</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="lokasi"></div>
          </div>
        </div>
      </div>
        
        <div class="row">
        <label class="three wide column">Tempat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tempat"></div>
          </div>
        </div>
      </div>
        
    <div class="row">
        <label class="three wide column">Tanggal</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tanggal"></div>
          </div>
        </div>
      </div>
        
    <div class="row">
        <label class="three wide column">Jam Mulai</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jamMulai"></div>
          </div>
        </div>
      </div> 
    
        <div class="row">
        <label class="three wide column">Jam Selesai</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jamSelesai"></div>
          </div>
        </div>
      </div> 

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
          
      </div>
    </div>

  </div>

  <div id="formBahan" class="section">

    <div class="ui segment stackable grid">
      
        
      <div class="row">
        <label class="three wide column">Pengajar Diklat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="pengajarDiklatId"></div>
          </div>
        </div>
      </div>
        
    <div class="row">
        <label class="three wide column">Mata Pelajaran</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="mataPelajaranId"></div>
          </div>
        </div>
      </div>
        
        <div class="row">
        <label class="three wide column">Lokasi</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="lokasiId"></div>
          </div>
        </div>
      </div>
        
        <div class="row">
        <label class="three wide column">Tempat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tempatId"></div>
          </div>
        </div>
      </div>
        
    <div class="row">
        <label class="three wide column">Tanggal</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tanggal"></div>
          </div>
        </div>
      </div>
        
    <div class="row">
        <label class="three wide column">Jam Mulai</label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="jamMulai"></div>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="jamMulaiMenit"></div>
          </div>
        </div>
      </div> 
    
        <div class="row">
        <label class="three wide column">Jam Selesai</label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="jamSelesai"></div>
          </div>
        </div>
            <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="jamSelesaiMenit"></div>
          </div>
        </div>
      </div> 

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>
    
    <div id="form" class="section">

    <div class="ui segment stackable grid">
      
        <div class="row">
        <label class="three wide column">PUBLISH_STATUS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatusId"></div>
          </div>
        </div>
      </div>
        
      <div class="row">
        <label class="three wide column">Nomor</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nomor"></div>
          </div>
        </div>
      </div>
        
        <div class="row">
        <label class="three wide column">Nama Diklat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="diklatId"></div>
          </div>
        </div>
      </div>
        
        <div class="row">
        <label class="three wide column">Jenis Diklat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklat"></div>
          </div>
        </div>
      </div>
        
    <div class="row">
        <label class="three wide column">Pelaksanaan Mulai</label>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="pelaksanaanMulai"></div>
          </div>
        </div>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="pelaksanaanSelesai"></div>
          </div>
        </div>
      </div>
        
    
        
    <div class="row">
        <label class="three wide column">Angkatan</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="angkatanId"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">
          <a  class="item" href="#/jadwal_diklat" title="Jadwal Diklat">
          <i class="payment icon"></i> <span>Jadwal Diklat</span>
        </a>
          
        <a data-ref="list" data-section="list" class="item" href="javascript:" title="Jadwal Pengajar">
          <i class="payment icon"></i> <span>Jadwal Pengajar</span>
        </a>
         <a data-ref="listBahan" data-ref="listBahan" data-section="listBahan" class="item" title="Bahan jadwal">
          <i class="payment layout icon"></i> <span>Bahan Jadwal</span>
        </a>   

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
          <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>

          <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
            <a data-ref="previewBahan" class="item hidden-sm" data-section="previewBahan" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
          <a data-ref="formBahan" class="item hidden-sm" data-section="formBahan" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>

          <a data-ref="newBahan" class="item" data-section="formBahan" title="New"><i class="plus icon"></i></a>    
        </div>
          
          

      </div>

    </div>
  </div>

</div>
