<div data-scope="JawabanAkd" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">

        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">


      <div class="row">
        <label class="three wide column">JABATAN</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jabatan"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">UNIT_KERJA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="unitKerja"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">INSTANSI</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="instansi"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NIP_NAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nipNama"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">KEDUDUKAN</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="kedudukan"></div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="links"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
        <div class="right menu">
          <a data-ref="pdf" class="item"><i class="file outline pdf icon"></i></a>
        </div>
      </div>
    </div>

  </div>


  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a href="javascript:" data-ref="list" data-section="list" class="item" title="Jawaban">
          <i class="payment layout icon"></i> <span>JAWABAN</span>
        </a>

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>