<div data-scope="Kelulusan" class="page">

    <div id="list" class="section">

        <div class="ui stackable grid">
            <div class="row">
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="jenisDiklatId"></div>
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui input fluid">
                        <div data-ref="tahun"></div>
                    </div>
                </div>
                <div class="nine wide column">
                    <div class="ui input fluid">
                        <div data-ref="namaDiklat"></div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="search"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide column">
                    <div data-ref="table"></div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div data-ref="paging"></div>
                </div>
            </div>
        </div>

        <div id="button" class="button-wrapper">
            <div class="ui menu large">
                <div class="left menu">
                    <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
                    <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
                    <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
                </div>

                <div class="right menu">
                    <a data-ref="pdf" class="item"><i class="file outline pdf icon"></i></a>
                    <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div id="preview" class="section">

        <div class="ui segment stackable grid">

            <div class="row">
                <label class="three wide column">JENIS_DIKLAT</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="jenisDiklat"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">NAMA_DIKLAT</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="namaDiklat"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">NIP_NAMA</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="nipNama"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">NO_REGISTRASI</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="noRegistrasi"></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="button" class="button-wrapper">
            <div class="ui menu large">
                <div class="left menu">
                    <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
                    <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
                </div>
            </div>
        </div>

    </div>

    <div id="form" class="section">

        <div class="ui segment stackable grid">

            <div class="row">
                <label class="three wide column">JENIS_DIKLAT</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="jenisDiklatId"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">TAHUN</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="tahun"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">NAMA_DIKLAT</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="namaDiklat"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">NIP_NAMA</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="nipNama"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">NO_REGISTRASI</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="noRegistrasi"></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="button" class="button-wrapper">
            <div class="ui menu large">
                <div class="left menu">
                    <button data-ref="save" type="button" class="ui button primary">SAVE</button>
                    <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
                </div>
            </div>
        </div>

    </div>

    <div id="tab" class="tab-wrapper">
        <div class="ui tiered menu">

            <div class="menu">

                <a data-ref="list" data-section="list" class="item" href="javascript:" title="Kelulusan">
                    <i class="payment icon"></i> <span>KELULUSAN</span>
                </a>
                <div class="right menu">
                    <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
                        <i class="desktop icon"></i>
                    </a>
                    <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
                        <i class="edit icon"></i>
                    </a>

                    <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
                </div>

            </div>

        </div>
    </div>

</div>