<div data-scope="Kitchen" class="page">

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="two wide column">Button</label>
        <div class="two wide column">
          <div class="ui input fluid">
            <button data-ref="button1" type="button" class="ui button primary">Disabled</button>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui input fluid">
            <button data-ref="button2" type="button" class="ui button negative">Button</button>
          </div>
        </div>

        <div class="ten wide column">
          <!-- <div class="ui input fluid"> -->
            <div data-ref="langBox"></div>
          <!-- </div> -->
        </div>
      </div>

      <div class="row">
        <label class="two wide column">CheckBox</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="checkBox"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">CheckTree</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="checkTree"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">TreeView</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="treeView"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">ComboBox</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="comboBox"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">DatePicker</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="datePicker"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column"></label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="datePicker1"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">HTMLView</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="htmlView"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">ImageView</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="imageView"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">MapPicker</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="mapPicker"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">MoneyBox</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="moneyBox"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">MultipleImageView</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="multipleImageView"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">MultipleUploadImage</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="multipleUploadImage"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">NumericBox</label>
        <div class="two wide column">
          <div class="ui input fluid">
            <span data-ref="numericBox"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">Paging</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <span data-ref="paging"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">RadioBox</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <span data-ref="radioBox"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">RichText</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <span data-ref="richText"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">Table</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <span data-ref="table"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">TableView</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <span data-ref="tableView"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">TextArea</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <span data-ref="textArea"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">TextAreaView</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <span data-ref="textAreaView"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">TextBox</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <span data-ref="textBox"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">TextView</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <span data-ref="textView"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">UploadFile</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <span data-ref="uploadFile"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">UploadImage</label>
        <div class="five wide column">
          <div class="ui input fluid">
            <span data-ref="uploadImage"></span>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="test" type="button" class="ui button primary">Test</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">
        <a data-ref="preview" class="item" data-section="preview" href="javascript:" title="Preview">
          <i class="payment icon"></i> <span>KITCHEN</span>
        </a>
      </div>

    </div>
  </div>

  <div data-ref="testModal" class="ui small modal">
    <div class="header">Header</div>
    <div class="content">

      <div class="ui grid">
        <div class="row">
          <label class="three wide column">Name</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="name"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="actions">
      <button type="button" data-ref="save" class="ui primary button">Save</button>
      <button type="button" data-ref="cancel" class="ui negative button">Cancel</button>
    </div>
  </div>

</div>
