<div data-scope="LaporanRekapitulasi" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklatId"></div>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui input fluid">
              <div data-ref="publishStatusId"></div>
          </div>
      </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column ij-jenisdiklat">JENIS_DIKLAT</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklat"></div>
          </div>
        </div>
        <label class="two wide column">Tahun</label>
        <div class="two wide column">
          <div class="ui input fluid">
            <div data-ref="tahunDiklat"></div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatus"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">Nama Diklat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="namaDiklat"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">Lokasi Pelaksanaan</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="lokasi"></div>
          </div>
        </div>
        <label class="two wide column">Angkatan</label>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="angkatan"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">PELAKSANAAN_MULAI</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="pelaksanaanMulai"></div>
          </div>
        </div>
        <label class="two wide column">Selesai</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="pelaksanaanSelesai"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">KUOTA</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="kuota"></div>
          </div>
        </div>
        <label class="two wide column">STATUS_DIKLAT</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="statusDiklat"></div>
          </div>
        </div>
      </div>

      <h3 class="inputjadwaltitle">Judul Laporan </h3>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="listLaporan"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
        <div class="right menu">
          <a data-ref="excel" class="item"><i class="file outline excel icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">
        <a data-ref="list" data-section="list" class="item" href="javascript:" title="Laporan Rekapitulasi">
          <i class="payment icon"></i> <span>Laporan Rekapitulasi</span>
        </a>

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>