<div id="login">

  <div id="form">
    <form class="ui form segment">

      <div class="field">
        <label>EMAIL</label>
        <div class="ui input">
          <div data-ref="email"></div>
        </div>
      </div>
      <div class="field">
        <label>PASSWORD</label>
        <div class="ui left icon input">
          <div data-ref="password"></div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div id="button" class="field">
        <button data-ref="login" type="button" class="ui primary large button">LOGIN</button>
      </div>
    </form>
  </div>

</div>
