<div data-scope="MataPelajaran" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklatId"></div>
          </div>
        </div>
        <div class="seven wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui input fluid">
              <div data-ref="publishStatusId"></div>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">Tipe</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="tipeMataPelajaran"></div>
          </div>
        </div>
        <label class="three wide column">Tipe</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatus"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">Jenis Diklat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklat"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">No Urut</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="noUrut"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">Mata Pelajaran</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="mataPelajaran"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">Tipe Waktu</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tipeWaktu"></div>
          </div>
        </div>
      </div>

      <div data-ref="elTanggal" class="row">
        <label class="three wide column">Tipe Tanggal</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tipeTanggal"></div>
          </div>
        </div>
      </div>

      <div data-ref="elTanggal" class="row">
        <label class="three wide column">Jumlah Hari</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jumlahHari"></div>
          </div>
        </div>
      </div>

      <div data-ref="elWaktu" class="row">
        <label class="three wide column">Jam Mulai</label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="jamMulai"></div>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="jamMulaiMenit"></div>
          </div>
        </div>
      </div>

      <div data-ref="elWaktu" class="row">
        <label class="three wide column">Jam Selesai</label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="jamSelesai"></div>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="jamSelesaiMenit"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">Jumlah JP</label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="jumlahJp"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">Tipe</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="tipeMataPelajaranId"></div>
          </div>
        </div>
        <label class="three wide column">Publish Status</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatusId"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">Jenis Diklat</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklatId"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">No Urut</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="noUrut"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">Mata Pelajaran</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="labelMapelId"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">Tipe Waktu</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tipeWaktuId"></div>
          </div>
        </div>
      </div>

      <div data-ref="elTanggal" class="row">
        <label class="three wide column">Tipe Tanggal</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tipeTanggalId"></div>
          </div>
        </div>
      </div>

      <div data-ref="elTanggal" class="row">
        <label class="three wide column">Jumlah Hari</label>
        <div class="two wide column">
          <div class="ui input fluid">
            <div data-ref="jumlahHari"></div>
          </div>
        </div>
      </div>

      <div data-ref="elWaktu" class="row">
        <label class="three wide column">Jam Mulai</label>
        <div class="jam-set">
          <div class="ui input fluid">
            <div data-ref="jamMulai"></div>
          </div>
        </div>
        <div class="jam-set">
          <div class="ui input fluid">
            <div data-ref="jamMulaiMenit"></div>
          </div>
        </div>
      </div>

      <div data-ref="elWaktu" class="row">
        <label class="three wide column">Jam Selesai</label>
        <div class="jam-set">
          <div class="ui input fluid">
            <div data-ref="jamSelesai"></div>
          </div>
        </div>
        <div class="jam-set">
          <div class="ui input fluid">
            <div data-ref="jamSelesaiMenit"></div>
          </div>
        </div>
      </div>
      <div  class="row">
        <label class="three wide column">Jumlah JP</label>
        <div class="jam-set">
          <div class="ui input fluid">
            <div data-ref="jumlahJp"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">
        <a data-ref="list" data-section="list" class="item" href="javascript:" title="Mata Pelajaran">
          <i class="payment icon"></i> <span>Mata Pelajaran</span>
        </a>

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
          <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>

          <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
        </div>

      </div>

    </div>
  </div>

</div>