<div data-scope="Menu" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
        <div class="three wide column">
              <div class="ui input fluid">
                  <div data-ref="publishStatusId"></div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
          <a data-ref="up" title="Move Up" class="item"><i class="arrow up icon"></i></a>
          <a data-ref="down" title="Move Down" class="item"><i class="arrow down icon"></i></a>
          <a data-ref="refresh" title="Refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">PUBLISH_STATUS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatus"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">MENU_CAPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="menuCaption"></div>
          </div>
        </div>
      </div>
      
      <div data-ref="slContainer" class="row">
          <label class="three wide column"><span>MENU_CAPTION</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="menuCaptionSl"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="elContainer" class="row">
          <label class="three wide column"><span>MENU_CAPTION</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="menuCaptionEl"></div>
            </div>
          </div>
        </div>

      <div class="row">
        <label class="three wide column">MENU_BEHAVIOR</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="menuBehavior"></div>
          </div>
        </div>
      </div>

      <div data-ref="pageContainer" class="row">
        <label class="three wide column">PAGE</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="page"></div>
          </div>
        </div>
      </div>
      
      <div data-ref="slPageContainer" class="row">
          <label class="three wide column"><span>PAGE</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="pageSl"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="elPageContainer" class="row">
          <label class="three wide column"><span>PAGE</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="pageEl"></div>
            </div>
          </div>
        </div>

      <div data-ref="urlContainer" class="row">
        <label class="three wide column">URL</label>
        <div class="seven wide column">
          <div class="ui input fluid">
            <div data-ref="url"></div>
          </div>
        </div>
        <label class="three wide column">OPEN_URL_ON_NEW_TAB</label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="openURLOnNewTab"></div>
          </div>
        </div>
      </div>

      <div data-ref="subMenuContainer" class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="subMenu"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">PUBLISH_STATUS</label>
        <div class="ten wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatusId"></div>
          </div>
        </div>
        <div style="display:none" class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCode"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">MENU_CAPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="menuCaption"></div>
          </div>
        </div>
      </div>
      
      <div data-ref="slContainer" class="row">
          <label class="three wide column"><span>MENU_CAPTION</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="menuCaptionSl"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="elContainer" class="row">
          <label class="three wide column"><span>MENU_CAPTION</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="menuCaptionEl"></div>
            </div>
          </div>
        </div>

      <div class="row">
        <label class="three wide column">MENU_BEHAVIOR</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="menuBehaviorId"></div>
          </div>
        </div>
      </div>

      <div data-ref="pageContainer" class="row">
        <label data-ref="lPage" class="three wide column">PAGE</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="pagesId"></div>
          </div>
        </div>
      </div>
      
      <div data-ref="slPageContainer" class="row">
          <label class="three wide column"><span>PAGE</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="pagesSl"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="elPageContainer" class="row">
          <label class="three wide column"><span>PAGE</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="pagesEl"></div>
            </div>
          </div>
        </div>

      <div data-ref="urlContainer" class="row">
        <label class="three wide column">URL</label>
        <div class="nine wide column">
          <div class="ui input fluid">
            <div data-ref="url"></div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="openURLOnNewTabId"></div>
          </div>
        </div>
      </div>

      <div data-ref="subMenuContainer" class="ui stackable grid">

		<div style="display:none" class="row">
        <label class="thirteen wide column"></label>
        <div class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCodeSubMenu"></div>
          </div>
        </div>
      	</div>
      	
        <div class="row">
          <label class="three wide column">SUB_MENU_CAPTION</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuCaption"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="slSubMenuContainer" class="row">
          <label class="three wide column"><span>SUB_MENU_CAPTION</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuCaptionSl"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="elSubMenuContainer" class="row">
          <label class="three wide column"><span>SUB_MENU_CAPTION</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuCaptionEl"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="three wide column">MENU_BEHAVIOR</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuBehaviorId"></div>
            </div>
          </div>
        </div>

        <div data-ref="subMenuPageContainer" class="row">
          <label data-ref="lPage" class="three wide column">PAGE</label>
          <div class="four wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuPagesId"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="slSubMenuPageContainer" class="row">
          <label class="three wide column"><span>PAGE</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuPagesSl"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="elSubMenuPageContainer" class="row">
          <label class="three wide column"><span>PAGE</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuPagesEl"></div>
            </div>
          </div>
        </div>

        <div data-ref="subMenuUrlContainer" class="row">
          <label class="three wide column">URL</label>
          <div class="nine wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuUrl"></div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuOpenURLOnNewTabId"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="two wide column">
            <button data-ref="add" type="button" class="ui button primary iconic-button">
              <i class="plus icon"></i>
            </button>
          </div>

        </div>

        <div class="row">
          <div class="sixteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenu"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="sixteen wide column">
            <button data-ref="delete" type="button" class="ui button negative" style="width: 46px; height: 38px">
              <i class="trash icon"></i>
            </button>
            <button data-ref="edit" type="button" class="ui button primary" style="width: 46px; height: 38px">
              <i class="edit icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

    <!--        Dialog-->

    <div data-ref="editDialog" class="ui modal">
      <div class="header"><span>EDIT</span></div>
      <div class="content">
        <div class="ui stackable grid">
			
			<div style="display:none"  class="row">
	        <label class="thirteen wide column"></label>
	        <div class="three wide column">
	          <div class="ui input fluid">
	            <div data-ref="languageCodeSub"></div>
	          </div>
	        </div>
	      	</div>
      		
          <div class="row">
            <label class="three wide column">SUB_MENU_CAPTION</label>
            <div class="thirteen wide column">
              <div class="ui input fluid">
                <div data-ref="subMenuCaption"></div>
              </div>
            </div>
          </div>
          
          <div data-ref="slSubContainer" class="row">
          <label class="three wide column"><span>SUB_MENU_CAPTION</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuCaptionSl"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="elSubContainer" class="row">
          <label class="three wide column"><span>SUB_MENU_CAPTION</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuCaptionEl"></div>
            </div>
          </div>
        </div>

          <div class="row">
            <label class="three wide column">MENU_BEHAVIOR</label>
            <div class="thirteen wide column">
              <div class="ui input fluid">
                <div data-ref="subMenuBehaviorId"></div>
              </div>
            </div>
          </div>

          <div data-ref="subMenuPageContainer" class="row">
            <label data-ref="lPage" class="three wide column">PAGE</label>
            <div class="five wide column">
              <div class="ui input fluid">
                <div data-ref="subMenuPagesId"></div>
              </div>
            </div>
          </div>
          
          <div data-ref="slSubPageContainer" class="row">
          <label class="three wide column"><span>PAGE</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuPagesSl"></div>
            </div>
          </div>
        </div>
        
        <div data-ref="elSubPageContainer" class="row">
          <label class="three wide column"><span>PAGE</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="subMenuPagesEl"></div>
            </div>
          </div>
        </div>

          <div data-ref="subMenuUrlContainer" class="row">
            <label class="three wide column">URL</label>
            <div class="nine wide column">
              <div class="ui input fluid">
                <div data-ref="subMenuUrl"></div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui input fluid">
                <div data-ref="subMenuOpenURLOnNewTabId"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="actions">
        <button type="button" data-ref="save" class="ui primary button">Save</button>
        <button type="button" data-ref="cancel" class="ui negative button">Cancel</button>
      </div>
    </div>

    <!--        End Dialog-->

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a data-ref="list" data-section="list" class="item" href="javascript:" title="Menu Management">
          <i class="payment icon"></i> <span>MENU</span>
        </a>

        <div class="right menu">
          <a data-ref="preview" class="item" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>

          <a data-ref="form" class="item" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>
          <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
        </div>

      </div>

    </div>
  </div>

</div>
