<div data-scope="OtherBanner" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>


  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="two wide column">PAGE</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="pagesId"></div>
          </div>
        </div>

      </div>

      <div class="row">
        <label class="two wide column">PUBLISH_STATUS</label>
        <div class="eleven wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatusId"></div>
          </div>
        </div>
        <div style="display:none" class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCode"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">TITLE</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="title"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
        <label class="two wide column"><span>TITLE</span> (<span data-ref="labelSl"></span>)</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="titleSl"></div>
          </div>
        </div>
      </div>

      <div data-ref="elContainer" class="row">
        <label class="two wide column"><span>TITLE</span> (<span data-ref="labelEl"></span>)</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="titleEl"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">BANNER</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="banner"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <!-- <a href="#/contents/banner" class="item" title="Banner">
          <i class="payment layout icon"></i> <span>BANNER</span>
        </a>
        <a href="#/contents/banner/other_pages" data-ref="list" data-section="list" class="item" title="Other Pages">
          <i class="payment layout icon"></i> <span>OTHER_PAGES</span>
        </a> -->
        <a href="#/contents/other_banner" data-ref="list" data-section="list" class="item" title="Banner">
          <i class="payment layout icon"></i> <span>Other Banner</span>
        </a>

        <div class="right menu">
          <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>