<div data-scope="Pages" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
        <div class="three wide column">
              <div class="ui input fluid">
                  <div data-ref="publishStatusId"></div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
          <a data-ref="up" title="Move Up" class="item"><i class="arrow up icon"></i></a>
          <a data-ref="down" title="Move Down" class="item"><i class="arrow down icon"></i></a>
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">PUBLISH_STATUS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatus"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">TITLE</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="title"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
          <label class="three wide column"><span>TITLE</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="titleSl"></div>
            </div>
          </div>
        </div>

        <div data-ref="elContainer" class="row">
          <label class="three wide column"><span>TITLE</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="titleEl"></div>
            </div>
          </div>
        </div>

      <div class="row">
        <label class="three wide column">MEDIA_TYPE</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="mediaType"></div>
          </div>
        </div>
      </div>

      <div data-ref="contentContainer" class="row">
        <label class="three wide column">CONTENT_LAYOUT</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="contentLayout"></div>
          </div>
        </div>
      </div>

      <div data-ref="imageContainer" class="row">
        <label class="three wide column">IMAGE</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="image"></div>
          </div>
        </div>
      </div>

      <div data-ref="videoContainer" class="row">
        <label class="three wide column">VIDEO_EMBED</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="videoEmbed"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">DESCRIPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="description"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
          <label class="three wide column"><span>DESCRIPTION</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="descriptionSl"></div>
            </div>
          </div>
        </div>

        <div data-ref="elContainer" class="row">
          <label class="three wide column"><span>DESCRIPTION</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="descriptionEl"></div>
            </div>
          </div>
        </div>

      <div class="row">
        <label class="three wide column">MORE_DESCRIPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="moreDescription"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
          <label class="three wide column"><span>MORE_DESCRIPTION</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="moreDescriptionSl"></div>
            </div>
          </div>
        </div>

        <div data-ref="elContainer" class="row">
          <label class="three wide column"><span>MORE_DESCRIPTION</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="moreDescriptionEl"></div>
            </div>
          </div>
        </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">PUBLISH_STATUS</label>
        <div class="ten wide column">
          <div class="ui input fluid">
            <div data-ref="publishStatusId"></div>
          </div>
        </div>
        <div style="display:none"  class="three wide column">
          <div class="ui input fluid">
            <div data-ref="languageCode"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">TITLE</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="title"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
          <label class="three wide column"><span>TITLE</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="titleSl"></div>
            </div>
          </div>
        </div>

        <div data-ref="elContainer" class="row">
          <label class="three wide column"><span>TITLE</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="titleEl"></div>
            </div>
          </div>
        </div>

      <div class="row">
        <label class="three wide column">MEDIA_TYPE</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="mediaTypeId"></div>
          </div>
        </div>
      </div>

      <div data-ref="contentContainer" class="row">
        <label class="three wide column">CONTENT_LAYOUT</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="contentLayoutId"></div>
          </div>
        </div>
      </div>

      <div data-ref="imageContainer" class="row">
        <label class="three wide column">IMAGE</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="image"></div>
          </div>
        </div>
      </div>

      <div data-ref="videoContainer" class="row">
        <label class="three wide column">VIDEO_EMBED</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="videoEmbed"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">DESCRIPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="description"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
          <label class="three wide column"><span>DESCRIPTION</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="descriptionSl"></div>
            </div>
          </div>
        </div>

        <div data-ref="elContainer" class="row">
          <label class="three wide column"><span>DESCRIPTION</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="descriptionEl"></div>
            </div>
          </div>
        </div>

      <div class="row">
        <label class="three wide column">MORE_DESCRIPTION</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="moreDescription"></div>
          </div>
        </div>
      </div>

      <div data-ref="slContainer" class="row">
          <label class="three wide column"><span>MORE_DESCRIPTION</span> (<span data-ref="labelSl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="moreDescriptionSl"></div>
            </div>
          </div>
        </div>

        <div data-ref="elContainer" class="row">
          <label class="three wide column"><span>MORE_DESCRIPTION</span> (<span data-ref="labelEl"></span>)</label>
          <div class="thirteen wide column">
            <div class="ui input fluid">
              <div data-ref="moreDescriptionEl"></div>
            </div>
          </div>
        </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a href="#/contents/pages" data-ref="list" data-section="list" class="item" title="Pages">
          <i class="payment layout icon"></i> <span>PAGES</span>
        </a>
        <!-- <a href="#/contents/pages/sub_pages" class="item" title="Sub Pages">
          <i class="payment layout icon"></i> <span>SUB_PAGES</span>
        </a> -->

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
          <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>

          <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
        </div>

      </div>

    </div>
  </div>

</div>
