<div data-scope="PendaftaranDiklat" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklatId"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="namaDiklat"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
          <a data-ref="excel" class="item"><i class="file outline excel icon"></i></a>
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">JENIS_DIKLAT</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklat"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NAMA_DIKLAT</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="namaDiklat"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NIP</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nip"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nama"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NIK</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nik"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NPWP</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="npwp"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">FOTO</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="foto"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">EMAIL</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="email"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">PANGKAT_GOLONGAN</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="pangkatGolongan"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">JABATAN_ESELON</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jabatanEselon"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">UNIT_KERJA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="unitKerja"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">INSTANSI</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="instansi"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">INSTANSI_LAINNYA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="instansiLainnya"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">PENDIDIKAN_TERAKHIR</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="pendidikanTerakhir"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">GENDER</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="gender"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">TEMPAT_LAHIR</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tempatLahir"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">DATE_OF_BIRTH</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tanggalLahir"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">AGAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="agama"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">ADDRESS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="alamat"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">TELP_HP</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="telpHp"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="listBerkasPendaftaran"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
        <div class="right menu">
          <a data-ref="pdf" class="item"><i class="file outline pdf icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">JENIS_DIKLAT</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklatId"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NAMA_DIKLAT</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="namaDiklat"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NIP_NAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nipNama"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NIK</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nik"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NPWP</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="npwp"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">FOTO</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="foto"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">EMAIL</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="email"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">PANGKAT_GOLONGAN</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="pangkatGolongan"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">JABATAN_ESELON</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jabatanEselon"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">UNIT_KERJA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="unitKerja"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">INSTANSI</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="instansi"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">INSTANSI_LAINNYA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="instansiLainnya"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">PENDIDIKAN_TERAKHIR</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="pendidikanTerakhir"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">GENDER</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="gender"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">TEMPAT_LAHIR</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tempatLahir"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">DATE_OF_BIRTH</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="tanggalLahir"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">AGAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="agama"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">ADDRESS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="alamat"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">TELP_HP</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="telpHp"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">
        <a data-ref="list" data-section="list" class="item" href="javascript:" title="Pendaftaran Diklat">
          <i class="payment icon"></i> <span>PENDAFTARAN_DIKLAT</span>
        </a>

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
          <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>

          <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
        </div>

      </div>

    </div>
  </div>

</div>