<div data-scope="PengajarDiklat" class="page">

    <div id="list" class="section">

        <div class="ui stackable grid">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="search"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div data-ref="table"></div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div data-ref="paging"></div>
                </div>
            </div>
        </div>

        <div id="button" class="button-wrapper">
            <div class="ui menu large">
                <div class="left menu">
                    <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
                    <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
                    <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
                </div>

                <div class="right menu">
                    <a data-ref="excel" class="item"><i class="file outline excel icon"></i></a>
                    <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div id="preview" class="section">

        <div class="ui segment stackable grid">

            <div class="row">
                <label class="two wide column">Nama Lengkap</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="name"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">NIP</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="nip"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">PHOTO</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="photo"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">DATE_OF_BIRTH</label>
                <div class="fourteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="dateOfBirth"></div>
                    </div>
                </div>
                <label class="two wide column">GENDER</label>
                <div class="fourteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="gender"></div>
                    </div>
                </div>
            </div>

            <div data-ref="elPengajar" class="row">
                <label class="two wide column">Pangkat / Golongan</label>
                <div class="fourteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="pangkatGolongan"></div>
                    </div>
                </div>
            </div>

            <div data-ref="elPengajar" class="row">
                <label class="two wide column">Jabatan</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="jabatan"></div>
                    </div>
                </div>
                <label class="two wide column">Jenis</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="jenisPengajar"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">EMAIL</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="email"></div>
                    </div>
                </div>
                <label class="two wide column">MOBILE_NUMBER</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="mobileNumber"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">ADDRESS</label>
                <div class="fourteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="address"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">Aktivasi</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="aktivasi"></div>
                    </div>
                </div>
            </div>

            <h2>Data Mata Pelajaran </h2>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="listMapel"></div>
                    </div>
                </div>
            </div>

            <h2>Lampiran Kompetensi</h2>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="listLampiran"></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="button" class="button-wrapper">
            <div class="ui menu large">
                <div class="left menu">
                    <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
                    <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
                </div>

            </div>
        </div>

    </div>

    <div id="form" class="section">

        <div class="ui segment stackable grid">

            <div class="row">
                <label class="two wide column">Nama Lengkap</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="name"></div>
                    </div>
                </div>
                <label class="two wide column">NIP</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="nip"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">DATE_OF_BIRTH</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="dateOfBirth"></div>
                    </div>
                </div>
                <label class="two wide column">GENDER</label>
                <div class="four wide column">
                    <div class="ui input fluid">
                        <div data-ref="genderId"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">PHOTO</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="photo"></div>
                    </div>
                </div>
            </div>

            <div data-ref="elPengajar" class="row">
                <label class="two wide column">Pangkat</label>
                <div class="fourteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="pangkatGolonganId"></div>
                    </div>
                </div>
            </div>

            <div data-ref="elPengajar" class="row">
                <label class="two wide column">Jabatan</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="jabatanId"></div>
                    </div>
                </div>
                <label class="two wide column">Jenis</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="jenisPengajarId"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">PASSWORD</label>
                <div class="fourteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="password"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">RETYPE_PASSWORD</label>
                <div class="fourteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="retype_password"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">EMAIL</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="email"></div>
                    </div>
                </div>
                <label class="two wide column">MOBILE_NUMBER</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="mobileNumber"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="two wide column">ADDRESS</label>
                <div class="fourteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="address"></div>
                    </div>
                </div>
            </div>

            <h2>Mata Pelajaran</h2>

            <div class="row">
                <label class="two wide column">Jenis Diklat</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="jenisDiklatId"></div>
                    </div>
                </div>
                <label class="two wide column">Mata Pelajaran</label>
                <div class="six wide column">
                    <div class="ui input fluid">
                        <div data-ref="labelMapelId"></div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="sixteen wide column">
                    <button data-ref="add" type="button" class="ui button primary iconic-button">
                        <i class="plus icon"></i>
                    </button>
                    <button data-ref="edit" type="button" class="ui button primary" style="width: 46px; height: 38px">
                        <i class="edit icon"></i>
                    </button>
                    <button data-ref="delete" type="button" class="ui button negative"
                        style="width: 46px; height: 38px">
                        <i class="trash icon"></i>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="listMapel"></div>
                    </div>
                </div>
            </div>

            <h2>Lampiran Kompetensi</h2>

            <div class="row">
                <label class="three wide column">Judul</label>
                <div class="thirteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="judul"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="three wide column">Upload (File Pdf)</label>
                <div class="eleven wide column">
                    <div class="ui input fluid">
                        <div data-ref="lampiran"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide column">
                    <button data-ref="addLampiran" type="button" class="ui button primary iconic-button">
                        <i class="plus icon"></i>
                    </button>
                    <button data-ref="deleteLampiran" type="button" class="ui button negative"
                        style="width: 46px; height: 38px">
                        <i class="trash icon"></i>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui input fluid">
                        <div data-ref="listLampiran"></div>
                    </div>
                </div>
            </div>

        </div>

        <div id="button" class="button-wrapper">
            <div class="ui menu large">
                <div class="left menu">
                    <button data-ref="save" type="button" class="ui button primary">SAVE</button>
                    <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
                </div>
            </div>
        </div>

        <!--        Dialog-->

        <div data-ref="editDialog" class="ui modal">
            <i class="close icon"></i>
            <div class="header"><span>Edit Mata Pelajaran</span></div>
            <div class="content">
                <div class="ui stackable grid">

                    <div class="row">
                        <label class="three wide column">Jenis Diklat</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="dialogJenisDiklatId"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="three wide column">Mata Pelajaran</label>
                        <div class="thirteen wide column">
                            <div class="ui input fluid">
                                <div data-ref="dialogLabelMapelId"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="actions">
                    <button type="button" data-ref="save" class="ui primary button">Save</button>
                    <button type="button" data-ref="cancel" class="ui negative button">Cancel</button>
                </div>
            </div>
        </div>

        <!--        End Dialog-->

    </div>

    <div id="tab" class="tab-wrapper">
        <div class="ui tiered menu">

            <div class="menu">

                <a data-ref="list" data-section="list" class="item" href="javascript:" title="Pengajar Diklat">
                    <i class="payment icon"></i> <span>Pengajar Diklat</span>
                </a>

                <div class="right menu">
                    <a data-ref="preview" style="display:none" class="item hidden-sm" data-section="preview"
                        href="javascript:" title="Preview">
                        <i class="desktop icon"></i>
                    </a>

                    <a data-ref="form" style="display:none" class="item hidden-sm" data-section="form"
                        href="javascript:" title="Edit">
                        <i class="edit icon"></i>
                    </a>

                    <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
                </div>

            </div>

        </div>
    </div>

</div>