<div data-scope="RekapAjarWi" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <label class="two wide column">Widyaiswara</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="pengajarDiklatId"></div>
          </div>
        </div>
        <label class="two wide column">Jenis Diklat</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="jenisDiklatId"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>

      </div>

      <div class="row">
        <label class="two wide column">Tanggal</label>
        <label class="one wide column">Dari</label>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="tanggalMulai"></div>
          </div>
        </div>
        <label class="one wide column">Sampai</label>
        <div class="five wide column">
          <div class="ui input fluid">
            <div data-ref="tanggalSelesai"></div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
        </div>

        <div class="right menu">
          <a data-ref="excel" class="item"><i class="file outline excel icon"></i></a>
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a data-ref="list" data-section="list" class="item" href="javascript:" title="Rekap Ajar WI">
          <i class="payment layout icon"></i> <span>Rekap Ajar WI</span>
        </a>

      </div>

    </div>
  </div>

</div>