<div data-scope="Seo" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>


  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="two wide column">PAGE</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="pagesId"></div>
          </div>
        </div>
      </div>


      <div class="row">
        <label class="two wide column">DESCRIPTION</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="description"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">KEYWORDS</label>
        <div class="twelve wide column">
          <div class="ui input fluid">
            <div data-ref="keywords"></div>
          </div>
        </div>
        <div class="two wide column">
          <button data-ref="add" type="button" class="ui button primary iconic-button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="listKeywords"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <button data-ref="delete" type="button" class="ui button negative iconic-button">
            <i class="trash icon"></i>
          </button>
          <button data-ref="edit" type="button" class="ui button primary" style="width: 46px; height: 38px">
            <i class="edit icon"></i>
          </button>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>
    
    
    <!--        Dialog-->

    <div data-ref="editDialog" class="ui modal">
      <div class="header"><span>EDIT</span></div>
      <div class="content">

        <div class="ui stackable grid">
			
        <div class="row">
          <label class="two wide column">KEYWORDS</label>
	        <div class="fourteen wide column">
	          <div class="ui input fluid">
	            <div data-ref="editKeywords"></div>
	          </div>
	        </div>
        </div>
		</div>
      </div>
      <div class="actions">
        <button type="button" data-ref="save" class="ui primary button">Save</button>
        <button type="button" data-ref="cancel" class="ui negative button">Cancel</button>
      </div>
    </div>

    <!--        End Dialog-->

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a data-ref="list" data-section="list" class="item" href="javascript:" title="Seo">
          <i class="payment icon"></i> <span>SEO</span>
        </a>

        <div class="right menu">
          <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>

        </div>

      </div>

    </div>
  </div>

</div>
