<div data-scope="SoalAkd" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="delete" type="button" class="ui button negative">DELETE</button>
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button style="width:100%" data-ref="sendEmail" type="button" class="ui button primary">EMAIL_NOTIF</button>
        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">JABATAN</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jabatan"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">UNIT_KERJA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="unitKerja"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">INSTANSI</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="instansi"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <hr>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NIP_NAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="nipNama"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">KEDUDUKAN</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="kedudukan"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="links"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">JABATAN</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="jabatan"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">UNIT_KERJA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="unitKerja"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">INSTANSI</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="instansi"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <hr>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">NIP_NAMA</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="akunId"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">KEDUDUKAN</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="kedudukanId"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">RUMUSAN_KOMPETENSI</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="rumusanKompetensi"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="two wide column">
          <button data-ref="add" type="button" class="ui button primary iconic-button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="links"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <button data-ref="delete" type="button" class="ui button negative" style="width: 46px; height: 38px">
            <i class="trash icon"></i>
          </button>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a href="javascript:" data-ref="list" data-section="list" class="item" title="Soal">
          <i class="payment layout icon"></i> <span>SOAL</span>
        </a>

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
          <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>

          <a data-ref="new" class="item" data-section="form" title="New"><i class="plus icon"></i></a>
        </div>

      </div>

    </div>
  </div>

</div>