<div data-scope="SocialNetwork" class="page">

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">FACEBOOK</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="facebookPage"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">TWITTER</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="twitterPage"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">GOOGLE_PLUS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="googlePlusPage"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">INSTAGRAM</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="instagramPage"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>
      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="three wide column">FACEBOOK</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="facebookPage"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">TWITTER</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="twitterPage"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">GOOGLE_PLUS</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="googlePlusPage"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="three wide column">INSTAGRAM</label>
        <div class="thirteen wide column">
          <div class="ui input fluid">
            <div data-ref="instagramPage"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a data-ref="preview" data-section="preview" class="item" href="javascript:" title="Social Network">
          <i class="payment icon"></i> <span>SOCIAL_NETWORK</span>
        </a>

        <div class="right menu">
          <a data-ref="form" class="item" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>