<div data-scope="UsersAktivasi" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
        </div>

        <div class="right menu">
          <a data-ref="pdf" class="item"><i class="file outline pdf icon"></i></a>
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">


      <div class="row">
        <label class="two wide column">NAME</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="name"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">PHOTO</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="photo"></div>
          </div>
        </div>
      </div>



      <div class="row">
        <label class="two wide column">EMAIL</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="email"></div>
          </div>
        </div>
        <label class="two wide column">PHONE_NUMBER</label>
        <div class="six wide column">
          <div class="ui input fluid">
            <div data-ref="mobileNumber"></div>
          </div>
        </div>
      </div>


      <div class="row">
        <label class="two wide column">ADDRESS</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="address"></div>
          </div>
        </div>
      </div>


    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="edit" type="button" class="ui button primary">EDIT</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
        <div class="right menu">
          <a data-ref="pdf" class="item"><i class="file outline pdf icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="form" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="two wide column">NAME</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="name"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">PHOTO</label>
        <div class="four wide column">
          <div class="ui input fluid">
            <div data-ref="photo"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">ACTIVATION</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="aktivasiId"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="save" type="button" class="ui button primary">SAVE</button>
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">


        <a href="javascript:" data-ref="list" data-section="list" class="item" title="Aktivasi">
          <i class="payment icon"></i> <span>Tidak Aktiv</span>
        </a>


        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
          <a data-ref="form" class="item hidden-sm" data-section="form" href="javascript:" title="Edit">
            <i class="edit icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>