<div data-scope="UsersLog" class="page">

  <div id="list" class="section">

    <div class="ui stackable grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui input fluid">
            <div data-ref="search"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="table"></div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div data-ref="paging"></div>
        </div>
      </div>
    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="detail" type="button" class="ui button primary">DETAIL</button>
        </div>

        <div class="right menu">
          <a data-ref="refresh" class="item"><i class="refresh icon"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="preview" class="section">

    <div class="ui segment stackable grid">

      <div class="row">
        <label class="two wide column">NAME</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="name"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">LOGIN</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="loginOn"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">LOGOUT</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="logoutOn"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <label class="two wide column">STILL_INSIDE</label>
        <div class="fourteen wide column">
          <div class="ui input fluid">
            <div data-ref="stillInside"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="button" class="button-wrapper">
      <div class="ui menu large">
        <div class="left menu">
          <button data-ref="cancel" type="button" class="ui button primary">CANCEL</button>
        </div>
      </div>
    </div>

  </div>


  <div id="tab" class="tab-wrapper">
    <div class="ui tiered menu">

      <div class="menu">

        <a href="javascript:" data-ref="list" data-section="list" class="item" title="Log">
          <i class="payment icon"></i> <span>LOG</span>
        </a>

        <div class="right menu">
          <a data-ref="preview" class="item hidden-sm" data-section="preview" href="javascript:" title="Preview">
            <i class="desktop icon"></i>
          </a>
        </div>

      </div>

    </div>
  </div>

</div>