@import "variables.scss";
.section-contact-us-content {
    padding-left: 10.5%;
    padding-right: 11%;
    .wrap-side-content {
        .form-contact {
            padding: 0;
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;
            .form-group {
                padding: 0;
                margin: 0;
                input {
                    border-radius: 0;
                    font: 12px AvenirBook;
                    color: #525252;
                    margin-bottom: 11px;
                }
                textarea {
                    resize: none;
                    font: 12px AvenirBook;
                    color: #525252;
                    margin-bottom: 21px;
                }
            }
            .form-control::-webkit-input-placeholder {
                color: #a0a9b6;
            }
            .form-control:-moz-placeholder {
                color: #a0a9b6;
            }
            .form-control::-moz-placeholder {
                color: #a0a9b6;
            }
            .form-control:-ms-input-placeholder {
                color: #a0a9b6;
            }
            button {
                font-family: AvenirMedium;
                font-size: 14px;
                width: 100%;
                background-color: $BtnColor;
                border-radius: 0px;
                border: none;
                color: #ffffff;
                display: inline-block;
                padding-top: 13px;
                padding-bottom: 13px;
                &:hover {
                    opacity: 0.8;
                }
                i {
                    padding-left: 10px;
                }
            }
        }
    }
    .content {
        padding-top: 25px;
        background: #fff;
        .detail-content-ask {
            ul,
            li {
                padding: 0;
                margin: 0;
                list-style: none;
            }
            ul {
                padding-left: 6%;
            }
            li {
                border-bottom: 1px dashed #6183b5;
                margin-bottom: 11px;
            }
            li:before {
                content: '\f059';
                font-family: 'FontAwesome';
                float: left;
                margin-left: -1.5em;
                color: $BtnColor;
            }
            a {
                margin-right: 15px;
                text-decoration: none;
                color: #333;
                &:hover {
                    color: #6183b5;
                }
            }
        }
    }
}

h3 {
    margin: 0;
    padding: 0;
    padding-left: 1.5%;
    margin-bottom: 25px;
}

.content-kanan {
    text-align: center;
    input{
        margin-top: 5px;
    }
    .widget-area.blank {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }
    .widget-area {
        background-color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        float: left;
        margin-top: 30px;
        position: relative;
        width: 100%;
    }
    .status-upload {
        background: none repeat scroll 0 0 #f5f5f5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        float: left;
        width: 100%;
    }
    .status-upload form {
        float: left;
        width: 100%;
    }
    .status-upload form textarea {
        background: none repeat scroll 0 0 #fff;
        border: medium none;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -ms-border-radius: 4px 4px 0 0;
        -o-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        color: #777777;
        float: left;
        font-family: Lato;
        font-size: 14px;
        height: 142px;
        letter-spacing: 0.3px;
        padding: 20px;
        width: 100%;
        resize: vertical;
        outline: none;
        border: 1px solid #F2F2F2;
    }
    .status-upload ul {
        float: left;
        list-style: none outside none;
        margin: 0;
        padding: 0 0 0 15px;
        width: auto;
    }
    .status-upload ul > li {
        float: left;
    }
    .status-upload ul > li > a {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        color: #777777;
        float: left;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        margin: 10px 0 10px 10px;
        text-align: center;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        width: 30px;
        cursor: pointer;
    }
    .status-upload ul > li > a:hover {
        background: none repeat scroll 0 0 #606060;
        color: #fff;
    }
    .status-upload form button {
        border: medium none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        float: right;
        font-family: Lato;
        font-size: 14px;
        letter-spacing: 0.3px;
        margin-right: 9px;
        margin-top: 9px;
        padding: 6px 15px;
    }
    .dropdown > a > span.green:before {
        border-left-color: #2dcb73;
    }
    .status-upload form button > i {
        margin-right: 7px;
    }
    .btn-comment {
        width: 100px!important;
        height: 30px!important;
        padding: 0!important;
        margin: 0!important;
        margin: 11px!important;
    }
}

.pertanyaan {
    margin-bottom: 25px;
     h4{
        margin-bottom: 11px;
    }
    p {
        font: 16px AvenirRoman;
        margin-top: 15px;
        color: #6183b5;
    }
}

.jawaban {

    margin-bottom: 25px;
    border-bottom: 1px solid #e7e7e7;
     h4{
        margin-bottom: 11px;
    }
    p {
        font: 14px AvenirRoman;
        margin-bottom: 15px;
    }
}

.balasan {
    margin-bottom: 15px;
     h4{
        margin-bottom: 11px;
    }
    p {
        font: 14px AvenirRoman;
        margin-bottom: 15px;
    }
    .list-balasan{
        border-bottom: 1px solid #e7e7e7;
    }
}

time {
    font-size: 12px;
    font-weight: 700;
    color: #6183b5;
    float: right;
    margin-bottom: 11px;
    margin-top: 11px;
    padding-right: 15px;
}
