@import "variables.scss";

/*-==========================================Resetter=========================================-*/

.reset-col {
    margin: 0;
    padding: 0;
}

.reset-l {
    margin: 0;
    padding-left: 0;
}

.reset-r {
    margin: 0;
    padding-right: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}

strong {
    font-weight: 300!important;
}

.rata {
    overflow: hidden;
}

.main-left-col {
    background: #f0f0f0;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    border: 1px solid #dadada;
    border-bottom: none;
}

.main-right-col {
    background: #fff;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}


/*-=================================================Page================================================-*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100% !important;
    overflow-x: hidden;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 40px;
    overflow-x: hidden;
}


/*Header*/

.header {
    z-index: 999999999!important;
    .header-top {
        background: #fff;
        border-top: 5px solid $ThemeColor;
        padding: 13px 30px 0px 30px;
        height: 100px;
        img {
            float: left;
            margin-right: 10px;
        }
        h3 {
            padding: 0;
            margin: 0;
            font: 16px AvenirRoman;
            color: $BlackColor;
            line-height: 20px;
            font-weight: 700;
            margin-bottom: 2px;
            letter-spacing: 2px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font: 12px AvenirMedium;
            color: $BlackColor;
            li {
                display: inline-block;
                padding: 0;
                margin: 0;
                cursor: pointer;
            }
            .bahasa {
                margin-top: 5px;
                .btn-default {
                    font: 12px AvenirMedium;
                    color: $BlackColor;
                    padding: 0;
                    margin: 0;
                    background: #fff;
                    border: none!important;
                    outline: none;
                    border-radius: 0;
                    outline: 0px !important;
                    -webkit-appearance: none;
                }
                .caret {
                    color: #eea428;
                    margin-top: -3px!important;
                }
                padding-right: 60px;
                margin-bottom: 11px;
            }
            .callsupport {
                margin-top: 6px;
                p {
                    strong {
                        font-weight: normal;
                    }
                    a {
                        color: $BlackColor;
                        text-decoration: none;
                        padding-right: 40px;
                    }
                }
            }
        }
    }
    .header-menu {
        .navbar-default {
            margin: 0;
            padding: 0;
            border-radius: 0;
            background: #fff;
            border-bottom: none;
            li {
                padding-top: 10px;
            }
            a {
                color: $BlackColor;
                font: 14px AvenirBook;
                &:hover {
                    color: $ThemeColor;
                }
            }
        }
        .navbar-static {
            border-bottom: 0.3px solid #dadada;
            padding-bottom: 7px;
        }
        .navbar-brand {
            padding: 0px;
        }
        .navbar-brand>img {
            height: 100%;
            padding: 10px 10px 0px 45px;
            width: auto;
            margin-right: 15px;
            margin-top: 5px;
        }
        .navbar-default .navbar-nav>.active {
            color: $ThemeColor;
            background: transparent;
        }
        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:hover,
        .navbar-default .navbar-nav>.active>a:focus {
            color: $ThemeColor;
            background: transparent;
        }
        .navbar-right {
            $tl: 0.6s;
            .search-box {
                margin-top: 5px;
                transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                background: none;
                &+label .search-icon {
                    color: black
                }
                &:hover {
                    color: white;
                    background: none;
                    box-shadow: none;
                    &+label .search-icon {
                        color: white
                    }
                }
                &:focus {
                    transition: width $tl cubic-bezier(0, 1.22, .66, 1.39), border-radius $tl, background $tl;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    padding-left: 15px;
                    cursor: text;
                    width: 300px;
                    border-radius: auto;
                    background: rgb(235, 235, 235);
                    color: black;
                    &+label .search-icon {
                        color: black;
                    }
                }
                &:not(:focus) {
                    text-indent: -5000px;
                }
            }
            label {
                margin: 0;
                padding: 0;
            }
            .search-icon {
                position: relative;
                left: -35px;
                color: white;
                cursor: pointer;
                img {
                    width: 80%;
                }
            }
        }
    }
    /*Submenu Dropdown*/
    .dropdown-menu>li>a {
        padding-left: 5px;
    }
    .dropdown-submenu {
        position: relative;
    }
    .dropdown-submenu>.dropdown-menu {
        top: -1px;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        border-radius: 0;
    }
    .dropdown-submenu>a:after {
        display: block;
        float: right;
        margin-right: -15px;
        margin-top: 2px;
        font-family: "FontAwesome";
        content: "\f105";
        color: #333;
        font-size: 14px;
    }
    .dropdown-submenu:hover>a:after {
        border-left-color: #555;
    }
    .dropdown-menu {
        margin: 0!important;
        padding: 0!important;
    }
    .dropdown-menu>li {
        margin: 0!important;
        padding: 0!important;
    }
    .dropdown-menu>li>a {
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e9e9e9;
    }
    .dropdown-menu>li>a:hover {
        text-decoration: none;
        background: #e8ebf0;
        color: #333!important;
    }
    @media (max-width: 767px) {}
    @media (min-width: 768px) {
        ul.nav li:hover>ul.dropdown-menu {
            display: block;
        }
        #navbar {
            text-align: center;
        }
    }
}

.title-xs {
    padding-top: 7px;
    padding-left: 30px;
    img {
        float: left;
        margin-right: 5px;
    }
    h3 {
        padding: 0;
        margin: 0;
        font: 12px AvenirRoman;
        color: $BlackColor;
        line-height: 14px;
        font-weight: 700;
        margin-bottom: 2px;
        letter-spacing: 1px;
    }
}


/* bootstrap 3 helpers */

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100!important;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}

.section-pages-banner {
    position: relative;
    /*margin-top: 11px;*/
    .image-bg {
        width: 100%;
    }
    .banner-box {
        position: relative;
        .banner-title {
            position: absolute;
            bottom: 20px;
            left: 11%;
            h2 {
                padding: 0;
                margin: 0;
                color: #fff;
                font: 40px AvenirBlackOblique;
                float: left;
                margin-right: 35px;
            }
            .btn-visit {
                font: 18px AvenirMedium;
                border-radius: 30px;
                background: transparent;
                border: 1px solid #fff;
                color: #fff;
                padding: 11px 35px;
                img {
                    margin-right: 15px;
                    margin-top: -3px;
                }
                &:hover {
                    background: $BtnColor;
                }
            }
        }
    }
    .image-item {
        position: relative;
        width: 100%;
        height: 100%;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(25, 88, 159, 0.5);
        }
    }
}


/*================================================Separated Styling=================================================*/

.social {
    margin: 0;
    padding: 0;
    text-align: left;
    padding-bottom: 15px;
    .smGlobalBtn {
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 27px;
        height: 27px;
        border: 0.5px solid #4b4b4b;
        padding: 0px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.8em;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
    }
    .facebookBtn {
        background: #4b4b4b;
        &:hover {
            opacity: 0.7;
        }
        &:before {
            font-family: "FontAwesome";
            content: "\f09a";
        }
    }
    .twitterBtn {
        background: #4b4b4b;
        &:hover {
            opacity: 0.7;
        }
        &:before {
            font-family: "FontAwesome";
            content: "\f099";
        }
    }
    .googleplusBtn {
        background: #4b4b4b;
        &:hover {
            opacity: 0.7;
        }
        &:before {
            font-family: "FontAwesome";
            content: "\f0d5";
        }
    }
    .linkedinBtn {
        background: #4b4b4b;
        &:hover {
            opacity: 0.7;
        }
        &:before {
            font-family: "FontAwesome";
            content: "\f0e1";
        }
    }
}


/*================================================Separated Styling=================================================*/


/*================================================Separated Styling=================================================*/

.widget-sidebar {
    padding-bottom: 50px;
    .contact-sidebar {
        padding: 0px 23px 25px 23px;
        padding-top: 15%;
        h2 {
            text-align: center;
            padding: 0;
            margin: 25px 0px;
            color: $TitleColor;
            font: 21px AvenirBlack;
        }
        .form-contact {
            text-align: center;
            font: 14px AvenirRoman;
            color: #6f6f6f;
            input {
                margin-bottom: 13px;
                border-radius: 0;
                border: 1px solid #dadada;
                color: #6f6f6f;
                height: 41px;
            }
            textarea {
                margin-bottom: 15px;
                resize: none;
                border: 1px solid #dadada;
                color: #6f6f6f;
            }
        }
    }
    .form-control:focus {
        border-color: rgba(201, 34, 40, 0.5);
        box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(201, 34, 40, 0.3);
    }
    .btn-sidebar {
        font: 14px AvenirRoman;
        border-radius: 7px;
        background: $BtnColor;
        border: 1px solid $BtnColor;
        color: #fff;
        padding: 13px 0px;
        width: 145px;
        &:hover {
            opacity: 0.7;
        }
    }
}

.footer {
    background-color: #12539c;
    margin-top: -40px;
    height: auto;
    p {
        padding: 15px 0px 0px;
        color: #ffffff;
        font-family: AvenirRoman;
        font-size: 12px;
    }
    .breadcrumb>li+li:before {
        color: #ffffff;
    }
    .breadcrumb {
        background-color: #12539c;
        padding: 20px 0px 0px;
        li {
            a {
                color: #ffffff;
                text-decoration: none;
                font-family: AvenirRoman;
                font-size: 12px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
    a {
        background-color: rgba(135, 135, 135, 0.5);
        display: block;
        width: 35px;
        height: 35px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        line-height: 30px;
    }
}


/*Comment*/

.comment-widget {
    padding-top: 50px;
}

.comment-title {
    padding-bottom: 20px;
    .num-comment {
        font-size: 20px;
        font-weight: 700;
    }
    .title-comment {
        font-size: 20px;
        font-weight: 700;
        padding-left: 5px;
    }
    i {
        color: yellow;
        padding-right: 5px;
    }
    .num-star {
        font-size: 14px;
        font-weight: 700;
    }
}

.btn-comment {
    font: 16px AvenirMedium;
    border-radius: 20px;
    background: #eea62d;
    border: 1px solid #eea62d;
    color: #fff;
    padding: 10px 40px;
    &:hover {
        opacity: 0.9;
    }
}

.sign-in {
    padding-top: 5px;
    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }
    .list-inline li {
        display: inline-block;
        padding-right: 2px;
        padding-left: 2px;
        margin-bottom: 10px;
    }
    /*---- Genral classes end -------*/
    /*Change icons size here*/
    .social-icons .fa {
        font-size: 1.6em;
    }
    /*Change icons circle size and color here*/
    .social-icons .fa {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFF;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .social-icons.icon-circle .fa {
        border-radius: 50%;
    }
    .social-icons.icon-rounded .fa {
        border-radius: 5px;
    }
    .social-icons.icon-flat .fa {
        border-radius: 0;
    }
    .social-icons .fa:hover,
    .social-icons .fa:active {
        color: #FFF;
        -webkit-box-shadow: 1px 1px 3px #333;
        -moz-box-shadow: 1px 1px 3px #333;
        box-shadow: 1px 1px 3px #333;
    }
    .social-icons.icon-zoom .fa:hover,
    .social-icons.icon-zoom .fa:active {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    .social-icons.icon-rotate .fa:hover,
    .social-icons.icon-rotate .fa:active {
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
        transform: scale(1.1) rotate(360deg);
    }
    .social-icons .fa-adn {
        background-color: #504e54;
    }
    .social-icons .fa-apple {
        background-color: #aeb5c5;
    }
    .social-icons .fa-android {
        background-color: #A5C63B;
    }
    .social-icons .fa-bitbucket,
    .social-icons .fa-bitbucket-square {
        background-color: #003366;
    }
    .social-icons .fa-bitcoin,
    .social-icons .fa-btc {
        background-color: #F7931A;
    }
    .social-icons .fa-css3 {
        background-color: #1572B7;
    }
    .social-icons .fa-dribbble {
        background-color: #F46899;
    }
    .social-icons .fa-dropbox {
        background-color: #018BD3;
    }
    .social-icons .fa-facebook,
    .social-icons .fa-facebook-square {
        background-color: #3C599F;
    }
    .social-icons .fa-flickr {
        background-color: #FF0084;
    }
    .social-icons .fa-foursquare {
        background-color: #0086BE;
    }
    .social-icons .fa-github,
    .social-icons .fa-github-alt,
    .social-icons .fa-github-square {
        background-color: #070709;
    }
    .social-icons .fa-google-plus,
    .social-icons .fa-google-plus-square {
        background-color: #CF3D2E;
    }
    .social-icons .fa-html5 {
        background-color: #E54D26;
    }
    .social-icons .fa-instagram {
        background-color: #A1755C;
    }
    .social-icons .fa-linkedin,
    .social-icons .fa-linkedin-square {
        background-color: #0085AE;
    }
    .social-icons .fa-linux {
        background-color: #FBC002;
        color: #333;
    }
    .social-icons .fa-maxcdn {
        background-color: #F6AE1C;
    }
    .social-icons .fa-pagelines {
        background-color: #241E20;
        color: #3984EA;
    }
    .social-icons .fa-pinterest,
    .social-icons .fa-pinterest-square {
        background-color: #CC2127;
    }
    .social-icons .fa-renren {
        background-color: #025DAC;
    }
    .social-icons .fa-skype {
        background-color: #01AEF2;
    }
    .social-icons .fa-stack-exchange {
        background-color: #245590;
    }
    .social-icons .fa-stack-overflow {
        background-color: #FF7300;
    }
    .social-icons .fa-trello {
        background-color: #265A7F;
    }
    .social-icons .fa-tumblr,
    .social-icons .fa-tumblr-square {
        background-color: #314E6C;
    }
    .social-icons .fa-twitter,
    .social-icons .fa-twitter-square {
        background-color: #32CCFE;
    }
    .social-icons .fa-vimeo-square {
        background-color: #229ACC;
    }
    .social-icons .fa-vk {
        background-color: #375474;
    }
    .social-icons .fa-weibo {
        background-color: #D72B2B;
    }
    .social-icons .fa-windows {
        background-color: #12B6F3;
    }
    .social-icons .fa-xing,
    .social-icons .fa-xing-square {
        background-color: #00555C;
    }
    .social-icons .fa-youtube,
    .social-icons .fa-youtube-play,
    .social-icons .fa-youtube-square {
        background-color: #C52F30;
    }
}

.pick-name {
    padding-top: 5px;
    input {
        margin-top: 5px;
    }
}


/*========================*/

.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    margin-bottom: 35px;
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

.status-upload form {
    float: left;
    width: 100%;
}

.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}

.status-upload ul>li {
    float: left;
}

.status-upload ul>li>a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}

.status-upload ul>li>a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}

.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}

.dropdown>a>span.green:before {
    border-left-color: #2dcb73;
}

.status-upload form button>i {
    margin-right: 7px;
}


/*Reply*/


/*Comment List styles*/

.comment-list .row {
    margin-bottom: 0px;
    font-size: 12px;
}

.comment-list .panel .panel-heading {
    padding: 4px 11px;
    position: absolute;
    border: none;
    /*Panel-heading border radius*/
    border-top-right-radius: 0px;
    top: 1px;
}

.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius: 0px;
    right: 16px;
}

.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}

.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}


/* Portrait tablets and medium desktops */

@media (min-width: 768px) {
    .comment-list .arrow:after,
    .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after,
    .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}

.comment-list .comment-post {
    margin-top: 6px;
}

.comment-list .comment-user {
    font-size: 12px;
    font-weight: 700;
}

.comment-thumb {
    img {
        border-radius: 3px;
    }
}

.side-bar-tp {
    background: #f0f0f0;
    .panel-group {
        padding: 0!important;
        margin: 0!important;
    }
    .panel {
        border: none;
        padding: 0!important;
        margin: 0!important;
    }
    .panel-default {
        padding: 0;
        margin: 0;
        border-radius: 0px;
        border: none;
        .panel-heading {
            padding: 0;
            margin: 0;
            background-color: #fff!important;
            border-radius: 0px;
            padding: 20px 17px 20px 23px;
            color: $TitleColor;
            font: 14px AvenirBlack;
            border: none;
            border-top: 1px solid #e7e7e7;
            .panel-title {
                border: none;
                a {
                    text-decoration: none;
                    color: $TitleColor;
                    font: 14px AvenirBlack;
                }
            }
        }
        .single {
            a {
                text-decoration: none;
                color: $TitleColor;
                font: 14px AvenirBlack;
                &:hover {
                    color: #19589f;
                }
            }
            .active {
                color: #19589f;
            }
        }
        .panel-body {
            padding: 0;
            margin: 0;
            background-color: #fff!important;
            border-radius: 0px;
            border: none;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    background: #fff;
                    padding: 20px 0 20px 43px;
                    border-bottom: 1px solid #e7e7e7;
                    a {
                        text-decoration: none;
                        color: #505050;
                        font: 14px AvenirBlack;
                        &:hover {
                            color: #19589f;
                        }
                    }
                }
                .active {
                    border-top: none;
                    a {
                        color: #19589f;
                    }
                }
            }
        }
    }
    .sublevel1 {
        .panel-heading {
            padding: 0;
            margin: 0;
            background-color: #fff!important;
            border-radius: 0px;
            padding: 20px 17px 20px 46px;
            color: $TitleColor;
            font: 14px AvenirBlack;
            border: none;
            border-top: 1px solid #e7e7e7;
            .panel-title {
                border: none;
                a {
                    text-decoration: none;
                    color: $TitleColor;
                    font: 14px AvenirBlack;
                }
            }
        }
    }
    .sublevel2 {
        .panel-heading {
            padding: 0;
            margin: 0;
            background-color: #fff!important;
            border-radius: 0px;
            padding: 20px 17px 20px 69px;
            color: $TitleColor;
            font: 14px AvenirBlack;
            border: none;
            border-top: 1px solid #e7e7e7;
            .panel-title {
                border: none;
                a {
                    text-decoration: none;
                    color: $TitleColor;
                    font: 14px AvenirBlack;
                }
            }
        }
    }
    .sublevel3 {
        .panel-heading {
            padding: 0;
            margin: 0;
            background-color: #fff!important;
            border-radius: 0px;
            padding: 20px 17px 20px 92px;
            color: $TitleColor;
            font: 14px AvenirBlack;
            border: none;
            border-top: 1px solid #e7e7e7;
            .panel-title {
                border: none;
                a {
                    text-decoration: none;
                    color: $TitleColor;
                    font: 14px AvenirBlack;
                }
            }
        }
    }
}

.search-widget {
    background: #fff;
    text-align: center;
    padding: 15px;
    color: #4a4a4d;
    font: 14px AvenirRoman;
    .form-control:focus {
        border-color: rgba(201, 34, 40, 0.1);
        box-shadow: 0px 0.1px 0.1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(201, 34, 40, 0.3);
    }
    input {
        border-radius: 0;
        height: 43px;
        position: relative;
        color: #4a4a4d;
        font: 14px AvenirRoman;
    }
    i {
        position: absolute;
        right: 31px;
        top: 27px;
        font-size: 18px;
        color: #a2a2a2;
    }
}


/*Breadcrumb Link*/

.breadcrumb-title {
    background: #fff;
    border-bottom: 0.5px solid #e9f1fd;
    margin-bottom: 25px;
    ul,
    li {
        padding: 0;
        margin: 0;
        display: inline-block;
    }
    ul {
        padding: 11px 0 11px 0px;
    }
    li {
        color: #333;
        font-size: 12px;
    }
    a {
        margin-right: 5px;
        text-decoration: none;
        color: #333;
        &:hover {
            color: #6183b5;
        }
    }
    .active {
        padding: 0;
        margin: 0;
        color: #6183b5;
        font: 12px AvenirRoman;
        text-decoration: none;
        cursor: none;
    }
}

.pagination {
    padding-top: 33px;
    li {
        a,
        span {
            border-radius: 50% !important;
            border: none;
            margin: 0 5px;
            /*background: #6183b5;*/
            border: 1px solid #ccc;
            color: #4a4a4d;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .active {
        a {
            background: $BtnColor;
            border: 1px solid $BtnColor;
        }
    }
}


/*Login*/

.login-sidebar {
    padding-top: 5%;
    padding-bottom: 11%;
    border-bottom: 1px solid #e7e7e7;
    h5 {
        color: #4a4a4d;
        font: 18px AvenirRoman;
        text-align: center;
        margin-bottom: 21px;
    }
    .input-group {
        margin-bottom: 5px;
    }
    i {
        width: 20px;
    }
    a {
        color: #6183b5;
        font: 14px AvenirRoman;
        text-decoration: none;
        padding-top: 7px;
        padding-right: 3px;
        &:hover {
            color: $BtnColor;
        }
    }
}

.img-login {
    max-width: 120px;
}

.btn-login {
    font: 14px AvenirMedium;
    border-radius: 3px;
    background: $BtnColor;
    border: 1px solid #e7e7e7;
    color: #fff;
    padding: 5px 25px;
    margin-top: 5px;
    &:hover {
        opacity: 0.7;
    }
}


/*ModalBox*/

#judulLaporan,
#buatAkun,
#lupaSandi {
    margin-top: 9%;
    margin-right: 3%;
    .input-group {
        margin-bottom: 5px;
    }
    i {
        width: 20px;
    }
}

@-webkit-keyframes ezCustTrans {
    0% {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        opacity: 0;
    }
    68% {
        -webkit-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -moz-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -ms-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -moz-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -ms-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        opacity: 1;
    }
}

@keyframes ezCustTrans {
    0% {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        opacity: 0;
    }
    68% {
        -webkit-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -moz-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -ms-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -moz-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -ms-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        opacity: 1;
    }
}

.ezCustTrans {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: ezCustTrans;
    animation-name: ezCustTrans;
}


/*Font Awesome*/

.fa-pencil-square-o {
    color: red;
    font-size: 12px;
    &:hover {
        opacity: 0.7;
    }
}


/*Add AKD*/

.tinymce-akd-title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        text-align: center;
        padding: 0;
        margin: 0;
        color: #525252;
        font: 20px AvenirBook;
        font-weight: 700;
    }
}

.tinymce-akd-subcontent {
    .states {
        width: 150px;
    }
}

.akd-table {
    margin-top: 35px;
    .marks {
        padding-right: 5px;
        padding-left: 10px;
    }
    .responden {
        font-weight: 700;
        border: 1px solid #000;
        padding: 7px 10px;
    }
}

.questioner {
    margin-top: 15px;
    h4 {
        margin-bottom: 30px;
    }
    .list-questions {
        ol,
        li {
            margin: 0;
            padding: 0;
        }
        ol {
            counter-reset: foo;
            display: table;
        }
        li {
            list-style: none;
            counter-increment: foo;
            display: table-row;
            form {
                padding-top: 5px;
                padding-bottom: 15px;
            }
        }
        li::before {
            content: counter(foo) ".) ";
            display: table-cell;
            text-align: right;
            padding-right: .3em;
        }
    }
    .content-bottom {
        margin-top: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #eee;
        text-align: center;
    }
    .btn-submit {
        font: 14px AvenirMedium;
        border-radius: 3px;
        background: $BtnColor;
        border: 1px solid #e7e7e7;
        color: #fff;
        padding: 10px 25px;
        margin-top: 15px;
        margin-bottom: 25px;
        text-align: center;
        &:hover {
            opacity: 0.7;
        }
    }
}