@import "main.scss";
@import "form-pendaftaran.scss";
@import "training-programs.scss";
@import "faq.scss";
@import "contact-us.scss";
@import "form-cetak-pendaftaran.scss";
@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-otp-content {
        padding-left: 0%;
        padding-right: 0%;
        .wrap-side-content {
            padding-left: 0px;
            padding-right: 0px;
            .side-content {
                padding-left: 30px;
                padding-right: 30px;
                .wrap-product-list {
                    border-bottom: none;
                    padding-bottom: 25px;
                    .product-list {
                        margin-bottom: 25px;
                        text-align: center;
                        a {
                            text-decoration: none;
                            color: $TitleColor;
                            font: 16px AvenirMedium;
                            text-align: center;
                            &:hover {
                                color: $BtnColor;
                            }
                        }
                        img {
                            text-align: center;
                            margin-top: 25px;
                            margin-bottom: 17px;
                            height: auto;
                            max-height: 184px;
                            width: 100%;
                            max-width: 207px;
                            margin: 0 auto;
                        }
                        h5 {
                            padding: 0;
                            margin: 0;
                            margin-top: 25px;
                            color: #595959;
                            font: 16px AvenirMedium;
                            text-align: center;
                        }
                    }
                }
                h2 {
                    padding: 0;
                    margin: 0;
                    margin-top: 25px;
                    color: #313131;
                    font: 14px AvenirRoman;
                }
            }
            /*Product Detail*/
            .side-content-detail {
                padding-bottom: 25%;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 500px;
                h1,
                h2 {
                    padding: 0;
                    margin: 0;
                    margin-top: 25px;
                    color: #313131;
                    font: 14px AvenirRoman;
                }
                .product-list {
                    background: #fff;
                    .product-main {
                        max-height: 400px;
                    }
                    .product-thumb {
                        max-height: 400px;
                        overflow-y: scroll;
                        margin-bottom: 17px;
                        img {
                            margin-bottom: 15px;
                            &:hover {
                                border: 3px solid #e6e6e6;
                            }
                        }
                        .active {
                            border: 3px solid #e6e6e6;
                        }
                        a {
                            margin-bottom: 11px;
                        }
                    }
                }
                .detail-list {
                    width: 70%;
                    text-align: center;
                    .title {
                        color: #555555;
                        font: 30px AvenirMedium;
                        margin-top: 17px;
                    }
                    .price {
                        color: #f85963;
                        font: 40px AvenirRoman;
                    }
                    p {
                        padding: 0;
                        margin: 15px 0px 25px 0px;
                        color: #2a2a2a;
                        font: 14px AvenirRoman;
                        text-align: justify;
                    }
                    ul {
                        list-style-type: square;
                        padding: 0;
                        margin: 0;
                        padding-left: 17px;
                        text-align: left;
                    }
                    ul>li {
                        color: #b9b9b9;
                        padding: 0;
                        margin: 0;
                        font: 18px AvenirRoman;
                        line-height: 20px;
                        margin-bottom: 7px;
                    }
                    ul>li>span {
                        color: #2a2a2a;
                        font: 14px AvenirRoman;
                        line-height: 20px;
                    }
                    .btn-check {
                        font: 16px AvenirMedium;
                        border-radius: 30px;
                        background: $BtnColor;
                        border: 1px solid $BtnColor;
                        color: #fff;
                        padding: 11px 21px;
                        margin-top: 50px;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .navbar-header {
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header {
        .header-menu {
            .navbar-default {
                li {
                    padding-top: 0px;
                    padding-left: 22px;
                }
                a {
                    font: 12px AvenirBook;
                }
            }
            .navbar-brand {
                padding: 0px;
            }
            .navbar-brand>img {
                height: 100%;
                padding: 10px 10px 0px 30px;
                width: auto;
                margin-right: 15px;
                margin-top: -5px;
            }
            .navbar-right {
                .search-box {
                    margin-left: 13px;
                    &:focus {
                        width: 480px;
                    }
                }
            }
        }
    }
    /*-====================================================Home Page 481==================================================-*/
    .section-banner {
        margin-top: 3px;
    }
    .section-content {
        .content-desc {
            padding-bottom: 30px;
            h3 {
                padding-top: 11px;
                font: 22px AvenirBlack;
            }
            p {
                padding-top: 15px;
                padding-bottom: 15px;
                width: 100%;
                font-size: 12px;
            }
            $font-size: 12px;
            $line-height: 1.1;
            $lines-to-show: 6;
            p {
                display: block;
                /* Fallback for non-webkit */
                display: -webkit-box;
                max-width: 767px;
                height: $font-size*$line-height*$lines-to-show;
                /* Fallback for non-webkit */
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .btn-read-red {
                font: 12px AvenirMedium;
                padding: 9px 20px;
                margin-top: 7px;
            }
        }
    }
    /*=========================================Banner Page 481===================================*/
    .section-pages-banner {
        .image-bg {
            height: 140px;
        }
        .banner-box {
            .banner-title {
                bottom: 10px;
                h2 {
                    font: 28px AvenirBlackOblique;
                }
            }
        }
    }
    .section-otp-content {
        padding-left: 0%;
        padding-right: 0%;
        .wrap-side-content {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media only screen and (max-width: 480px) {
    /*Header / Top*/
    .navbar-header {
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header {
        .header-top {
            border-top: 3px solid $ThemeColor;
            padding: 5px 15px;
            ul {
                font: 8px AvenirMedium;
                .bahasa {
                    margin-top: 5px;
                    .btn-default {
                        font: 10px AvenirMedium;
                    }
                    .caret {
                        margin-top: -2px!important;
                    }
                    padding-right: 30px;
                    margin-bottom: 11px;
                }
                .callsupport {
                    margin-top: 0px;
                    p {
                        a {
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
        .header-menu {
            .navbar-default {
                li {
                    padding-top: 0px;
                    padding-left: 15px;
                }
                a {
                    font: 12px AvenirBook;
                }
            }
            .navbar-brand {
                padding: 0px;
            }
            .navbar-brand>img {
                height: 100%;
                padding: 10px 10px 0px 30px;
                width: auto;
                margin-right: 15px;
                margin-top: -5px;
            }
            .navbar-right {
                .search-box {
                    margin-left: 9px;
                    &:focus {
                        width: 200px;
                    }
                }
            }
        }
    }
    /*-====================================================Home Page 480==================================================-*/
    .section-banner {
        margin-top: 3px;
    }
    .section-content {
        .content-desc {
            padding-bottom: 30px;
            h3 {
                padding-top: 11px;
                font: 18px AvenirBlack;
            }
            p {
                padding-top: 15px;
                padding-bottom: 15px;
                width: 100%;
                font-size: 12px;
                text-align: justify;
            }
            $font-size: 12px;
            $line-height: 1.1;
            $lines-to-show: 6;
            p {
                display: block;
                /* Fallback for non-webkit */
                display: -webkit-box;
                max-width: 400px;
                height: $font-size*$line-height*$lines-to-show;
                /* Fallback for non-webkit */
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .btn-read-red {
                font: 12px AvenirMedium;
                padding: 9px 20px;
                margin-top: 7px;
            }
        }
    }
    .section-contact {
        padding-top: 30px;
        padding-bottom: 30%;
        .title-left {
            .image-ico {
                float: left;
                height: 90px;
                padding-right: 15px;
            }
            .desc-ico {
                h3 {
                    font-size: 16px;
                }
            }
        }
        .title-right {
            .image-ico {
                float: left;
                height: 50px;
                padding-right: 15px;
            }
            .desc-ico {
                margin-top: 25px;
                h3 {
                    font-size: 16px;
                }
            }
        }
        .detail-contact {
            .image-ico {
                float: left;
                height: 100px;
                padding-right: 20px;
            }
            .desc-ico {
                p {
                    padding: 0;
                    margin: 0;
                    font-family: AvenirRoman;
                    font-size: 10px;
                    color: $DetailContactColor;
                }
            }
        }
        .form-contact {
            margin-top: 15px;
            padding: 10px 10px;
            .form-group {
                input {
                    border-radius: 0;
                    font-family: AvenirRoman;
                }
                textarea {
                    resize: none;
                    font-family: AvenirRoman;
                }
            }
            button {
                font-family: AvenirMedium;
                font-size: 14px;
                width: 100%;
                background-color: $BtnColor;
                border-radius: 0px;
                border: none;
                color: #ffffff;
                display: inline-block;
                padding-top: 13px;
                padding-bottom: 13px;
                &:hover {
                    opacity: 0.8;
                }
                i {
                    padding-left: 10px;
                }
            }
        }
    }
    /*=========================================Banner Page 480===================================*/
    .section-pages-banner {
        .image-bg {
            height: 90px;
        }
        .banner-box {
            .banner-title {
                bottom: 10px;
                h2 {
                    font: 24px AvenirBlackOblique;
                }
            }
        }
    }
    /*=============================Product Page 480===========================*/
    .section-otp-content {
        padding-left: 0%;
        padding-right: 0%;
        .wrap-side-content {
            padding-left: 0px;
            padding-right: 0px;
            .side-content {
                padding-bottom: 5%;
                padding-left: 15px;
                padding-right: 15px;
                .wrap-product-list {
                    padding-bottom: 25px;
                    .product-list {
                        margin-top: 15px;
                        margin-bottom: 15px;
                        text-align: center;
                        a {
                            font: 14px AvenirMedium;
                        }
                        img {
                            text-align: center;
                            height: auto;
                            max-height: 184px;
                            width: 100%;
                            max-width: 207px;
                            margin: 0 auto;
                        }
                        h5 {
                            font: 12px AvenirMedium;
                        }
                    }
                }
            }
            /*Product Detail*/
            .side-content-detail {
                padding-bottom: 25%;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 30px;
                h1,
                h2 {
                    margin-bottom: 35px;
                }
                .detail-list {
                    width: 100%;
                    .title {
                        padding-top: 25px;
                        font: 20px AvenirMedium;
                    }
                    .price {
                        padding-top: 25px;
                        font: 30px AvenirRoman;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .title-xs {
        padding-top: 7px;
        padding-left: 30px;
        img {
            float: left;
            margin-right: 5px;
        }
        h3 {
            padding: 0;
            margin: 0;
            font: 8px AvenirRoman;
            color: $BlackColor;
            line-height: 12px;
            font-weight: 700;
            margin-bottom: 2px;
            letter-spacing: 1px;
        }
    }
}

@media only screen and (max-width: 767px) {
    /* #nav{
        height: 50px!important;
    }*/
    .navbar-static {
        border-top: 15px solid #fff;
        /* height: 90px!important;*/
    }
}

.page-content {
    margin: 0;
    padding: 0;
    img {
        margin-top: 5px!important;
        margin-bottom: 0!important;
        padding: 0!important;
        margin-right: 13px;
        max-width: 240px;
        max-height: 300px;
    }
    p {
        margin: 0!important;
        padding: 0!important;
        line-height: 20px;
    }
}

a {
    text-decoration: none!important;
}

// Karya Ilmiah
// .owl-item {
//     background-color: blue;
//     color: white;
//     text-align: center;
//     padding: 5px 0;
//     border: 1px solid #313131;
// }
// .owl-prev {
//     float: left;
//     font-size: 20px;
//     text-transform: uppercase;
//     padding: 20px;
// }
// .owl-next {
//     float: right;
//     font-size: 20px;
//     text-transform: uppercase;
//     padding: 20px;
// }
// .owl-dots {
//     counter-reset: slides-num;  
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-top: 15px;
// }
// .owl-dots:after {
//     content: counter(slides-num);    
//     display: inline-block;
//     font-size: 20px;
//     font-weight: 700;
//     vertical-align: middle;
//     padding-left: 5px;
// }
// .owl-dot {
//     display: inline-block;
//     counter-increment: slides-num;
//     /* Increment counter */
//     margin-right: 5px;
// }
// .owl-dot span {
//     display: none;
// }
// .owl-dot.active:before {
//     content: counter(slides-num) " of";   
//     display: inline-block;
//     vertical-align: middle;
//     font-size: 20px;
//     position: absolute;
//     left: 0;
//     top: 0;
// }
///////////////////////// Kegiatan Diklat
#alertLogin {
    .modal-box {
        font-family: 'Varela Round', sans-serif;
    }
    .modal-box .show-modal {
        color: #222;
        background-color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        padding: 10px 15px;
        margin: 80px auto 0;
        border: none;
        outline: none;
        box-shadow: 0 0 10px #555;
        display: block;
    }
    .modal-box .show-modal:hover,
    .modal-box .show-modal:focus {
        color: #222;
        background-color: #fff;
        border: none;
        outline: none;
        text-decoration: none;
    }
    .modal-backdrop.in {
        opacity: 0.1;
    }
    .modal-box .modal {
        top: 70px !important;
    }
    .modal-box .modal-dialog {
        width: 400px;
        margin: 30px auto 10px;
    }
    .modal-box .modal-dialog .modal-content {
        border-radius: 25px;
        box-shadow: 0 0 25px -8px #555;
    }
    .modal-box .modal-dialog .modal-content .close {
        color: #e74c3c;
        background-color: #fff;
        font-size: 28px;
        text-shadow: none;
        line-height: 33px;
        height: 33px;
        width: 33px;
        opacity: 1;
        border-radius: 50%;
        box-shadow: 0 0 5px #555;
        position: absolute;
        left: auto;
        right: -5px;
        top: -5px;
        z-index: 1;
        transition: all 0.3s;
        outline: none;
    }
    .modal-box .modal-dialog .modal-content .close span {
        margin: -1px 0 0 0;
        display: block;
    }
    .modal-box .modal-dialog .modal-content .close:hover {
        color: #fff;
        background-color: #e74c3c;
    }
    .modal-box .modal-dialog .modal-content .modal-body {
        padding: 50px 20px !important;
    }
    .modal-box .modal-dialog .modal-content .modal-body .icon {
        color: #26de81;
        font-size: 36px;
        text-align: center;
        text-shadow: 4px 0 0 #fff, 0 -3px 0 #fff;
        line-height: 40px;
        height: 50px;
        width: 50px;
        margin: 0 auto 30px;
        position: relative;
        z-index: 1;
    }
    .modal-box .modal-dialog .modal-content .modal-body .icon:after {
        content: '';
        height: 45px;
        width: 45px;
        border: 5px solid #c1c1c1;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        top: 3px;
        z-index: -1;
    }
    .modal-box .modal-dialog .modal-content .modal-body .title {
        margin: 0 0 20px 0;
        font-size: 20px;
        color: #222;
        text-transform: capitalize;
        font-weight: 600;
        text-align: center;
    }
    .modal-box .modal-dialog .modal-content .modal-body .description {
        color: #222;
        text-align: center;
        margin: 0 0 15px;
    }
    @media only screen and (max-width: 768px) {
        .modal-dialog {
            width: 400px !important;
        }
    }
    @media only screen and (max-width: 576px) {
        .modal-dialog {
            width: auto !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    #alertLogin .modal-box {
        padding-left: 15px;
    }
}

.button-daftar-modal {
    border-bottom: 1px solid #337ab7;
    color: #337ab7;
    line-height: 3;
    padding-bottom: 2px;
}

.cb-filter {
    padding-left: 0!important;
}

/////////////// Variables
$BorderDefault:#dadada;
.tb-filter {
    .input-group-addon {
        border-color: $BorderDefault;
    }
}

@media only screen and (max-width: 992px) {
    .cb-filter {
        padding-right: 0!important;
        margin-bottom: 5px;
    }
}

.custom-pagination {
    text-align: left;
    .pagination {
        padding: 0;
        margin: 10px auto;
        li {
            a,
            span {
                border-radius: 0 !important;
                border: none;
                margin: 0 0.5px;
                /*background: #6183b5;*/
                border: 1px solid #ccc;
                color: #4a4a4d;
                &:hover {
                    cursor: pointer;
                    background: #337ab7;
                    border: 1px solid #337ab7;
                    color: #fff;
                }
            }
        }
        .active {
            a {
                background: #337ab7;
                border: 1px solid #337ab7;
                color: #fff;
            }
        }
    }
}

/////////////// Rekapitulasi
.title-custom {
    /* === BASE HEADING === */
    h1 {
        position: relative;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 30px;
        color: #080808;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }
    h1 span {
        display: block;
        font-size: 0.5em;
        line-height: 1.3;
    }
    h1 em {
        font-style: normal;
        font-weight: 600;
    }
    .four h1 {
        text-align: center;
        padding-bottom: 0.7em;
    }
    .four h1 span {
        font-weight: 300;
        word-spacing: 3px;
        line-height: 2em;
        padding-bottom: 0.35em;
        color: rgba(0, 0, 0, 0.5);
    }
    .four h1:before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60px;
        height: 1px;
        content: "";
        left: 50%;
        margin-left: -30px;
        background-color: #777;
    }
    /* -------  Styles -------------*/
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    h1:before,
    h1:after {
        background-color: #c50000;
    }
}

.tb-rekapitulasi {
    img {
        margin: 0!important;
        min-width: 70px;
        max-width: 70px;
        padding-right: 7px;
    }
    @media only screen and (min-width: 767px) {
        thead {
            tr {
                th:last-child {
                    width: 70px;
                }
            }
        }
        tbody tr td {
            padding: 5px!important;
        }
    }
    @media only screen and (max-width: 767px) {
        img {
            margin: 0!important;
            min-width: 50px;
            max-width: 50px;
            padding-right: 10px;
            padding-bottom: 5px;
            display: block;
        }
    }
}

//////////////// Form Pendaftaran
.wrap-diploma.section-reg {
    .akd-table {
        margin: 0;
        margin-bottom: 20px;
        tbody {
            tr {
                margin-bottom: 10px;
                td {
                    vertical-align: top;
                    color: #080808;
                }
                td:first-child {
                    width: 160px;
                }
            }
        }
    }
    .catatan-pendaftaran {
        padding-top: 20px;
        margin-bottom: 30px;
        border-top: 1px solid #333;
        h5 {
            padding: 0;
            margin: 0;
            color: #080808;
            font-weight: 700;
        }
        ol {
            padding: 15px;
            padding-top: 5px;
            color: #080808;
            font-weight: 700;
            font-style: italic;
        }
    }
    .button-daftar {
        border-top: 1px solid #dadada;
        padding-top: 10px;
        .btn-reg {
            font: 14px AvenirRoman;
            border-radius: 3px!important;
            background: #337ab7;
            border: 1px solid #337ab7;
            color: #fff;
            padding: 7px 12px;
            width: auto;
            margin-top: 0px;
            margin-right: 3px;
            outline: none!important;
        }
    }
}

.section-otp-content .wrap-side-content .side-content img {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 110px!important;
    height: 110px!important;
}

.img-circle.img-responsive.img-login {
    width: 100px!important;
    height: 100px!important;
}

.footer {
    background-color: #343a40;
    margin-top: -40px;
    height: auto;
}

.header .header-top {
    background: #fff;
    border-top: none;
    padding: 13px 30px 0px 30px;
    height: 100px;
}

///////////// Filter Pencarian
@media only screen and (max-width: 992px) {
    .tb-filter {
        width: 100%;
        .input-group.col-md-12 {
            margin-right: 0!important;
        }
    }
}

//////////////// Charts
.chart {
    width: 100%;
    min-height: 350px;
}

.wrimagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.wrimagecard .fa {
    position: relative;
    font-size: 20px;
}

.wrimagecard-topimage_header {
    padding: 15px;
}

a.wrimagecard:hover,
.wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.wrimagecard-topimage_title {
    padding: 15px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    background-color: #343a40;
    color: #fff;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}