@import "variables.scss";
.section-contact-us-content {
   padding-left: 10.5%;
    padding-right: 11%;
    padding-bottom: 11%;
    .wrap-side-content {
        background: #fff;
        padding: 0;
        margin: 0;
        margin-bottom: 11px;
        .left-content {
            padding-bottom: 41px;
        }
        .title-left {
            hr {
                padding: 0;
                margin: 0;
                color: #eea62d;
                background-color: #eea62d;
                height: 1.5px;
                width: 20px;
                margin-bottom: 5px;
            }
            h4 {
                padding: 0;
                margin: 0;
                color: #595959;
                font: 18px AvenirBook;
            }
            h3 {
                padding: 0;
                margin: 0;
                color: #595959;
                font: 30px AvenirHeavy;
                margin-bottom: 25px;
            }
            p {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 14px AvenirBook;
                text-align: justify;
                margin-bottom: 15px;
            }
        }
        .detail-contact {
            hr {
                padding: 0;
                margin: 0;
                color: #eea62d;
                background-color: #eea62d;
                height: 1px;
                width: 20px;
                margin-bottom: 5px;
                margin-top: 35px;
            }
            h4 {
                padding: 0;
                margin: 0;
                color: #595959;
                font: 14px AvenirHeavy;
            }
            p {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 14px AvenirBook;
                text-align: justify;
                line-height: 20px;
            }
        }
        .title-right {
            hr {
                padding: 0;
                margin: 0;
                color: #eea62d;
                background-color: #eea62d;
                height: 1.5px;
                width: 20px;
                margin-bottom: 5px;
            }
            h4 {
                padding: 0;
                margin: 0;
                color: #595959;
                font: 18px AvenirBook;
            }
            h3 {
                padding: 0;
                margin: 0;
                color: #595959;
                font: 30px AvenirHeavy;
                margin-bottom: 25px;
            }
        }
        .form-contact {
            padding: 0;
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;
            .form-group {
                padding: 0;
                margin: 0;
                input {
                    border-radius: 0;
                    font: 12px AvenirBook;
                    color: #525252;
                    margin-bottom: 11px;
                }
                textarea {
                    resize: none;
                    font: 12px AvenirBook;
                    color: #525252;
                    margin-bottom: 21px;
                }
            }
            .form-control::-webkit-input-placeholder {
                color: #a0a9b6;
            }
            .form-control:-moz-placeholder {
                color: #a0a9b6;
            }
            .form-control::-moz-placeholder {
                color: #a0a9b6;
            }
            .form-control:-ms-input-placeholder {
                color: #a0a9b6;
            }
            button {
                font-family: AvenirMedium;
                font-size: 14px;
                width: 100%;
                background-color: $BtnColor;
                border-radius: 0px;
                border: none;
                color: #ffffff;
                display: inline-block;
                padding-top: 13px;
                padding-bottom: 13px;
                &:hover {
                    opacity: 0.8;
                }
                i {
                    padding-left: 10px;
                }
            }
        }
    }
}

.maps {
    position: relative;
    height: 330px;
    border-top: 2px #0c4e99 solid;
    .maps_image {
        position: absolute;
        width: 90px;
        height: 90px;
        top: 0px;
        right: 50%;
        margin-top: -45px;
        margin-right: -45px;
        z-index: 2;
    }
    #map {
        height: 100%;
    }
}
