@import "variables.scss";
.section-pendaftaran-content {font: 14px AvenirRoman;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 4%;
    padding-bottom: 5%;
    .wrap-side-content {
        background: #fff;
        padding: 0;
        margin: 0;
        margin-bottom: 11px;
    }
    .tinymce-course-title {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span {
            padding: 0;
            margin: 0;
            color: #595959;
            font: 24px AvenirBlack;
            padding-bottom: 45px;
        }
    }
}

.btn-reg {
    font: 14px AvenirRoman;
    border-radius: 7px;
    background: $BtnColor;
    border: 1px solid $BtnColor;
    color: #fff;
    padding: 7px 0px;
    width: 90px;
    margin-top: 0px;
    margin-right: 3px;
    &:hover {
        opacity: 0.7;
        background: $BtnColor;
    }
}

.section-reg {font: 14px AvenirRoman;
    position: relative;
    padding-top: 30px;
    .form-contact {
        .form-group {
            input {
                border-radius: 0!important;
                font: 14px AvenirBook;
                color: #353434;
            }
            textarea {
                resize: none;
                font: 14px AvenirBook;
                color: #353434;
            }
        }
        .contact-group {
            margin-bottom: 11px;
            label {
                padding: 0;
                margin: 0;
                font: 14px AvenirBook!important;
                color: #353434!important;
                padding-top: 5px!important;
                padding-right: 35px;
            }
            .selectpicker {
                border-radius: 0px!important;
            }
            img{
                max-width: 200px;
                margin-bottom: 5px;
                border: 1px solid #e7e7e7;
            }
        }
        .btn-default {
            border-radius: 0!important;
            border-color: rgba(215, 215, 215, 0.8) !important;
            box-shadow: 0 1px 1px rgba(18, 83, 156, 0.03) inset, 0 0 2px rgba(18, 83, 156, 0.3) !important;
        }

        textarea:focus {
            border-color: rgba(215, 215, 215, 0.8) !important;
            box-shadow: 0 1px 1px rgba(18, 83, 156, 0.03) inset, 0 0 2px rgba(18, 83, 156, 0.3) !important;
        }
    }
}

.radio-wrap {
    padding-left: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/*.filter-option {color:#999!important}*/
