@import "main.scss";
@import "form-pendaftaran.scss";
@import "training-programs.scss";
@import "faq.scss";
@import "contact-us.scss";
@import "form-cetak-pendaftaran.scss";
@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-otp-content {
        padding-left: 0%;
        padding-right: 0%;
        .wrap-side-content {
            padding-left: 0px;
            padding-right: 0px;
            .side-content {
                padding-left: 30px;
                padding-right: 30px;
                .wrap-product-list {
                    border-bottom: none;
                    padding-bottom: 25px;
                    .product-list {
                        margin-bottom: 25px;
                        text-align: center;
                        a {
                            text-decoration: none;
                            color: $TitleColor;
                            font: 16px AvenirMedium;
                            text-align: center;
                            &:hover {
                                color: $BtnColor;
                            }
                        }
                        img {
                            text-align: center;
                            margin-top: 25px;
                            margin-bottom: 17px;
                            height: auto;
                            max-height: 184px;
                            width: 100%;
                            max-width: 207px;
                            margin: 0 auto;
                        }
                        h5 {
                            padding: 0;
                            margin: 0;
                            margin-top: 25px;
                            color: #595959;
                            font: 16px AvenirMedium;
                            text-align: center;
                        }
                    }
                }
                h2 {
                    padding: 0;
                    margin: 0;
                    margin-top: 25px;
                    color: #313131;
                    font: 14px AvenirRoman;
                }
            }
            /*Product Detail*/
            .side-content-detail {
                padding-bottom: 25%;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 500px;
                h1,
                h2 {
                    padding: 0;
                    margin: 0;
                    margin-top: 25px;
                    color: #313131;
                    font: 14px AvenirRoman;
                }
                .product-list {
                    background: #fff;
                    .product-main {
                        max-height: 400px;
                    }
                    .product-thumb {
                        max-height: 400px;
                        overflow-y: scroll;
                        margin-bottom: 17px;
                        img {
                            margin-bottom: 15px;
                            &:hover {
                                border: 3px solid #e6e6e6;
                            }
                        }
                        .active {
                            border: 3px solid #e6e6e6;
                        }
                        a {
                            margin-bottom: 11px;
                        }
                    }
                }
                .detail-list {
                    width: 70%;
                    text-align: center;
                    .title {
                        color: #555555;
                        font: 30px AvenirMedium;
                        margin-top: 17px;
                    }
                    .price {
                        color: #f85963;
                        font: 40px AvenirRoman;
                    }
                    p {
                        padding: 0;
                        margin: 15px 0px 25px 0px;
                        color: #2a2a2a;
                        font: 14px AvenirRoman;
                        text-align: justify;
                    }
                    ul {
                        list-style-type: square;
                        padding: 0;
                        margin: 0;
                        padding-left: 17px;
                        text-align: left;
                    }
                    ul>li {
                        color: #b9b9b9;
                        padding: 0;
                        margin: 0;
                        font: 18px AvenirRoman;
                        line-height: 20px;
                        margin-bottom: 7px;
                    }
                    ul>li>span {
                        color: #2a2a2a;
                        font: 14px AvenirRoman;
                        line-height: 20px;
                    }
                    .btn-check {
                        font: 16px AvenirMedium;
                        border-radius: 30px;
                        background: $BtnColor;
                        border: 1px solid $BtnColor;
                        color: #fff;
                        padding: 11px 21px;
                        margin-top: 50px;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .navbar-header {
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header {
        .header-menu {
            .navbar-default {
                li {
                    padding-top: 0px;
                    padding-left: 22px;
                }
                a {
                    font: 12px AvenirBook;
                }
            }
            .navbar-brand {
                padding: 0px;
            }
            .navbar-brand>img {
                height: 100%;
                padding: 10px 10px 0px 30px;
                width: auto;
                margin-right: 15px;
                margin-top: -5px;
            }
            .navbar-right {
                .search-box {
                    margin-left: 13px;
                    &:focus {
                        width: 480px;
                    }
                }
            }
        }
    }
    /*-====================================================Home Page 481==================================================-*/
    .section-banner {
        margin-top: 3px;
    }
    .section-content {
        .content-desc {
            padding-bottom: 30px;
            h3 {
                padding-top: 11px;
                font: 22px AvenirBlack;
            }
            p {
                padding-top: 15px;
                padding-bottom: 15px;
                width: 100%;
                font-size: 12px;
            }
            $font-size: 12px;
            $line-height: 1.1;
            $lines-to-show: 6;
            p {
                display: block;
                /* Fallback for non-webkit */
                display: -webkit-box;
                max-width: 767px;
                height: $font-size*$line-height*$lines-to-show;
                /* Fallback for non-webkit */
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .btn-read-red {
                font: 12px AvenirMedium;
                padding: 9px 20px;
                margin-top: 7px;
            }
        }
    }
    /*=========================================Banner Page 481===================================*/
    .section-pages-banner {
        .image-bg {
            height: 140px;
        }
        .banner-box {
            .banner-title {
                bottom: 10px;
                h2 {
                    font: 28px AvenirBlackOblique;
                }
            }
        }
    }
    .section-otp-content {
        padding-left: 0%;
        padding-right: 0%;
        .wrap-side-content {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media only screen and (max-width: 480px) {
    /*Header / Top*/
    .navbar-header {
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header {
        .header-top {
            border-top: 3px solid $ThemeColor;
            padding: 5px 15px;
            ul {
                font: 8px AvenirMedium;
                .bahasa {
                    margin-top: 5px;
                    .btn-default {
                        font: 10px AvenirMedium;
                    }
                    .caret {
                        margin-top: -2px!important;
                    }
                    padding-right: 30px;
                    margin-bottom: 11px;
                }
                .callsupport {
                    margin-top: 0px;
                    p {
                        a {
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
        .header-menu {
            .navbar-default {
                li {
                    padding-top: 0px;
                    padding-left: 15px;
                }
                a {
                    font: 12px AvenirBook;
                }
            }
            .navbar-brand {
                padding: 0px;
            }
            .navbar-brand>img {
                height: 100%;
                padding: 10px 10px 0px 30px;
                width: auto;
                margin-right: 15px;
                margin-top: -5px;
            }
            .navbar-right {
                .search-box {
                    margin-left: 9px;
                    &:focus {
                        width: 200px;
                    }
                }
            }
        }
    }
    /*-====================================================Home Page 480==================================================-*/
    .section-banner {
        margin-top: 3px;
    }
    .section-content {
        .content-desc {
            padding-bottom: 30px;
            h3 {
                padding-top: 11px;
                font: 18px AvenirBlack;
            }
            p {
                padding-top: 15px;
                padding-bottom: 15px;
                width: 100%;
                font-size: 12px;
                text-align: justify;
            }
            $font-size: 12px;
            $line-height: 1.1;
            $lines-to-show: 6;
            p {
                display: block;
                /* Fallback for non-webkit */
                display: -webkit-box;
                max-width: 400px;
                height: $font-size*$line-height*$lines-to-show;
                /* Fallback for non-webkit */
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .btn-read-red {
                font: 12px AvenirMedium;
                padding: 9px 20px;
                margin-top: 7px;
            }
        }
    }
    .section-contact {
        padding-top: 30px;
        padding-bottom: 30%;
        .title-left {
            .image-ico {
                float: left;
                height: 90px;
                padding-right: 15px;
            }
            .desc-ico {
                h3 {
                    font-size: 16px;
                }
            }
        }
        .title-right {
            .image-ico {
                float: left;
                height: 50px;
                padding-right: 15px;
            }
            .desc-ico {
                margin-top: 25px;
                h3 {
                    font-size: 16px;
                }
            }
        }
        .detail-contact {
            .image-ico {
                float: left;
                height: 100px;
                padding-right: 20px;
            }
            .desc-ico {
                p {
                    padding: 0;
                    margin: 0;
                    font-family: AvenirRoman;
                    font-size: 10px;
                    color: $DetailContactColor;
                }
            }
        }
        .form-contact {
            margin-top: 15px;
            padding: 10px 10px;
            .form-group {
                input {
                    border-radius: 0;
                    font-family: AvenirRoman;
                }
                textarea {
                    resize: none;
                    font-family: AvenirRoman;
                }
            }
            button {
                font-family: AvenirMedium;
                font-size: 14px;
                width: 100%;
                background-color: $BtnColor;
                border-radius: 0px;
                border: none;
                color: #ffffff;
                display: inline-block;
                padding-top: 13px;
                padding-bottom: 13px;
                &:hover {
                    opacity: 0.8;
                }
                i {
                    padding-left: 10px;
                }
            }
        }
    }
    /*=========================================Banner Page 480===================================*/
    .section-pages-banner {
        .image-bg {
            height: 90px;
        }
        .banner-box {
            .banner-title {
                bottom: 10px;
                h2 {
                    font: 24px AvenirBlackOblique;
                }
            }
        }
    }
    /*=============================Product Page 480===========================*/
    .section-otp-content {
        padding-left: 0%;
        padding-right: 0%;
        .wrap-side-content {
            padding-left: 0px;
            padding-right: 0px;
            .side-content {
                padding-bottom: 5%;
                padding-left: 15px;
                padding-right: 15px;
                .wrap-product-list {
                    padding-bottom: 25px;
                    .product-list {
                        margin-top: 15px;
                        margin-bottom: 15px;
                        text-align: center;
                        a {
                            font: 14px AvenirMedium;
                        }
                        img {
                            text-align: center;
                            height: auto;
                            max-height: 184px;
                            width: 100%;
                            max-width: 207px;
                            margin: 0 auto;
                        }
                        h5 {
                            font: 12px AvenirMedium;
                        }
                    }
                }
            }
            /*Product Detail*/
            .side-content-detail {
                padding-bottom: 25%;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 30px;
                h1,
                h2 {
                    margin-bottom: 35px;
                }
                .detail-list {
                    width: 100%;
                    .title {
                        padding-top: 25px;
                        font: 20px AvenirMedium;
                    }
                    .price {
                        padding-top: 25px;
                        font: 30px AvenirRoman;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .title-xs {
        padding-top: 7px;
        padding-left: 30px;
        img {
            float: left;
            margin-right: 5px;
        }
        h3 {
            padding: 0;
            margin: 0;
            font: 8px AvenirRoman;
            color: $BlackColor;
            line-height: 12px;
            font-weight: 700;
            margin-bottom: 2px;
            letter-spacing: 1px;
        }
    }
}

@media only screen and (max-width: 767px) {
    /* #nav{
        height: 50px!important;
    }*/
    .navbar-static {
        border-top: 15px solid #fff;
        /* height: 90px!important;*/
    }
}

.page-content {
    margin: 0;
    padding: 0;
    img {
        margin-top: 5px!important;
        margin-bottom: 0!important;
        padding: 0!important;
        margin-right: 13px;
        max-width: 240px;
        max-height: 300px;
    }
    p {
        margin: 0!important;
        padding: 0!important;
        line-height: 20px;
    }
}

a {
    text-decoration: none!important;
}

// Karya Ilmiah
// .owl-item {
//     background-color: blue;
//     color: white;
//     text-align: center;
//     padding: 5px 0;
//     border: 1px solid #313131;
// }
// .owl-prev {
//     float: left;
//     font-size: 20px;
//     text-transform: uppercase;
//     padding: 20px;
// }
// .owl-next {
//     float: right;
//     font-size: 20px;
//     text-transform: uppercase;
//     padding: 20px;
// }
// .owl-dots {
//     counter-reset: slides-num;  
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-top: 15px;
// }
// .owl-dots:after {
//     content: counter(slides-num);    
//     display: inline-block;
//     font-size: 20px;
//     font-weight: 700;
//     vertical-align: middle;
//     padding-left: 5px;
// }
// .owl-dot {
//     display: inline-block;
//     counter-increment: slides-num;
//     /* Increment counter */
//     margin-right: 5px;
// }
// .owl-dot span {
//     display: none;
// }
// .owl-dot.active:before {
//     content: counter(slides-num) " of";   
//     display: inline-block;
//     vertical-align: middle;
//     font-size: 20px;
//     position: absolute;
//     left: 0;
//     top: 0;
// }
///////////////////////// Kegiatan Diklat
#alertLogin {
    .modal-box {
        font-family: 'Varela Round', sans-serif;
    }
    .modal-box .show-modal {
        color: #222;
        background-color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        padding: 10px 15px;
        margin: 80px auto 0;
        border: none;
        outline: none;
        box-shadow: 0 0 10px #555;
        display: block;
    }
    .modal-box .show-modal:hover,
    .modal-box .show-modal:focus {
        color: #222;
        background-color: #fff;
        border: none;
        outline: none;
        text-decoration: none;
    }
    .modal-backdrop.in {
        opacity: 0.1;
    }
    .modal-box .modal {
        top: 70px !important;
    }
    .modal-box .modal-dialog {
        width: 400px;
        margin: 30px auto 10px;
    }
    .modal-box .modal-dialog .modal-content {
        border-radius: 25px;
        box-shadow: 0 0 25px -8px #555;
    }
    .modal-box .modal-dialog .modal-content .close {
        color: #e74c3c;
        background-color: #fff;
        font-size: 28px;
        text-shadow: none;
        line-height: 33px;
        height: 33px;
        width: 33px;
        opacity: 1;
        border-radius: 50%;
        box-shadow: 0 0 5px #555;
        position: absolute;
        left: auto;
        right: -5px;
        top: -5px;
        z-index: 1;
        transition: all 0.3s;
        outline: none;
    }
    .modal-box .modal-dialog .modal-content .close span {
        margin: -1px 0 0 0;
        display: block;
    }
    .modal-box .modal-dialog .modal-content .close:hover {
        color: #fff;
        background-color: #e74c3c;
    }
    .modal-box .modal-dialog .modal-content .modal-body {
        padding: 50px 20px !important;
    }
    .modal-box .modal-dialog .modal-content .modal-body .icon {
        color: #26de81;
        font-size: 36px;
        text-align: center;
        text-shadow: 4px 0 0 #fff, 0 -3px 0 #fff;
        line-height: 40px;
        height: 50px;
        width: 50px;
        margin: 0 auto 30px;
        position: relative;
        z-index: 1;
    }
    .modal-box .modal-dialog .modal-content .modal-body .icon:after {
        content: '';
        height: 45px;
        width: 45px;
        border: 5px solid #c1c1c1;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        top: 3px;
        z-index: -1;
    }
    .modal-box .modal-dialog .modal-content .modal-body .title {
        margin: 0 0 20px 0;
        font-size: 20px;
        color: #222;
        text-transform: capitalize;
        font-weight: 600;
        text-align: center;
    }
    .modal-box .modal-dialog .modal-content .modal-body .description {
        color: #222;
        text-align: center;
        margin: 0 0 15px;
    }
    @media only screen and (max-width: 768px) {
        .modal-dialog {
            width: 400px !important;
        }
    }
    @media only screen and (max-width: 576px) {
        .modal-dialog {
            width: auto !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    #alertLogin .modal-box {
        padding-left: 15px;
    }
}

.button-daftar-modal {
    border-bottom: 1px solid #337ab7;
    color: #337ab7;
    line-height: 3;
    padding-bottom: 2px;
}

.cb-filter {
    padding-left: 0!important;
}

/////////////// Variables
$BorderDefault:#dadada;
.tb-filter {
    .input-group-addon {
        border-color: $BorderDefault;
    }
}

@media only screen and (max-width: 992px) {
    .cb-filter {
        padding-right: 0!important;
        margin-bottom: 5px;
    }
}

.custom-pagination {
    text-align: left;
    .pagination {
        padding: 0;
        margin: 10px auto;
        li {
            a,
            span {
                border-radius: 0 !important;
                border: none;
                margin: 0 0.5px;
                /*background: #6183b5;*/
                border: 1px solid #ccc;
                color: #4a4a4d;
                &:hover {
                    cursor: pointer;
                    background: #337ab7;
                    border: 1px solid #337ab7;
                    color: #fff;
                }
            }
        }
        .active {
            a {
                background: #337ab7;
                border: 1px solid #337ab7;
                color: #fff;
            }
        }
    }
}

/////////////// Rekapitulasi
.title-custom {
    /* === BASE HEADING === */
    h1 {
        position: relative;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 30px;
        color: #080808;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }
    h1 span {
        display: block;
        font-size: 0.5em;
        line-height: 1.3;
    }
    h1 em {
        font-style: normal;
        font-weight: 600;
    }
    .four h1 {
        text-align: center;
        padding-bottom: 0.7em;
    }
    .four h1 span {
        font-weight: 300;
        word-spacing: 3px;
        line-height: 2em;
        padding-bottom: 0.35em;
        color: rgba(0, 0, 0, 0.5);
    }
    .four h1:before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60px;
        height: 1px;
        content: "";
        left: 50%;
        margin-left: -30px;
        background-color: #777;
    }
    /* -------  Styles -------------*/
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    h1:before,
    h1:after {
        background-color: #c50000;
    }
}

.tb-rekapitulasi {
    img {
        margin: 0!important;
        min-width: 70px;
        max-width: 70px;
        padding-right: 7px;
    }
    @media only screen and (min-width: 767px) {
        thead {
            tr {
                th:last-child {
                    width: 70px;
                }
            }
        }
        tbody tr td {
            padding: 5px!important;
        }
    }
    @media only screen and (max-width: 767px) {
        img {
            margin: 0!important;
            min-width: 50px;
            max-width: 50px;
            padding-right: 10px;
            padding-bottom: 5px;
            display: block;
        }
    }
}

//////////////// Form Pendaftaran
.wrap-diploma.section-reg {
    .akd-table {
        margin: 0;
        margin-bottom: 20px;
        tbody {
            tr {
                margin-bottom: 10px;
                td {
                    vertical-align: top;
                    color: #080808;
                }
                td:first-child {
                    width: 160px;
                }
            }
        }
    }
    .catatan-pendaftaran {
        padding-top: 20px;
        margin-bottom: 30px;
        border-top: 1px solid #333;
        h5 {
            padding: 0;
            margin: 0;
            color: #080808;
            font-weight: 700;
        }
        ol {
            padding: 15px;
            padding-top: 5px;
            color: #080808;
            font-weight: 700;
            font-style: italic;
        }
    }
    .button-daftar {
        border-top: 1px solid #dadada;
        padding-top: 10px;
        .btn-reg {
            font: 14px AvenirRoman;
            border-radius: 3px!important;
            background: #337ab7;
            border: 1px solid #337ab7;
            color: #fff;
            padding: 7px 12px;
            width: auto;
            margin-top: 0px;
            margin-right: 3px;
            outline: none!important;
        }
    }
}

.section-otp-content .wrap-side-content .side-content img {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 110px!important;
    height: 110px!important;
}

.img-circle.img-responsive.img-login {
    width: 100px!important;
    height: 100px!important;
}

.footer {
    background-color: #343a40;
    margin-top: -40px;
    height: auto;
}

.header .header-top {
    background: #fff;
    border-top: none;
    padding: 13px 30px 0px 30px;
    height: 100px;
}

///////////// Filter Pencarian
@media only screen and (max-width: 992px) {
    .tb-filter {
        width: 100%;
        .input-group.col-md-12 {
            margin-right: 0!important;
        }
    }
}

//////////////// Charts
.chart {
    width: 100%;
    min-height: 350px;
}

.wrimagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.wrimagecard .fa {
    position: relative;
    font-size: 20px;
}

.wrimagecard-topimage_header {
    padding: 15px;
}

a.wrimagecard:hover,
.wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.wrimagecard-topimage_title {
    padding: 15px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    background-color: #343a40;
    color: #fff;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

////////////////////////// Spinner
// * {
//     margin: 0;
//     padding: 0;
// }
// .loader {
//     display: none;
//     top: 50%;
//     left: 50%;
//     position: absolute;
//     transform: translate(-50%, -50%);
// }
// .loading {
//     border: 2px solid #ccc;
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     border-top-color: #1ecd97;
//     border-left-color: #1ecd97;
//     animation: spin 1s infinite ease-in;
// }
// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }
.loading-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000000000000000000000!important;
    align-items: center;
    justify-content: center;
}

.loading-overlay.is-active {
    display: flex;
    z-index: 100000000000!important;
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

// ===============================================================================================================================
.navbar-default {
    border-right: 0;
}

.beranda {
    .row.section-pages-banner {
        .col-md-12 {
            padding: 0;
            margin: 0;
        }
    }
    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #fff;
        text-align: center;
        background-color: #5bc0de;
        border: 1px solid #46b8da;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #dadada;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .login-sidebar {
        margin-bottom: 3px!important;
        padding-bottom: 10px!important;
        padding-top: 10px!important;
        border-bottom: none;
        h5 {
            color: #212121;
            font-weight: 700;
        }
        a:first-child {
            font-weight: 700;
            color: #5bc0de;
            font-size: 18px;
        }
        a {
            color: #5bc0de;
            &:hover {
                color: #212121;
            }
        }
    }
    @import "variables.scss";
    /*-==========================================Resetter=========================================-*/
    html,
    body {
        margin: 0;
        padding: 0;
        height: 100% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #222;
        font-family: UbuntuRegular;
    }
    body {
        overflow-x: hidden;
    }
    .reset-col {
        margin: 0;
        padding: 0;
    }
    .container-fluid {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    #wrapper {
        min-height: 100%;
        overflow: hidden !important;
        background: #f5f5f5;
        padding-bottom: 30px;
    }
    a {
        text-decoration: none!important;
    }
     :focus {
        outline: none;
    }
    .scroll-up {
        position: fixed;
        display: none;
        z-index: 999;
        bottom: 1em;
        right: 1em;
        a {
            background-color: rgba(0, 0, 0, 0.5);
            display: block;
            width: 35px;
            height: 35px;
            text-align: center;
            color: #fff;
            font-size: 15px;
            line-height: 30px;
        }
    }
    /*Component Reset*/
     ::-webkit-input-placeholder {
        /* WebKit browsers */
        background-color: #FFF;
    }
     :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        background-color: #FFF;
    }
     ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        background-color: #FFF;
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        background-color: #FFF;
    }
    .centers {
        text-align: center;
    }
    /*General*/
    .main-title {
        color: #222222;
        font-weight: 700;
    }
    /*Footer*/
    .footer {
        margin-left: 160px;
        position: relative;
        background-color: #191919;
        padding-top: 60px;
        padding-bottom: 10px;
        .foot-logo {
            text-align: center;
            img {
                padding-top: 25px;
                padding-bottom: 15px;
                margin: 0 auto;
            }
            a,
            p {
                font-size: 12px;
                color: #7F7F7F;
                line-height: 18px;
                color: #fff;
            }
        }
        .less-footer {
            position: absolute;
            top: 6px;
            width: 100%;
            text-align: center;
            z-index: 100;
            .less-footer-button {
                text-decoration: none;
                padding: 9px 30px;
                background-color: #1f1f1f;
                border-radius: 0px 0px 20px 20px;
                font-size: 12px;
                color: #FFFFFF;
                letter-spacing: 1px;
                line-height: 15px;
            }
        }
        .title {
            font-size: 12px;
            color: #FFFFFF;
            line-height: 15px;
            text-transform: uppercase;
        }
        a,
        p {
            font-size: 13px;
            color: #7F7F7F;
            line-height: 28px;
            &:hover {
                opacity: 0.8;
            }
        }
        .get-apps {
            i {
                width: 20px;
                text-align: center;
            }
        }
    }
    /*General*/
    // Sidebar Right
    .view-more {
        .btn-view-more {
            font-size: 12px;
            float: right;
            color: #427a91;
            i {
                line-height: 14px;
                font-size: 14px;
                padding: 10px 15px;
                padding-left: 5px;
            }
        }
        &:hover {
            opacity: 0.7;
        }
    }
    .fa-info-circle {
        &:hover {
            // color: aqua!important;
            cursor: auto;
        }
    }
    .sumber-link {
        color: #ff4320!important;
        &:hover {
            text-decoration: underline!important;
        }
    }
    .sidebar-right {
        padding: 0;
        margin: 0;
        padding-bottom: 50px;
        .happening-now {
            .mid-title {
                text-transform: uppercase;
                color: #ff411f;
                font-weight: 700;
            }
            background: #fff;
            // box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.3);
            margin-top: 5px;
            padding-bottom: 10px;
            .weather-title {
                border-top: 2px solid #27b7e9;
                border-bottom: 0.5px solid #eee;
                padding: 5px;
                .ibukota {
                    text-transform: uppercase;
                    color: #212121;
                    font-weight: 700;
                    padding-right: 10px;
                }
                .provinsi {
                    text-transform: uppercase;
                    color: #9a9a9a;
                    font-size: 10px;
                }
                .fa-info-circle {
                    margin-top: 3px;
                    color: #9a9a9a;
                }
            }
            .latest-news {
                padding: 10px 15px;
                border-bottom: 2px solid #eee;
                i {
                    margin-right: 10px;
                }
                .caption {
                    color: #9a9a9a;
                    &:hover {
                        color: #212121;
                    }
                }
            }
            .content-list {
                .content-loop {
                    padding: 10px 15px;
                    border-bottom: 2px dotted #eee;
                    .info {
                        .hours {
                            padding: 0;
                            margin: 0;
                            padding-top: 5px;
                            color: #9a9a9a;
                            font-size: 12px;
                        }
                        .category {
                            padding: 0;
                            margin: 0;
                            color: #ff4320;
                            text-transform: uppercase;
                            font-size: 12px;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                    .title-list {
                        .news-title {
                            padding: 0;
                            margin: 0;
                            font-size: 12px;
                            color: #427a91;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
        .weather {
            background: #fff;
            box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.3);
            margin-top: 15px;
            padding-bottom: 10px;
            .weather-title {
                border-top: 2px solid #27b7e9;
                border-bottom: 0.5px solid #eee;
                padding: 5px;
                .ibukota {
                    text-transform: uppercase;
                    color: #212121;
                    font-weight: 700;
                    padding-right: 10px;
                }
                .provinsi {
                    text-transform: uppercase;
                    color: #9a9a9a;
                    font-size: 10px;
                }
                .fa-info-circle {
                    margin-top: 3px;
                    color: #9a9a9a;
                }
            }
            .weather-desc {
                text-align: center;
                padding-bottom: 15px;
                padding-top: 10px;
                img {
                    margin: 0 auto;
                    padding-left: 15px;
                }
                .suhu {
                    padding: 0;
                    margin: 0;
                    padding-top: 15px;
                    padding-bottom: 5px;
                    color: #212121;
                    font-weight: 700;
                    font-size: 22px;
                }
                .kelembaban {
                    padding: 0;
                    margin: 0;
                    color: #9a9a9a;
                    font-size: 10px;
                }
            }
            .weather-day {
                text-align: center;
                img {
                    margin: 0 auto;
                    padding: 10px;
                }
                .days {
                    padding: 0;
                    margin: 0;
                    font-size: 12px;
                    color: #9a9a9a;
                    text-transform: uppercase;
                }
                .suhu {
                    padding: 0;
                    margin: 0;
                    font-size: 10px;
                    color: #212121;
                }
            }
        }
        .bigboard {
            background: #fff;
            box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.3);
            // margin-top: 15px;
            // padding-bottom: 10px;
            .bigboard-title {
                border-top: 2px solid #27b7e9;
                border-bottom: 0.5px solid #eee;
                padding: 5px;
                .mid-title {
                    text-transform: uppercase;
                    color: #ff411f;
                    font-weight: 700;
                }
                span {
                    text-transform: uppercase;
                    color: #212121;
                    font-weight: 700;
                }
                .fa-info-circle {
                    margin-top: 3px;
                    color: #9a9a9a;
                }
            }
            .bigboard-team {
                padding-bottom: 15px;
                padding-top: 10px;
                margin-bottom: 15px;
                img {
                    margin: 0 auto;
                }
                .club {
                    h5 {
                        text-transform: uppercase;
                        padding: 0;
                        margin: 0;
                        padding-top: 20px;
                        padding-bottom: 10px;
                        color: #676767;
                        font-weight: 700;
                        font-size: 14px;
                        border-bottom: 0.5px solid #ebebeb;
                    }
                }
                .final {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-bottom: 0.5px solid #ebebeb;
                    span {
                        color: #999999;
                        font-size: 10px;
                    }
                    .datetimez {
                        padding-top: 5px;
                    }
                }
                .teams-desc {
                    padding-top: 25px;
                    padding-bottom: 15px;
                    border-bottom: 0.5px solid #ebebeb;
                    .teams {
                        margin-bottom: 10px;
                        .team-logo {
                            text-align: center;
                            img {
                                margin: 0 auto;
                                padding-right: 5px;
                            }
                        }
                        .team-title {
                            padding-left: 5px;
                            h6 {
                                text-transform: uppercase;
                                padding: 0;
                                margin: 0;
                                color: #999999;
                                font-size: 9px;
                                padding-top: 3px;
                            }
                            h5 {
                                text-transform: uppercase;
                                padding: 0;
                                margin: 0;
                                color: #666666;
                                font-size: 11px;
                                padding-top: 3px;
                            }
                        }
                        .team-score {
                            text-align: right;
                            h5 {
                                text-transform: uppercase;
                                padding: 0;
                                margin: 0;
                                padding-top: 3px;
                                color: #666666;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .bigboard-btn {
                    text-transform: uppercase;
                    color: #fff;
                    border-radius: 0;
                    background: #27b7e9;
                }
            }
        }
        .populars {
            background: #fff;
            box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.3);
            margin-top: 15px;
            padding-bottom: 10px;
            .populars-title {
                border-top: 2px solid #27b7e9;
                border-bottom: 0.5px solid #eee;
                padding: 5px;
                .controls {
                    /* .active {
                        color: #29b7e9;
                    }*/
                    i {
                        font-size: 20px;
                        padding-left: 3px;
                        color: #29b7e9;
                        &:hover {
                            color: #ff411f;
                        }
                    }
                }
                span {
                    text-transform: uppercase;
                    color: #212121;
                    font-weight: 700;
                }
            }
            .populars-slider {
                .item {
                    padding-top: 15px;
                    .col-item {
                        margin-bottom: 7px;
                    }
                    img {
                        width: 80px;
                        height: 55px;
                        float: left;
                        margin-right: 5px;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    $font-size: 12px;
                    $line-height: 1.2;
                    $lines-to-show: 2;
                    .titles {
                        display: block;
                        display: -webkit-box;
                        max-width: 500px;
                        height: $font-size*$line-height*$lines-to-show;
                        margin: 0 auto;
                        font-size: $font-size;
                        line-height: $line-height;
                        -webkit-line-clamp: $lines-to-show;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #525252;
                    }
                    .titles {
                        padding: 0;
                        margin: 0;
                        color: #212121;
                        font-weight: 700;
                        font-size: 12px;
                        max-height: 40px;
                    }
                    .dates {
                        padding: 0;
                        margin: 0;
                        color: #a7a7a7;
                        font-weight: 700;
                        font-size: 10px;
                        padding-top: 3px;
                    }
                }
            }
        }
    }
    .adv {
        margin-top: 15px;
        img {
            width: 100%;
            &:hover {
                opacity: 0.8;
            }
        }
        h5 {
            text-align: right;
            text-transform: uppercase;
            color: #a7a7a7;
            font-size: 14px;
        }
    }
    .news-slider {
        margin-top: 15px;
        .item {
            width: 100%;
            max-height: 250px;
            img {
                width: 100%;
            }
        }
        .carousel-control {
            top: 50%;
            margin-top: -20px;
            height: 40px;
            width: 30px;
            background: #000;
            font-size: 26px!important;
            color: #fff;
            font-weight: 700;
            &:hover {
                background: #29b7e9;
            }
        }
        .carousel-control.right {
            right: 10px;
        }
        .carousel-control.left {
            left: 10px;
        }
    }
    .subscribes {
        margin-top: 15px;
        border-top: 2px solid #27b7e9;
        border-bottom: 0.5px solid #eee;
        box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.3);
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        h3 {
            padding: 0;
            margin: 0;
            font-size: 16px;
            color: #212121;
            font-weight: 700;
            line-height: 20px;
        }
        h5 {
            color: #676767;
            font-size: 12px;
        }
        input {
            border-radius: 0;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        .btn-subscribes {
            border-radius: 0;
            i {
                margin-right: 7px;
            }
        }
    }
    .btn-more-result {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        .btn-default {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .grid-view {
        img {
            width: 100%;
            padding: 2px;
        }
        .img-box {
            img {
                width: 100%;
                padding: 2px;
                max-height: 160px;
            }
        }
    }
    // Edit Beranda Default
    .section-otp-content {
        padding-left: 0;
        padding-right: 0;
    }
    .col-xs-12.rata {
        padding-left: 0;
        padding-right: 0;
    }
    .col-md-12.reset-col.contact-sidebar {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer {
        margin-left: 0;
        position: relative;
        background-color: #191919;
        padding-top: 60px;
        padding-bottom: 10px;
    }
}

// ======================================================================= Beranda Versi 2
.beranda {
    .sec-home {
        a:hover,
        a:active {
            text-decoration: none;
        }
        a {
            color: #444;
        }
        a:hover {
            transition: all 200ms ease-in-out;
        }
        .search-box {
            padding-left: 175px;
            padding-right: 15px;
            padding-top: 90px;
            input {
                border-radius: 0;
            }
            .right-inner-addon {
                position: relative;
                width: 90%;
                float: right;
            }
            .right-inner-addon input {
                padding-right: 30px;
            }
            .right-inner-addon i {
                position: absolute;
                right: 0px;
                padding: 10px 12px;
                pointer-events: none;
            }
            .menu-toggles {
                float: left;
                width: 10%;
                text-align: center;
                a {
                    color: #ff4320;
                    font-size: 24px;
                }
            }
        }
        .wrap-content {
            padding-left: 175px;
            padding-right: 0px;
            padding-bottom: 10px;
            .navbar-default {
                border-radius: 0;
                .navbar-right {
                    margin-right: 0px;
                }
            }
        }
        .sidebar-left {
            position: fixed;
            float: left;
            width: 160px;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: #191919;
            color: #aaabae;
            font-family: "Segoe UI";
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            z-index: 100000;
            .menu {
                list-style: none;
                margin: 0;
                padding: 0;
                margin-bottom: 20px;
                li {
                    position: relative;
                    margin: 0;
                    font-size: 12px;
                    border-bottom: 1px solid rgba(69, 74, 84, 0.7);
                    padding: 0;
                    padding: 10px 15px;
                    ul {
                        opacity: 0;
                        height: 0px;
                    }
                    a {
                        font-style: normal;
                        font-weight: 400;
                        position: relative;
                        display: block;
                        color: #aaabae;
                        white-space: nowrap;
                        z-index: 2;
                        text-transform: uppercase;
                        &:hover {
                            color: #ffffff;
                            background-color: transparent;
                            transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
                        }
                    }
                    .active>a {
                        background-color: #2b303a;
                        color: #ffffff;
                    }
                }
                ul li {
                    background-color: #222;
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
                li:hover>ul {
                    visibility: visible;
                    opacity: 1;
                }
                li li ul {
                    left: 100%;
                    visibility: hidden;
                    top: -1px;
                    opacity: 0;
                    transition: opacity 0.1s linear;
                }
                li ul {
                    position: absolute;
                    visibility: hidden;
                    left: 100%;
                    top: -1px;
                    background-color: #2b303a;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                    opacity: 0;
                    transition: opacity 0.1s linear;
                    border-top: 1px solid rgba(69, 74, 84, 0.7);
                }
                li li:hover ul {
                    visibility: visible;
                    opacity: 1;
                }
                .fa {
                    margin-right: 5px;
                }
                .fa-angle-double-right,
                .fa-angle-right {
                    padding-top: 3px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .menu-title {
                background: #ff4320!important;
                padding: 5px!important;
                color: #000;
                font-weight: 700;
            }
        }
        .logo {
            width: 100%;
            max-width: 200px;
            padding-top: 16px;
            padding-bottom: 16px;
            box-sizing: border-box;
            text-align: center;
            h4 {
                color: #fff;
                font-size: 16px;
            }
        }
        .sidebar-icon {
            position: relative;
            float: right;
            margin-top: 32px;
            border: 1px solid #454a54;
            text-align: center;
            line-height: 1;
            font-size: 18px;
            padding: 6px 8px;
            border-radius: 3px;
            color: #888;
            background-clip: padding-box;
            text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
        }
        .fa-codepen {
            color: #fff;
            margin-left: 50px;
        }
    }
    .deviders-menu {
        border-top: 1px solid rgba(69, 74, 84, 0.7);
    }
    .deviders-menu-tag {
        border-bottom: 1px solid rgba(69, 74, 84, 0.7);
        padding-top: 10px;
    }
    .banner-sliders {
        z-index: 1;
        padding-top: 15px;
        .item {
            height: 100%;
            max-height: 367px;
            .item-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .2);
                display: block;
            }
            img {
                width: 100%;
            }
            .carousel-caption {
                top: 10%;
            }
            .caption-title {
                font-size: 20px;
                margin-bottom: 10px;
            }
            $font-size: 12px;
            $line-height: 1.4;
            $lines-to-show: 2;
            .caption-desc {
                display: block;
                display: -webkit-box;
                max-width: 1000px;
                height: $font-size*$line-height*$lines-to-show;
                margin: 0 auto;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 100;
            }
            .caption-desc {
                color: #fff;
                font-size: 12px;
                margin: 0 auto;
                padding: 5px;
                margin-bottom: 30px;
            }
            .banner-link {
                color: #fff;
                font-size: 12px;
                background: #29b6eb;
                padding: 10px 25px;
                margin-top: 20px;
                border-radius: 4px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .carousel-control {
            top: 57%;
            background-image: none;
            color: #fff;
            padding: 15px;
        }
    }
    .trending-post {
        background: #fff;
        // box-shadow: 0.3px 0.3px 0.3px 0.1px rgba(0, 0, 0, 0.3);
        margin-top: 15px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
        padding-bottom: 10px;
        .big-post,
        .small-post {
            padding-right: 15px;
            padding-bottom: 7px;
        }
        .fixs {
            position: relative;
            width: 100%;
        }
        img {
            width: 100%;
            &:hover {
                opacity: 0.7;
            }
        }
        .badges {
            position: absolute;
            top: 10px;
            left: 0;
            background: rgba(255, 67, 32, 0.7);
            color: #fff;
            font-size: 12px;
            padding: 5px 20px;
        }
        .img-desc {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: -15px;
            color: #fff;
            font-size: 12px;
            padding: 5px;
            text-align: left;
            background-color: rgba(0, 0, 0, 0.5);
            padding-bottom: 10px;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
            $font-size: 12px;
            $line-height: 2;
            $lines-to-show: 1;
            .img-titles {
                display: block;
                display: -webkit-box;
                max-width: 500px;
                height: $font-size*$line-height*$lines-to-show;
                margin: 0 auto;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 100;
            }
            .img-titles {
                padding: 0;
                margin: 0;
                color: #fff;
                font-size: 12px;
                font-weight: 700;
                margin: 0 auto;
            }
            $font-size: 10px;
            $line-height: 1.4;
            $lines-to-show: 1;
            .img-paragraph {
                display: block;
                display: -webkit-box;
                max-width: 1000px;
                height: $font-size*$line-height*$lines-to-show;
                margin: 0 auto;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 100;
            }
            .img-paragraph {
                padding: 0;
                margin: 0;
                color: #fff;
                font-size: 10px;
                font-weight: 100;
            }
        }
    }
    .top-post {
        background: #fff;
        box-shadow: 0.3px 0.3px 0.3px 0.1px rgba(0, 0, 0, 0.3);
        margin-top: 15px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
        .big-post,
        .small-post {
            padding-right: 15px;
            padding-bottom: 7px;
            margin-bottom: 20px;
        }
        .badges {
            position: absolute;
            top: 10px;
            left: 0;
            background: rgba(255, 67, 32, 0.7);
            color: #fff;
            font-size: 12px;
            padding: 5px 20px;
        }
        .box-post {
            padding-bottom: 15px;
            img {
                width: 100%;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        img {
            padding-right: 0px;
            padding-left: 0px;
            padding-bottom: 10px;
            width: 100%;
            &:hover {
                opacity: 0.7;
            }
        }
        .tp-title {
            padding: 0;
            margin: 0;
            font-size: 14px;
            color: #427a91;
            line-height: 20px;
            &:hover {
                color: #5bc0de;
            }
        }
        .tp-time {
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: #9a9a9a;
            padding-left: 0;
            margin-top: 7px;
        }
    }
    .more-stories {
        background: #fff;
        box-shadow: 0.3px 0.3px 0.3px 0.1px rgba(0, 0, 0, 0.3);
        margin-top: 5px;
        padding-left: 0;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
        .btn-read-more {
            font-size: 12px;
            color: #427a91;
            i {
                line-height: 14px;
                font-size: 14px;
                padding-left: 5px;
            }
            &:hover {
                opacity: 0.7;
            }
        }
        .subtitles {
            margin-bottom: 15px;
            margin-top: 30px;
            border-bottom: 2px solid #143E51;
            .title {
                font-size: 18px;
                font-weight: 700;
                text-transform: capitalize;
            }
        }
        .content {
            .content-loop {
                margin-bottom: 20px;
                hr {
                    border: none;
                    border-bottom: 1px dotted #eee;
                    padding: 0;
                    margin: 0;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .ms-category {
                    text-transform: uppercase;
                    color: #143E51;
                    margin-bottom: 10px;
                    i {
                        line-height: 14px;
                        font-size: 14px;
                        padding-left: 5px;
                    }
                    &:hover {
                        color: #5bc0de;
                    }
                }
                .imgs {
                    padding-right: 15px;
                    img {
                        width: 100%;
                        margin-bottom: 15px;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                $font-size: 14px;
                $line-height: 1.6;
                $lines-to-show: 2;
                .ms-desc {
                    display: block;
                    display: -webkit-box;
                    max-width: 1000px;
                    height: $font-size*$line-height*$lines-to-show;
                    font-size: $font-size;
                    line-height: $line-height;
                    -webkit-line-clamp: $lines-to-show;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 100;
                }
                .ms-desc {
                    padding: 0;
                    margin: 0;
                    color: #427a91;
                    font-size: 14px;
                    font-weight: 300;
                    text-align: left;
                    &:hover {
                        color: #5bc0de;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 768px) {
        .row.is-flex {
            display: flex;
            flex-wrap: wrap;
        }
        .row.is-flex>[class*='col-'] {
            display: flex;
            flex-direction: column;
        }
        .row.is-flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .row.is-flex>[class*='col-'] {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    .more-videos {
        background: #fff;
        box-shadow: 0.3px 0.3px 0.3px 0.1px rgba(0, 0, 0, 0.3);
        margin-top: 15px;
        padding-left: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        .main-title {
            font-size: 18px;
        }
        .btn-read-more {
            font-size: 12px;
            color: #427a91;
            i {
                line-height: 14px;
                font-size: 14px;
                padding-left: 5px;
            }
            &:hover {
                opacity: 0.7;
            }
        }
        .video-post {
            padding-top: 15px;
        }
        .video-content {
            padding-top: 10px;
            margin-bottom: 15px;
            .desc {
                color: #427a91;
            }
            .info-date {
                padding: 0;
                margin: 0;
                font-size: 12px;
                color: #9a9a9a;
                padding-top: 5px;
            }
        }
    }
    @media only screen and (min-width: 767px) {
        .trending-post {
            .img-desc {
                $font-size: 12px;
                $line-height: 1.1;
                $lines-to-show: 2;
                .img-paragraph {
                    display: block;
                    display: -webkit-box;
                    max-width: 500px;
                    height: $font-size*$line-height*$lines-to-show;
                    margin: 0 auto;
                    font-size: $font-size;
                    line-height: $line-height;
                    -webkit-line-clamp: $lines-to-show;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .top-post {
            .tp-title {
                padding: 0;
                margin: 0;
                font-size: 14px;
                color: #427a91;
                padding-bottom: 5px;
                line-height: 20px;
            }
            $font-size: 14px;
            $line-height: 1.3;
            $lines-to-show: 2;
            .tp-title {
                display: block;
                display: -webkit-box;
                max-width: 1000px;
                height: $font-size*$line-height*$lines-to-show;
                margin: 0 auto;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .more-stories {
            .content-loop {
                .desc {
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    span,
                    a,
                    div,
                    p {
                        padding: 0;
                        margin: 0;
                        font-size: 12px;
                        padding-right: 30px;
                        color: #427a91;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                    $font-size: 14px;
                    $line-height: 1.4;
                    $lines-to-show: 3;
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    span,
                    a,
                    div,
                    p {
                        display: block;
                        display: -webkit-box;
                        max-width: 500px;
                        height: $font-size*$line-height*$lines-to-show;
                        margin: 0 auto;
                        font-size: $font-size;
                        line-height: $line-height;
                        -webkit-line-clamp: $lines-to-show;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .latest-post {
            .box-post {
                $font-size: 14px;
                $line-height: 1.2;
                $lines-to-show: 3;
                .post-desc {
                    display: block;
                    display: -webkit-box;
                    max-width: 500px;
                    height: $font-size*$line-height*$lines-to-show;
                    margin: 0 auto;
                    font-size: $font-size;
                    line-height: $line-height;
                    -webkit-line-clamp: $lines-to-show;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #525252;
                }
            }
        }
        .more-videos {
            .video-post {
                padding-right: 10px;
                padding-left: 0px;
            }
            .video-content {
                padding-top: 10px;
                $font-size: 14px;
                $line-height: 1.2;
                $lines-to-show: 2;
                .video-desc {
                    display: block;
                    display: -webkit-box;
                    max-width: 500px;
                    height: $font-size*$line-height*$lines-to-show;
                    margin: 0 auto;
                    font-size: $font-size;
                    line-height: $line-height;
                    -webkit-line-clamp: $lines-to-show;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #525252;
                }
            }
        }
    }
    ////////////////////////////////////////
    .sumber-link {
        color: #ff4320!important;
        &:hover {
            text-decoration: underline!important;
        }
    }
    .sidebar-right {
        padding-bottom: 50px;
        .happening-now {
            .mid-title {
                text-transform: uppercase;
                color: #ff411f;
                font-weight: 700;
            }
            background: #fff;
            margin-top: 15px;
            padding-bottom: 10px;
            .weather-title {
                border-top: 2px solid #27b7e9;
                border-bottom: 0.5px solid #eee;
                padding: 5px;
                .ibukota {
                    text-transform: uppercase;
                    color: #212121;
                    font-weight: 700;
                    padding-right: 10px;
                }
                .provinsi {
                    text-transform: uppercase;
                    color: #9a9a9a;
                    font-size: 10px;
                }
                .fa-info-circle {
                    margin-top: 3px;
                    color: #9a9a9a;
                }
            }
            .latest-news {
                padding: 10px 15px;
                border-bottom: 2px solid #eee;
                i {
                    margin-right: 10px;
                }
                .caption {
                    color: #9a9a9a;
                    &:hover {
                        color: #212121;
                    }
                }
            }
            .content-list {
                .content-loop {
                    padding: 10px 15px;
                    border-bottom: 2px dotted #eee;
                    .info {
                        .hours {
                            padding: 0;
                            margin: 0;
                            padding-top: 5px;
                            color: #9a9a9a;
                            font-size: 12px;
                        }
                        .category {
                            padding: 0;
                            margin: 0;
                            color: #ff4320;
                            text-transform: uppercase;
                            font-size: 12px;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                    .title-list {
                        .news-title {
                            padding: 0;
                            margin: 0;
                            font-size: 12px;
                            color: #427a91;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
        .weather {
            background: #fff;
            box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.3);
            margin-top: 15px;
            padding-bottom: 10px;
            .weather-title {
                border-top: 2px solid #27b7e9;
                border-bottom: 0.5px solid #eee;
                padding: 5px;
                .ibukota {
                    text-transform: uppercase;
                    color: #212121;
                    font-weight: 700;
                    padding-right: 10px;
                }
                .provinsi {
                    text-transform: uppercase;
                    color: #9a9a9a;
                    font-size: 10px;
                }
                .fa-info-circle {
                    margin-top: 3px;
                    color: #9a9a9a;
                }
            }
            .weather-desc {
                text-align: center;
                padding-bottom: 15px;
                padding-top: 10px;
                img {
                    margin: 0 auto;
                    padding-left: 15px;
                }
                .suhu {
                    padding: 0;
                    margin: 0;
                    padding-top: 15px;
                    padding-bottom: 5px;
                    color: #212121;
                    font-weight: 700;
                    font-size: 22px;
                }
                .kelembaban {
                    padding: 0;
                    margin: 0;
                    color: #9a9a9a;
                    font-size: 10px;
                }
            }
            .weather-day {
                text-align: center;
                img {
                    margin: 0 auto;
                    padding: 10px;
                }
                .days {
                    padding: 0;
                    margin: 0;
                    font-size: 12px;
                    color: #9a9a9a;
                    text-transform: uppercase;
                }
                .suhu {
                    padding: 0;
                    margin: 0;
                    font-size: 10px;
                    color: #212121;
                }
            }
        }
        .bigboard {
            background: #fff;
            box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.3);
            margin-top: 15px;
            padding-bottom: 10px;
            .bigboard-title {
                border-top: 2px solid #27b7e9;
                border-bottom: 0.5px solid #eee;
                padding: 5px;
                .mid-title {
                    text-transform: uppercase;
                    color: #ff411f;
                    font-weight: 700;
                }
                span {
                    text-transform: uppercase;
                    color: #212121;
                    font-weight: 700;
                }
                .fa-info-circle {
                    margin-top: 3px;
                    color: #9a9a9a;
                }
            }
            .bigboard-team {
                padding-bottom: 15px;
                padding-top: 10px;
                margin-bottom: 15px;
                img {
                    margin: 0 auto;
                }
                .club {
                    h5 {
                        text-transform: uppercase;
                        padding: 0;
                        margin: 0;
                        padding-top: 20px;
                        padding-bottom: 10px;
                        color: #676767;
                        font-weight: 700;
                        font-size: 14px;
                        border-bottom: 0.5px solid #ebebeb;
                    }
                }
                .final {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-bottom: 0.5px solid #ebebeb;
                    span {
                        color: #999999;
                        font-size: 10px;
                    }
                    .datetimez {
                        padding-top: 5px;
                    }
                }
                .teams-desc {
                    padding-top: 25px;
                    padding-bottom: 15px;
                    border-bottom: 0.5px solid #ebebeb;
                    .teams {
                        margin-bottom: 10px;
                        .team-logo {
                            text-align: center;
                            img {
                                margin: 0 auto;
                                padding-right: 5px;
                            }
                        }
                        .team-title {
                            padding-left: 5px;
                            h6 {
                                text-transform: uppercase;
                                padding: 0;
                                margin: 0;
                                color: #999999;
                                font-size: 9px;
                                padding-top: 3px;
                            }
                            h5 {
                                text-transform: uppercase;
                                padding: 0;
                                margin: 0;
                                color: #666666;
                                font-size: 11px;
                                padding-top: 3px;
                            }
                        }
                        .team-score {
                            text-align: right;
                            h5 {
                                text-transform: uppercase;
                                padding: 0;
                                margin: 0;
                                padding-top: 3px;
                                color: #666666;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .bigboard-btn {
                    text-transform: uppercase;
                    color: #fff;
                    border-radius: 0;
                    background: #27b7e9;
                }
            }
        }
        .populars {
            background: #fff;
            box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.3);
            margin-top: 15px;
            padding-bottom: 10px;
            .populars-title {
                border-top: 2px solid #27b7e9;
                border-bottom: 0.5px solid #eee;
                padding: 5px;
                .controls {
                    /* .active {
                        color: #29b7e9;
                    }*/
                    i {
                        font-size: 20px;
                        padding-left: 3px;
                        color: #29b7e9;
                        &:hover {
                            color: #ff411f;
                        }
                    }
                }
                span {
                    text-transform: uppercase;
                    color: #212121;
                    font-weight: 700;
                }
            }
            .populars-slider {
                .item {
                    padding-top: 15px;
                    .col-item {
                        margin-bottom: 7px;
                    }
                    img {
                        width: 80px;
                        height: 55px;
                        float: left;
                        margin-right: 5px;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    $font-size: 12px;
                    $line-height: 1.2;
                    $lines-to-show: 2;
                    .titles {
                        display: block;
                        display: -webkit-box;
                        max-width: 500px;
                        height: $font-size*$line-height*$lines-to-show;
                        margin: 0 auto;
                        font-size: $font-size;
                        line-height: $line-height;
                        -webkit-line-clamp: $lines-to-show;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #525252;
                    }
                    .titles {
                        padding: 0;
                        margin: 0;
                        color: #212121;
                        font-weight: 700;
                        font-size: 12px;
                        max-height: 40px;
                    }
                    .dates {
                        padding: 0;
                        margin: 0;
                        color: #a7a7a7;
                        font-weight: 700;
                        font-size: 10px;
                        padding-top: 3px;
                    }
                }
            }
        }
    }
    .btn-more-result {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        .btn-default {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .grid-view {
        img {
            width: 100%;
            padding: 2px;
        }
        .img-box {
            img {
                width: 100%;
                padding: 2px;
                max-height: 160px;
            }
        }
    }
    @media only screen and (min-width: 1200px) {
        .ratings-desc {
            padding-left: 0px;
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .ratings-desc {
            padding-left: 25px;
        }
    }
    .diklat-info {
        padding-left: 15px;
    }
    @media only screen and (max-width: 991px) {
        .ratings-desc {
            text-align: center;
        }
        .diklat-info {
            padding-left: 0;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {}
    @media only screen and (min-width: 481px) and (max-width: 767px) {}
    @media only screen and (max-width: 480px) {
        .main-title {
            text-align: center;
        }
        .sec-home {
            .search-box {
                .right-inner-addon {
                    width: 80%;
                }
                .menu-toggles {
                    width: 20%;
                }
            }
        }
    }
    @media only screen and (min-width: 767px) {
        .sec-home {
            .search-box {
                .right-inner-addon {
                    width: 100%;
                }
                .menu-toggles {
                    display: none;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .contact-banner {
            padding-left: 15px;
        }
        /*  .trending-post {
        margin-top: 50px;
    }*/
        .banner-sliders {
            margin-top: 20px;
        }
        .footer {
            margin-left: 0px;
        }
        .sec-home {
            .search-box {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                .right-inner-addon {
                    position: relative;
                }
                .right-inner-addon input {
                    padding-right: 30px;
                }
                .right-inner-addon i {
                    position: absolute;
                    right: 0px;
                    padding: 10px 12px;
                    pointer-events: none;
                }
                .menu-toggles {
                    display: block;
                }
            }
            .wrap-content {
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
                /*padding-top: 30px;*/
                .navbar-default {
                    border-radius: 0;
                    .navbar-right {
                        margin-right: 0px;
                    }
                }
            }
        }
        .adv {
            img {
                width: 100%;
            }
        }
        .news-slider {
            .item {
                height: auto!important;
                img {
                    width: 100%;
                    height: auto!important;
                }
            }
            .carousel-control {
                top: 40%;
            }
        }
        /*===========================Content*/
        .more-stories {
            font-size: 16px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 15px;
            text-align: center;
            border-top: 1px solid #eee;
            .btn-read-more {
                padding-top: 30px;
                width: 100%;
                font-size: 12px;
                color: #427a91;
                text-align: right;
                padding-right: 15px;
            }
            .content-loop {
                .imgs {
                    img {
                        width: 100%;
                        padding-left: 14px;
                        padding-right: 15px;
                    }
                }
                .desc {
                    margin-bottom: 30px;
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    span,
                    a,
                    div,
                    p {
                        padding-right: 15px;
                        text-align: left;
                        padding-left: 14px;
                    }
                }
            }
        }
        .more-videos {
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            .main-title {
                float: none!important;
                text-align: center;
            }
            .btn-read-more {
                padding-top: 30px;
                width: 100%;
                font-size: 12px;
                color: #427a91;
                text-align: right;
            }
            .video-post {
                padding: 0;
                padding-top: 15px;
            }
            .video-content {
                padding-top: 10px;
                text-align: left;
                .desc {
                    text-align: left;
                    padding-left: 0px;
                }
                .info-date {
                    text-align: left;
                }
            }
        }
    }
}

// ========================================================== Beranda COntent
.beranda {
    .about-banner {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .about-content {
        padding: 30px 15px;
        padding-left: 0;
        background: #fff;
        // box-shadow: 0.3px 0.3px 0.3px 0.1px rgba(0, 0, 0, 0.3);
        margin-top: 15px;
        .ac-head {
            text-align: center;
            .black-title {
                color: #222222;
                font-weight: 700;
                font-size: 20px;
            }
            .red-title {
                padding-left: 5px;
                color: #ff4320;
                font-weight: 700;
                font-size: 20px;
            }
            p {
                margin-top: 10px;
                color: #a9a9a9;
                font-style: italic;
            }
            hr {
                width: 300px;
            }
        }
        .ac-mission {
            img {
                width: 100%;
                padding: 5px;
            }
            .acm-numbers {
                padding-left: 5px;
                color: #cccccc;
                font-weight: 700;
                font-size: 28px;
                text-align: center;
            }
            .acm-desc {
                padding-left: 10px;
                padding-right: 5px;
                h6 {
                    color: #ff4320;
                    font-weight: 700;
                    font-size: 14px;
                    font-style: italic;
                }
                h5 {
                    color: #222222;
                    font-weight: 700;
                    font-size: 18px;
                }
                p {
                    color: #666666;
                    font-size: 14px;
                    padding-top: 10px;
                    line-height: 20px;
                }
            }
        }
    }
    .testimoni {
        padding-top: 30px;
        .testi-title {
            position: absolute;
            top: 10px;
            left: 35px;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
        }
        .carousel-inner {
            background-image: url("../../diklat/img/new-home/testimoni.jpg");
            background-repeat: no-repeat;
        }
        .carousel-indicators {
            position: absolute;
            bottom: -10px;
            right: 0;
            left: 0;
            width: 100%;
            z-index: 15;
            margin: 0;
            padding: 0 25px 25px 0;
            text-align: right;
        }
        #quote-carousel .carousel-indicators li {
            background: transparent;
        }
        #quote-carousel .carousel-indicators .active {
            background: #fff;
        }
        .item {
            padding-top: 70px;
            padding-bottom: 50px;
            blockquote {
                border-left: none;
                margin: 0;
                color: #fff;
                font-size: 12px;
                img {
                    border: 3px solid #fff;
                    margin-bottom: 10px;
                    width: 100px;
                    height: 100px;
                }
                i {
                    color: #f74426;
                    font-size: 12px;
                }
            }
            $font-size: 12px;
            $line-height: 1.4;
            $lines-to-show: 5;
            .testi-desc {
                display: block;
                display: -webkit-box;
                max-width: 700px;
                height: $font-size*$line-height*$lines-to-show;
                margin: 0 auto;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .testi-signature {
                font: 20px signature;
                letter-spacing: 10px;
                float: right;
            }
        }
    }
}

.beranda {
    $font-size: 11px;
    $line-height: 1.3;
    $lines-to-show: 4;
    .news-title {
        display: block;
        display: -webkit-box;
        max-width: 500px;
        height: $font-size*$line-height*$lines-to-show;
        margin: 0 auto;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}