@import "variables.scss";
.section-otp-content {
    padding-left: 11%;
    padding-right: 11%;
    .wrap-side-content {
        background: #fff;
        padding: 0;
        margin: 0;
        .side-content {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 5%;
            .contact-group {
                label {
                    padding-top: 7px;
                }
                button,
                input {
                    border-radius: 0px;
                    height: 35px;
                    margin-top: 5px;
                }
                .btn-cari {
                    font: 14px AvenirMedium;
                    border-radius: 3px;
                    background: $BtnColor;
                    border: 1px solid #e7e7e7;
                    color: #fff;
                    padding: 7px 25px;
                    margin-top: 5px;
                    i {
                        padding-right: 5px;
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
            .tinymce-title {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p {
                    padding: 0;
                    margin: 0;
                    margin-top: 25px;
                    color: #4d4d4d;
                    font: 24px AvenirBlack;
                }
            }
            img {
                width: 100%;
                margin-top: 25px;
                margin-bottom: 25px;
            }
            p {
                padding: 0;
                margin: 0;
                margin-bottom: 15px;
                color: #525252;
                font: 12px AvenirRoman;
                line-height: 1.8em;
                text-align: justify;
            }
            .tinymce-subtitle {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p {
                    padding: 0;
                    margin: 0;
                    color: #595959;
                    font: 14px AvenirBlack;
                    padding-top: 30px;
                    padding-bottom: 10px;
                }
            }
        }
        .wrap-directors {
            img {
                float: left;
                width: 85px;
                height: 85px;
                margin-right: 27px;
            }
            h4 {
                padding: 0;
                margin: 0;
                padding-top: 27px;
                padding-bottom: 11px;
                color: #19589f;
                font: 20px AvenirMedium;
            }
            $font-size: 12px;
            $line-height: 1.6;
            $lines-to-show: 3;
            p {
                display: block;
                display: -webkit-box;
                max-width: 1000px;
                height: $font-size*$line-height*$lines-to-show;
                margin: 0 auto;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: AvenirRoman;
                text-align: justify;
                margin-top: 21px;
                color: #525252;
            }
            p {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirRoman;
                line-height: 20px;
            }
        }
        .tinymce-hall {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 24px AvenirMedium;
                padding-top: 20px;
                padding-bottom: 5px;
            }
        }
        .wrap-list-hall {
            padding-top: 25px;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                font: 12px AvenirMedium;
                color: $BlackColor;
                padding-left: 15px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 17px;
                    i {
                        margin-right: 13px;
                        color: #245fa3;
                        font-size: 20px;
                    }
                    a {
                        text-decoration: none;
                        color: #777777;
                        font: 14px AvenirBlack;
                        &:hover {
                            color: #245fa3;
                        }
                    }
                }
            }
        }
        .tinymce-offices {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 24px AvenirMedium;
                padding-top: 20px;
                padding-bottom: 5px;
            }
        }
        .wrap-list-offices {
            padding-top: 15px;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                font: 12px AvenirRoman;
                color: #525252;
                li {
                    padding: 0;
                    margin: 0;
                    border: 1px solid #dadada;
                    border-bottom: none;
                    padding: 15px;
                    a {
                        text-decoration: none;
                        color: #525252;
                        font: 12px AvenirRoman;
                        &:hover {
                            color: #245fa3;
                        }
                    }
                }
                .list-close {
                    border: none;
                    border-top: 1px solid #dadada;
                }
            }
        }
        .tinymce-ac-brief-title {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                margin-top: 25px;
                margin-bottom: 33px;
                color: #525252;
                font: 18px AvenirBook;
            }
        }
        .tinymce-ac-brief {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #808080;
                font: 16px AvenirBook;
                padding-top: 20px;
                padding-bottom: 35px;
            }
        }
        .wrap-bahan-ajar {
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding: 20px 11px 20px 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding: 17px 11px 17px 17px;
                        border: 1px solid #d7d7d7;
                    }
                    &:hover {}
                }
                i {
                    font-size: 24px;
                    &:hover {
                        opacity: 0.7
                    }
                }
                a {
                    font-size: 24px;
                    &:hover {
                        opacity: 0.7
                    }
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding: 17px 5px 17px 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
        }
        .fa-file-excel-o {
            color: #016f2e;
        }
        .fa-file-word-o {
            color: #00108c;
        }
        .fa-file-powerpoint-o {
            color: #df5701;
        }
        .fa-file-pdf-o {
            color: #9d0000;
        }
        .wrap-ac-brief {
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding: 20px 11px 20px 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding: 17px 11px 17px 17px;
                        border: 1px solid #d7d7d7;
                    }
                    &:hover {}
                }
                i {
                    font-size: 35px;
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding: 17px 5px 17px 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
        }
        .tinymce-ac-cs-title {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                margin-top: 25px;
                margin-bottom: 33px;
                color: #525252;
                font: 18px AvenirBook;
            }
        }
        .tinymce-ac-cs-desc {
            padding-top: 40px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                padding-bottom: 7px;
            }
            .standard {
                list-style: none;
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
            .circles {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                list-style-type: circle;
                padding-left: 15px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
        }
        .wrap-ac-cs {
            margin-top: 55px;
            margin-bottom: 55px;
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding: 20px 11px 20px 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding: 17px 11px 17px 17px;
                        border: 1px solid #d7d7d7;
                    }
                    &:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding: 17px 5px 17px 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
            .bottom-content {
                border-bottom: 1px solid #d2d2d2;
                h5 {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirHeavy;
                    margin-top: 55px;
                    margin-bottom: 7px;
                }
                img {
                    padding: 0;
                    margin: 0;
                    height: 19px;
                    width: 23px;
                }
                span {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirBook;
                    margin-top: 5px;
                    padding-left: 0px;
                }
                .left-content {
                    padding-bottom: 17px;
                }
                .center-content {
                    padding-bottom: 17px;
                }
                .right-content {
                    padding-bottom: 17px;
                }
                @media only screen and (min-width: 767px) {
                    .left-content {}
                    .center-content {
                        padding-left: 11%;
                    }
                    .right-content {
                        text-align: right;
                    }
                }
            }
            .btn-sidebar {
                font: 14px AvenirRoman;
                border-radius: 7px;
                background: $BtnColor;
                border: 1px solid $BtnColor;
                color: #fff;
                padding: 13px 0px;
                width: 145px;
                margin-top: 17px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .tinymce-ac-ccna-title {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                margin-top: 25px;
                margin-bottom: 33px;
                color: #525252;
                font: 18px AvenirBook;
            }
        }
        .tinymce-ac-ccna-desc {
            padding-top: 25px;
            p {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                padding-bottom: 7px;
            }
        }
        .wrap-ac-ccna {
            margin-top: 55px;
        }
        .wrap-ac-ccna2 {
            margin-top: 45px;
        }
        .wrap-ac-ccna {
            h5 {
                padding: 0;
                margin: 0;
                color: #8d8d8d;
                font: 14px AvenirBook;
                line-height: 20px;
                padding-top: 21px;
                padding-bottom: 21px;
            }
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding-top: 20px;
                        padding-right: 11px;
                        padding-bottom: 20px;
                        padding-left: 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding: 15px 25px;
                        border: 1px solid #d7d7d7;
                        p {
                            padding: 0;
                            margin: 0;
                            color: #7a7979;
                            font: 12px AvenirBook;
                            line-height: 20px;
                        }
                    }
                    &:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding-top: 17px;
                padding-right: 5px;
                padding-bottom: 17px;
                padding-left: 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
        }
        .wrap-ac-ccna2 {
            h5 {
                padding: 0;
                margin: 0;
                color: #8d8d8d;
                font: 14px AvenirBook;
                line-height: 20px;
                padding-top: 21px;
                padding-bottom: 21px;
            }
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding-top: 20px;
                        padding-right: 11px;
                        padding-bottom: 20px;
                        padding-left: 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding-top: 17px;
                        padding-right: 11px;
                        padding-bottom: 17px;
                        padding-left: 17px;
                        border: 1px solid #d7d7d7;
                    }
                    /*&:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }*/
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding-top: 17px;
                padding-right: 5px;
                padding-bottom: 17px;
                padding-left: 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
            .bottom-content {
                border-bottom: 1px solid #d2d2d2;
                h5 {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirHeavy;
                    margin-top: 70px;
                    margin-bottom: 7px;
                }
                img {
                    padding: 0;
                    margin: 0;
                    height: 19px;
                    width: 23px;
                }
                span {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirBook;
                    margin-top: 5px;
                    padding-left: 0px;
                }
                .left-content {
                    padding-bottom: 17px;
                }
                .center-content {
                    padding-bottom: 17px;
                }
                .right-content {
                    padding-bottom: 17px;
                }
                @media only screen and (min-width: 767px) {
                    .left-content {}
                    .center-content {
                        padding-left: 11%;
                    }
                    .right-content {
                        text-align: right;
                    }
                }
            }
            .btn-sidebar {
                font: 14px AvenirRoman;
                border-radius: 7px;
                background: $BtnColor;
                border: 1px solid $BtnColor;
                color: #fff;
                padding: 13px 0px;
                width: 145px;
                margin-top: 17px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .tinymce-ec-english-desc {
            padding-top: 25px;
            h5 {
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 14px AvenirBook;
                line-height: 20px;
                padding-bottom: 13px;
            }
            p {
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 14px AvenirBook;
                line-height: 20px;
                padding-bottom: 7px;
            }
            .standard {
                list-style: none;
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 14px AvenirBook;
                line-height: 14px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
            .custom {
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 14px AvenirBook;
                line-height: 14px;
                list-style: none;
                padding-left: 0px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
                li:before {
                    content: "> ";
                }
            }
            .circles {
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 14px AvenirBook;
                line-height: 14px;
                list-style: none!important;
                padding-left: 15px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
                li:before {
                    content: "o "!important;
                    padding-left: 11px;
                }
            }
        }
        .wrap-ec-english {
            margin-top: 55px;
            margin-bottom: 55px;
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #4d4d4d;
                        font: 14px AvenirBook;
                        padding-top: 5px;
                        padding-right: 11px;
                        padding-bottom: 5px;
                        padding-left: 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #4d4d4d;
                        font: 14px AvenirBook;
                        padding-top: 5px;
                        padding-right: 11px;
                        padding-bottom: 5px;
                        padding-left: 17px;
                        border: 1px solid #d7d7d7;
                    }
                    /* &:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }*/
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding-top: 11px;
                padding-right: 5px;
                padding-bottom: 11px;
                padding-left: 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
            .bottom-content {
                border-bottom: 1px solid #d2d2d2;
                h5 {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirHeavy;
                    margin-top: 70px;
                    margin-bottom: 7px;
                }
                img {
                    padding: 0;
                    margin: 0;
                    height: 19px;
                    width: 23px;
                }
                span {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirBook;
                    margin-top: 5px;
                    padding-left: 0px;
                }
                .left-content {
                    padding-bottom: 17px;
                }
                .center-content {
                    padding-bottom: 17px;
                }
                .right-content {
                    padding-bottom: 17px;
                }
                @media only screen and (min-width: 767px) {
                    .left-content {}
                    .center-content {
                        padding-left: 11%;
                    }
                    .right-content {
                        text-align: right;
                    }
                }
            }
            .btn-sidebar {
                font: 14px AvenirRoman;
                border-radius: 7px;
                background: $BtnColor;
                border: 1px solid $BtnColor;
                color: #fff;
                padding: 13px 0px;
                width: 145px;
                margin-top: 17px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .tinymce-ac-network-title {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                margin-top: 25px;
                margin-bottom: 33px;
                color: #525252;
                font: 18px AvenirBook;
            }
        }
        .tinymce-ac-network-desc {
            padding-top: 25px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                padding-bottom: 7px;
            }
            .standard {
                list-style: none;
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
            .circles {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                list-style-type: circle;
                padding-left: 15px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
        }
        /*A+*/
        .tinymce-ac-network-desca {
            padding-top: 25px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #353434;
                font: 12px AvenirBook;
                line-height: 20px;
                padding-bottom: 7px;
            }
            .standard {
                list-style: none;
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
            .circles {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                list-style-type: circle;
                padding-left: 15px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
        }
        .wrap-ac-networka {
            margin-top: 11px;
            margin-bottom: 55px;
            .bottom-content {
                border-bottom: 1px solid #d2d2d2;
                h5 {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirHeavy;
                    margin-top: 60px;
                    margin-bottom: 7px;
                }
                img {
                    padding: 0;
                    margin: 0;
                    height: 19px;
                    width: 23px;
                }
                span {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirBook;
                    margin-top: 5px;
                    padding-left: 0px;
                }
                .left-content {
                    padding-bottom: 17px;
                }
                .center-content {
                    padding-bottom: 17px;
                }
                .right-content {
                    padding-bottom: 17px;
                }
                @media only screen and (min-width: 767px) {
                    .left-content {}
                    .center-content {
                        padding-left: 11%;
                    }
                    .right-content {
                        text-align: right;
                    }
                }
            }
            .btn-sidebar {
                font: 14px AvenirRoman;
                border-radius: 7px;
                background: $BtnColor;
                border: 1px solid $BtnColor;
                color: #fff;
                padding: 13px 0px;
                width: 145px;
                margin-top: 17px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .tinymce-ac-network-divtable {
            margin-top: 40px;
            border: 1px solid #d7d7d7;
            border-radius: 3px;
            .div-head {
                background: #e9ebec;
                border-bottom: 1px solid #d9d9d9;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                span {
                    padding: 0;
                    margin: 0;
                    color: #8d8d8d;
                    font: 12px AvenirBook;
                    line-height: 20px;
                    padding-left: 21px;
                    padding-top: 21px;
                    padding-bottom: 21px;
                }
            }
            .div-content {
                background: #fafafa;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                span {
                    padding: 0;
                    margin: 0;
                    color: #8d8d8d;
                    font: 12px AvenirBook;
                    line-height: 20px;
                    padding-left: 21px;
                    padding-top: 21px;
                    padding-bottom: 21px;
                }
            }
        }
        .wrap-ac-network {
            margin-top: 55px;
            margin-bottom: 55px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #8d8d8d;
                font: 14px AvenirBook;
                line-height: 20px;
                padding-top: 21px;
                padding-bottom: 21px;
            }
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding-top: 20px;
                        padding-right: 11px;
                        padding-bottom: 20px;
                        padding-left: 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding-top: 17px;
                        padding-right: 11px;
                        padding-bottom: 17px;
                        padding-left: 17px;
                        border: 1px solid #d7d7d7;
                    }
                    &:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding-top: 17px;
                padding-right: 5px;
                padding-bottom: 17px;
                padding-left: 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
            .bottom-content {
                border-bottom: 1px solid #d2d2d2;
                h5 {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirHeavy;
                    margin-top: 70px;
                    margin-bottom: 7px;
                }
                img {
                    padding: 0;
                    margin: 0;
                    height: 19px;
                    width: 23px;
                }
                span {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirBook;
                    margin-top: 5px;
                    padding-left: 0px;
                }
                .left-content {
                    padding-bottom: 17px;
                }
                .center-content {
                    padding-bottom: 17px;
                }
                .right-content {
                    padding-bottom: 17px;
                }
                @media only screen and (min-width: 767px) {
                    .left-content {}
                    .center-content {
                        padding-left: 11%;
                    }
                    .right-content {
                        text-align: right;
                    }
                }
            }
            .btn-sidebar {
                font: 14px AvenirRoman;
                border-radius: 7px;
                background: $BtnColor;
                border: 1px solid $BtnColor;
                color: #fff;
                padding: 13px 0px;
                width: 145px;
                margin-top: 17px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .tinymce-au-pup-title {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                margin-top: 25px;
                margin-bottom: 33px;
                color: #525252;
                font: 18px AvenirBook;
            }
        }
        .tinymce-au-pup-desc {
            padding-top: 40px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #353434;
                font: 18px AvenirBook;
                line-height: 24px;
                padding-bottom: 7px;
            }
            h5 {
                padding-bottom: 20px;
            }
        }
        /*Qc-Secretary*/
        .tinymce-qc-secretary-desc {
            padding-top: 25px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                padding-bottom: 7px;
            }
            .standard {
                list-style: none;
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
            .circles {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                list-style-type: circle;
                padding-left: 15px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
            ol {
                padding: 0;
                margin: 0;
                padding-left: 15px;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                li {
                    padding: 0;
                    margin: 0;
                    color: #525252;
                    font: 12px AvenirBook;
                    line-height: 20px;
                }
            }
        }
        .wrap-qc-secretary {
            margin-top: 55px;
            margin-bottom: 15px;
            .bottom-content {
                border-bottom: 1px solid #d2d2d2;
                h5 {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirHeavy;
                    margin-top: 15px;
                    margin-bottom: 7px;
                }
                img {
                    padding: 0;
                    margin: 0;
                    height: 19px;
                    width: 23px;
                }
                span {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirBook;
                    margin-top: 5px;
                    padding-left: 0px;
                }
                .left-content {
                    padding-bottom: 17px;
                }
                .center-content {
                    padding-bottom: 17px;
                }
                .right-content {
                    padding-bottom: 17px;
                }
                @media only screen and (min-width: 767px) {
                    .left-content {}
                    .center-content {
                        padding-left: 11%;
                    }
                    .right-content {
                        text-align: right;
                    }
                }
            }
            .btn-sidebar {
                font: 14px AvenirRoman;
                border-radius: 7px;
                background: $BtnColor;
                border: 1px solid $BtnColor;
                color: #fff;
                padding: 13px 0px;
                width: 145px;
                margin-top: 17px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .wrap-au-pup {
            margin-top: 55px;
            margin-bottom: 15px;
            .sub {
                padding: 0;
                margin: 0;
                color: #8d8d8d;
                font: 14px AvenirBook;
                line-height: 20px;
            }
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding-top: 20px;
                        padding-right: 11px;
                        padding-bottom: 20px;
                        padding-left: 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding-top: 17px;
                        padding-right: 11px;
                        padding-bottom: 17px;
                        padding-left: 17px;
                        border: 1px solid #d7d7d7;
                    }
                    &:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding-top: 17px;
                padding-right: 5px;
                padding-bottom: 17px;
                padding-left: 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables-top table,
                #no-more-tables-top thead,
                #no-more-tables-top tbody,
                #no-more-tables-top th,
                #no-more-tables-top td,
                #no-more-tables-top tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables-top thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables-top tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables-top td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables-top td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables-top td:before {
                    content: attr(data-title);
                }
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                font: 12px AvenirBook;
                color: #8d8d8d;
                line-height: 20px;
                li {
                    padding: 0;
                    margin: 0;
                }
            }
            .bottom-content {
                border-bottom: 1px solid #d2d2d2;
                h5 {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirHeavy;
                    margin-top: 55px;
                    margin-bottom: 7px;
                }
                img {
                    padding: 0;
                    margin: 0;
                    height: 19px;
                    width: 23px;
                }
                span {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirBook;
                    margin-top: 5px;
                    padding-left: 0px;
                }
                .left-content {
                    padding-bottom: 17px;
                }
                .center-content {
                    padding-bottom: 17px;
                }
                .right-content {
                    padding-bottom: 17px;
                }
                @media only screen and (min-width: 767px) {
                    .left-content {}
                    .center-content {
                        padding-left: 11%;
                    }
                    .right-content {
                        text-align: right;
                    }
                }
            }
            .btn-sidebar {
                font: 14px AvenirRoman;
                border-radius: 7px;
                background: $BtnColor;
                border: 1px solid $BtnColor;
                color: #fff;
                padding: 13px 0px;
                width: 145px;
                margin-top: 17px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .tinymce-ac-ccnp-title {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                margin-top: 25px;
                margin-bottom: 33px;
                color: #525252;
                font: 18px AvenirBook;
            }
        }
        .tinymce-ac-ccnp-desc {
            padding-top: 25px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                padding-bottom: 7px;
            }
            .standard {
                list-style: none;
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
            .circles {
                padding: 0;
                margin: 0;
                color: #525252;
                font: 12px AvenirBook;
                line-height: 20px;
                list-style-type: circle;
                padding-left: 15px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
        }
        .tinymce-ac-ccnp-divtable {
            margin-top: 40px;
            border: 1px solid #d7d7d7;
            border-radius: 3px;
            .div-head {
                background: #e9ebec;
                border-bottom: 1px solid #d9d9d9;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                span {
                    padding: 0;
                    margin: 0;
                    color: #8d8d8d;
                    font: 12px AvenirBook;
                    line-height: 20px;
                    padding-left: 21px;
                    padding-top: 21px;
                    padding-bottom: 21px;
                    text-align: center;
                }
            }
            .div-content {
                background: #fafafa;
                border: 1px solid #d9d9d9;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                span {
                    padding: 0;
                    margin: 0;
                    color: #8d8d8d;
                    font: 12px AvenirBook;
                    line-height: 20px;
                    /*padding-left: 21px;
                    padding-top: 21px;
                    padding-bottom: 21px;*/
                }
                .left-dc {
                    border-right: 1px solid #d9d9d9;
                    padding-right: 5px;
                    padding-left: 5px;
                }
                .right-dc {
                    padding-right: 5px;
                    padding-left: 5px;
                }
                .deci {
                    list-style-type: decimal;
                    padding: 0;
                    margin: 0;
                    padding-left: 21px;
                    padding-top: 21px;
                    padding-bottom: 21px;
                    li {
                        padding: 0;
                        margin: 0;
                        color: #8d8d8d;
                        font: 12px AvenirBook;
                        line-height: 20px;
                    }
                }
            }
        }
        .wrap-ac-ccnp {
            margin-top: 55px;
            margin-bottom: 55px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #8d8d8d;
                font: 14px AvenirBook;
                line-height: 20px;
                padding-top: 21px;
                padding-bottom: 21px;
            }
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding-top: 20px;
                        padding-right: 11px;
                        padding-bottom: 20px;
                        padding-left: 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding-top: 17px;
                        padding-right: 11px;
                        padding-bottom: 17px;
                        padding-left: 17px;
                        border: 1px solid #d7d7d7;
                    }
                    &:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding-top: 17px;
                padding-right: 5px;
                padding-bottom: 17px;
                padding-left: 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
            .bottom-content {
                border-bottom: 1px solid #d2d2d2;
                h5 {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirHeavy;
                    margin-top: 70px;
                    margin-bottom: 7px;
                }
                img {
                    padding: 0;
                    margin: 0;
                    height: 19px;
                    width: 23px;
                }
                span {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirBook;
                    margin-top: 5px;
                    padding-left: 0px;
                }
                .left-content {
                    padding-bottom: 17px;
                }
                .center-content {
                    padding-bottom: 17px;
                }
                .right-content {
                    padding-bottom: 17px;
                }
                @media only screen and (min-width: 767px) {
                    .left-content {}
                    .center-content {
                        padding-left: 11%;
                    }
                    .right-content {
                        text-align: right;
                    }
                }
            }
            .btn-sidebar {
                font: 14px AvenirRoman;
                border-radius: 7px;
                background: $BtnColor;
                border: 1px solid $BtnColor;
                color: #fff;
                padding: 13px 0px;
                width: 145px;
                margin-top: 17px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .tinymce-diploma-title {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                margin-top: 25px;
                margin-bottom: 33px;
                color: #525252;
                font: 18px AvenirBook;
            }
        }
        .wrap-diploma {
            margin-top: 55px;
            margin-bottom: 55px;
            h4 {
                padding: 0;
                margin: 0;
                color: #8d8d8d;
                font: 14px AvenirBook;
                line-height: 20px;
                padding-top: 21px;
                padding-bottom: 21px;
            }
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding-top: 20px;
                        padding-right: 11px;
                        padding-bottom: 20px;
                        padding-left: 17px;
                    }
                }
            }
            .top-head {
                text-align: center;
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding-top: 17px;
                        padding-right: 11px;
                        padding-bottom: 17px;
                        padding-left: 17px;
                        border: 1px solid #d7d7d7;
                    }
                    &:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding-top: 17px;
                padding-right: 5px;
                padding-bottom: 17px;
                padding-left: 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
            .bottom-content {
                border-bottom: 1px solid #d2d2d2;
                h5 {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirHeavy;
                    margin-top: 70px;
                    margin-bottom: 7px;
                }
                img {
                    padding: 0;
                    margin: 0;
                    height: 19px;
                    width: 23px;
                }
                span {
                    padding: 0;
                    margin: 0;
                    color: #7a7979;
                    font: 12px AvenirBook;
                    margin-top: 5px;
                    padding-left: 0px;
                }
                .left-content {
                    padding-bottom: 17px;
                }
                .center-content {
                    padding-bottom: 17px;
                }
                .right-content {
                    padding-bottom: 17px;
                }
                @media only screen and (min-width: 767px) {
                    .left-content {}
                    .center-content {
                        padding-left: 11%;
                    }
                    .right-content {
                        text-align: right;
                    }
                }
            }
            .btn-sidebar {
                font: 14px AvenirRoman;
                border-radius: 7px;
                background: $BtnColor;
                border: 1px solid $BtnColor;
                color: #fff;
                padding: 13px 0px;
                width: 145px;
                margin-top: 17px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .tinymce-diploma-desc {
            margin-top: 75px;
        }
        .tinymce-diploma-desc2 {
            margin-top: 25px;
        }
        .tinymce-diploma-desc,
        .tinymce-diploma-desc2 {
            h5 {
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 14px AvenirBook;
                line-height: 20px;
                padding-bottom: 13px;
            }
            .standard {
                list-style: none;
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 14px AvenirBook;
                line-height: 14px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
            }
            .custom {
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 14px AvenirBook;
                line-height: 14px;
                list-style: none;
                padding-left: 15px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
                li:before {
                    content: "> ";
                }
            }
            .circles {
                padding: 0;
                margin: 0;
                color: #4d4d4d;
                font: 14px AvenirBook;
                line-height: 14px;
                list-style: none!important;
                padding-left: 15px;
                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 5px;
                }
                li:before {
                    content: "o "!important;
                    padding-left: 11px;
                }
            }
        }
        .tinymce-qc-brief {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #808080;
                font: 12px AvenirBook;
                padding-top: 20px;
                padding-bottom: 11px;
            }
        }
        .tinymce-qc-desc {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span {
                padding: 0;
                margin: 0;
                color: #808080;
                font: 12px AvenirBook;
                padding-bottom: 33px;
                line-height: 24px;
            }
        }
        .wrap-qc-brief {
            thead {
                background: #eaebec;
                border: 1px solid #d7d7d7;
                tr {
                    th {
                        padding: 0;
                        margin: 0;
                        color: #7a7979;
                        font: 12px AvenirBook;
                        padding: 20px 11px 20px 17px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0;
                        margin: 0;
                        color: #5b666a;
                        font: 12px AvenirBook;
                        padding: 17px 11px 17px 17px;
                        border: 1px solid #d7d7d7;
                    }
                    &:hover {
                        background: #eaebec;
                        cursor: pointer;
                    }
                }
            }
            .numbers {
                text-align: center;
                padding: 0;
                margin: 0;
                padding: 17px 5px 17px 5px;
            }
            @media only screen and (max-width: 800px) {
                /* Force table to not be like tables anymore */
                #no-more-tables table,
                #no-more-tables thead,
                #no-more-tables tbody,
                #no-more-tables th,
                #no-more-tables td,
                #no-more-tables tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #no-more-tables thead tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                #no-more-tables tr {
                    border: 1px solid #ccc;
                }
                #no-more-tables td {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    white-space: normal;
                    text-align: left;
                }
                #no-more-tables td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 17px;
                    left: 11px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                }
                #no-more-tables td:before {
                    content: attr(data-title);
                }
            }
        }
        .tinymce-reg-title {
            margin-top: 25px;
            .title-left {
                padding: 0;
                margin: 0;
                color: #595959;
                font: 24px AvenirBlack;
            }
            .title-right {
                padding: 0;
                margin: 0;
                color: #595959;
                font: 24px AvenirLight;
            }
        }
    }
}

.combo-pencarian {
    padding-top: 35px;
    padding-bottom: 11px;
    z-index: 1000000000!important;
    span {
        margin-right: 11px;
    }
}


/*Alumni Detail*/

.left-sub {
    text-align: right;
    color: #595959;
    font: 14px AvenirMedium;
    font-weight: 700;
}

.right-sub {
    text-align: left;
    padding-left: 5px;
    color: #595959;
    font: 14px AvenirMedium;
    font-weight: 700;
}


/*User Page*/

.wrap-user {
    .user-row {
        margin-bottom: 14px;
    }
    .user-row:last-child {
        margin-bottom: 0;
    }
    .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }
    .dropdown-user:hover {
        cursor: pointer;
    }
    .table-user-information>tbody>tr {
        border-top: 1px solid rgb(221, 221, 221);
    }
    .table-user-information>tbody>tr:first-child {
        border-top: 0;
    }
    .table-user-information>tbody>tr>td {
        border-top: 0;
    }
    .toppad {
        margin-top: 20px;
    }
    .panel-footer {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .btn-sidebar {
        font: 12px AvenirRoman;
        border-radius: 2px;
        background: $BtnColor;
        border: 1px solid $BtnColor;
        color: #fff;
        padding: 11px 15px;
        &:hover {
            opacity: 0.7;
        }
    }
}

.user-foot {
    font-size: 10px;
    text-align: right;
}

.reset-password {
    .input-group {
        margin-bottom: 5px;
    }
}