/*-==========================================Variables=========================================-*/

@font-face {
    font-family: AvenirMedium;
    src: url(../fonts/Avenir-Medium.ttf);
}

@font-face {
    font-family: AvenirBook;
    src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../fonts/Avenir-Black.ttf);
}

@font-face {
    font-family: AvenirBlackOblique;
    src: url(../fonts/Avenir-BlackOblique.ttf);
}

@font-face {
    font-family: AvenirRoman;
    src: url(../fonts/Avenir-Roman.ttf);
}

@font-face {
    font-family: AvenirHeavy;
    src: url(../fonts/Avenir-Heavy.ttf);
}

$BlackColor:#000000;
$ThemeColor:#b1bbbd;
$TitleColor:#595959;
$BtnColor:#5bc0de;
$DetailContactColor:#202020;